Repository sei-protocol/sei-js: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, proto, registry

codecov.yml:

flags:
  core:
    paths:
      - packages/cosmjs/**
  react:
    paths:
      - packages/evm/**
  proto:
    paths:
      - packages/proto/**
  registry:
    paths:
      - packages/registry/**

coverage:
  status:
    project:
      core:
        target: 80%
        flags:
          - cosmjs
      react:
        target: 80%
        flags:
          - evm
      proto:
        target: 80%
        flags:
          - proto
      registry:
        target: 80%
        flags:
          - registry

readme changes
  packages/create-sei/CHANGELOG.md
  packages/create-sei/package.json
  packages/create-sei/templates/vite-cosmos-template/README.md
  packages/create-sei/templates/vite-wagmi-template/README.md
Due: none

add options and app
  packages/create-sei/CHANGELOG.md
  packages/create-sei/package.json
  packages/create-sei/src/main.ts
  yarn.lock
Due: none

changes
  packages/create-sei/CHANGELOG.md
  packages/create-sei/package.json
  packages/create-sei/src/main.ts
Due: none

distribution and staking precompile changes
  .changeset/fair-emus-complain.md
  packages/evm/README.md
  packages/evm/src/precompiles/distribution.ts
  packages/evm/src/precompiles/staking.ts
Due: react

update templates
  packages/create-sei/templates/next-cosmos-template/src/app/components/Homepage/Examples.tsx
  packages/create-sei/templates/next-cosmos-template/src/app/index.css
  packages/create-sei/templates/next-cosmos-template/src/app/layout.tsx
  packages/create-sei/templates/next-wagmi-template/public/next.svg
  packages/create-sei/templates/next-wagmi-template/public/vercel.svg
  packages/create-sei/templates/next-wagmi-template/src/app/components/Homepage/Examples.tsx
  packages/create-sei/templates/next-wagmi-template/src/app/constants/chain.ts
  packages/create-sei/templates/next-wagmi-template/src/app/favicon.ico
  packages/create-sei/templates/next-wagmi-template/src/app/index.css
  packages/create-sei/templates/next-wagmi-template/src/app/layout.tsx
  packages/create-sei/templates/next-wagmi-template/yarn.lock
  packages/create-sei/templates/vite-cosmos-template/.gitignore
  packages/create-sei/templates/vite-cosmos-template/favicon.ico
  packages/create-sei/templates/vite-cosmos-template/index.html
  packages/create-sei/templates/vite-cosmos-template/public/vite.svg
  packages/create-sei/templates/vite-cosmos-template/src/components/Homepage/Examples.tsx
  packages/create-sei/templates/vite-cosmos-template/src/index.css
  packages/create-sei/templates/vite-wagmi-template/.gitignore
  packages/create-sei/templates/vite-wagmi-template/favicon.ico
  packages/create-sei/templates/vite-wagmi-template/index.html
  packages/create-sei/templates/vite-wagmi-template/public/vite.svg
  packages/create-sei/templates/vite-wagmi-template/src/components/Homepage/Examples.tsx
  packages/create-sei/templates/vite-wagmi-template/src/constants/chain.ts
  packages/create-sei/templates/vite-wagmi-template/src/index.css
  packages/create-sei/templates/vite-wagmi-template/yarn.lock
Due: none

changeset
  .changeset/tame-jeans-look.md
  packages/create-sei/CHANGELOG.md
  packages/create-sei/package.json
Due: none

distribution and staking precompile changes (#189)
  .changeset/fair-emus-complain.md
  packages/evm/README.md
  packages/evm/src/precompiles/distribution.ts
  packages/evm/src/precompiles/staking.ts
Due: react

new module for ledger related utils
  packages/ledger/.eslintignore
  packages/ledger/.gitkeep
  packages/ledger/.npmignore
  packages/ledger/README.md
  packages/ledger/eslintrc.json
  packages/ledger/jest.config.ts
  packages/ledger/package.json
  packages/ledger/src/index.ts
  packages/ledger/src/wallet/index.ts
  packages/ledger/src/wallet/utils.ts
  packages/ledger/tsconfig.declaration.json
  packages/ledger/tsconfig.json
  yarn.lock
Due: none

pass with not tests
  packages/ledger/package.json
Due: none

Add method docs
  packages/ledger/src/wallet/utils.ts
Due: none

changeset
  .changeset/silver-bugs-itch.md
Due: none

Switch to offline signer implementation instead
  packages/ledger/README.md
  packages/ledger/src/wallet/utils.ts
Due: none

Address review comments
  packages/ledger/README.md
  packages/ledger/src/cosmos/index.ts
  packages/ledger/src/cosmos/seiLedgerOfflineAminoSigner.ts
  packages/ledger/src/cosmos/utils.ts
  packages/ledger/src/index.ts
  packages/ledger/src/wallet/index.ts
Due: none

new module for ledger related utils (#193)
  .changeset/silver-bugs-itch.md
  packages/ledger/.eslintignore
  packages/ledger/.gitkeep
  packages/ledger/.npmignore
  packages/ledger/README.md
  packages/ledger/eslintrc.json
  packages/ledger/jest.config.ts
  packages/ledger/package.json
  packages/ledger/src/cosmos/index.ts
  packages/ledger/src/cosmos/seiLedgerOfflineAminoSigner.ts
  packages/ledger/src/cosmos/utils.ts
  packages/ledger/src/index.ts
  packages/ledger/tsconfig.declaration.json
  packages/ledger/tsconfig.json
  yarn.lock
Due: none

Finished express action template
  packages/create-sei/package.json
  packages/create-sei/src/main.ts
  packages/create-sei/templates/express-action-template/.env
  packages/create-sei/templates/express-action-template/.nvmrc
  packages/create-sei/templates/express-action-template/README.md
  packages/create-sei/templates/express-action-template/biome.json
  packages/create-sei/templates/express-action-template/package.json
  packages/create-sei/templates/express-action-template/postman-collection.json
  packages/create-sei/templates/express-action-template/src/api/routers/__tests__/actions.test.ts
  packages/create-sei/templates/express-action-template/src/api/routers/__tests__/donate.test.ts
  packages/create-sei/templates/express-action-template/src/api/routers/__tests__/staking.test.ts
  packages/create-sei/templates/express-action-template/src/api/routers/actions.ts
  packages/create-sei/templates/express-action-template/src/api/routers/donate.ts
  packages/create-sei/templates/express-action-template/src/api/routers/index.ts
  packages/create-sei/templates/express-action-template/src/api/routers/staking.ts
  packages/create-sei/templates/express-action-template/src/index.ts
  packages/create-sei/templates/express-action-template/src/server.ts
  packages/create-sei/templates/express-action-template/tsconfig.json
  packages/create-sei/templates/express-action-template/vite.config.mts
  packages/create-sei/templates/express-action-template/yarn.lock
  yarn.lock
Due: none

Added changeset
  .changeset/rich-islands-arrive.md
Due: none

Cleaned up routers imports and request variables, added basic staking tests
  packages/actions/jest.config.ts
  packages/actions/src/__tests__/types.spec.ts
  packages/create-sei/templates/express-action-template/src/api/routers/donate.ts
  packages/create-sei/templates/express-action-template/src/api/routers/staking.ts
Due: none

Added changeset
  .changeset/fast-trees-wash.md
Due: none

Added EVM tx type interfaces and chain type to actions standard interfaces
  packages/actions/package.json
  packages/actions/src/types.ts
  yarn.lock
Due: none

Added codecov repots to new packages
  codecov.yml
Due: none

Fixed linting issue
  packages/create-sei/templates/express-action-template/package.json
Due: none

Added .gitignore to express template
  packages/create-sei/templates/express-action-template/.gitignore
Due: none

Add @sei-js/actions package
  packages/actions/package.json
  packages/actions/src/index.ts
  packages/actions/src/types.ts
  packages/actions/tsconfig.json
  yarn.lock
Due: none

Add wallet utility functions and test
  packages/evm/README.md
  packages/evm/package.json
  packages/evm/src/index.ts
  packages/evm/src/utils/index.ts
  packages/evm/src/utils/walletUtils.spec.ts
  packages/evm/src/utils/walletUtils.ts
  packages/evm/tsconfig.json
Due: react

modified: yarn.lock
  yarn.lock
Due: none

new file: .changeset/nasty-radios-warn.md modified: package.json modified: packages/evm/package.json modified: packages/evm/src/utils/walletUtils.ts modified: yarn.lock
  .changeset/nasty-radios-warn.md
  package.json
  packages/evm/package.json
  packages/evm/src/utils/walletUtils.ts
  yarn.lock
Due: react

Fixed build and added new types
  packages/blink-ui/package.json
  packages/blink-ui/rollup.config.mjs
  packages/blink-ui/src/BlinkCard.tsx
  packages/blink-ui/src/index.ts
  packages/blink-ui/src/utils.ts
  packages/blink-ui/tsconfig.json
Due: none

Added changeset
  .changeset/healthy-icons-divide.md
  packages/actions/package.json
  packages/actions/src/__tests__/types.spec.ts
  packages/actions/src/index.ts
  packages/actions/src/types.ts
  packages/blink-ui/package.json
  yarn.lock
Due: none

removed private tag and added changeset for actions release
  .changeset/giant-badgers-judge.md
  package.json
Due: none

precompile additions
  packages/evm/README.md
  packages/evm/src/precompiles/address.ts
Due: react

changeset
  .changeset/dry-parents-provide.md
Due: none

Token factory allow list proto changes
  packages/proto/proto/tokenfactory/query.proto
  packages/proto/proto/tokenfactory/tx.proto
  packages/proto/src/codegen/tokenfactory/query.lcd.ts
  packages/proto/src/codegen/tokenfactory/query.rpc.Query.ts
  packages/proto/src/codegen/tokenfactory/query.ts
  packages/proto/src/codegen/tokenfactory/tx.amino.ts
  packages/proto/src/codegen/tokenfactory/tx.registry.ts
  packages/proto/src/codegen/tokenfactory/tx.rpc.msg.ts
  packages/proto/src/codegen/tokenfactory/tx.ts
Due: proto

change set
  .changeset/bright-trains-rule.md
Due: none

include bank proto changes
  packages/proto/proto/cosmos/bank/v1beta1/bank.proto
  packages/proto/src/codegen/cosmos/bank/v1beta1/bank.ts
  packages/proto/src/codegen/tokenfactory/query.ts
  packages/proto/src/codegen/tokenfactory/tx.ts
Due: proto

add comment to proto
  packages/proto/proto/cosmos/bank/v1beta1/bank.proto
  packages/proto/src/codegen/cosmos/bank/v1beta1/bank.ts
Due: proto

Updated ledger to newer versions of libraries
  .yarn/install-state.gz
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  package.json
  packages/cosmjs/package.json
  packages/create-sei/.yarn/install-state.gz
  packages/create-sei/package.json
  packages/create-sei/yarn.lock
  packages/evm/package.json
  packages/ledger/package.json
  packages/ledger/rollup.config.mjs
  packages/ledger/src/cosmos/seiLedgerOfflineAminoSigner.ts
  packages/ledger/src/cosmos/utils.ts
  packages/ledger/tsconfig.declaration.json
  packages/ledger/tsconfig.json
  packages/proto/package.json
  packages/registry/package.json
  yarn.lock
Due: core, react, proto, registry

update readme comment
  packages/evm/README.md
Due: react

Add Associate methods to Addr Precompile (#196)
  .changeset/dry-parents-provide.md
  packages/evm/README.md
  packages/evm/src/precompiles/address.ts
Due: react
