Repository sei-protocol/sei-js: changes, and which Codecov flags are due for each by the changed paths.
All: create-sei, precompiles, ledger, registry, sei-global-wallet

fix(mcp-server): preserve hex identifiers after migration
  REVIEW.md
  biome.json
  package.json
  packages/mcp-server/src/core/chains.ts
  packages/mcp-server/src/core/resources.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/tests/core/chains.test.ts
  packages/mcp-server/src/tests/core/resources.test.ts
  packages/mcp-server/src/tests/core/services/transfer.test.ts
  packages/mcp-server/src/tests/server/transport/factory.test.ts
  scripts/check-mcp-cli.ts
  scripts/fix-dts-extensions.ts
Due: none

fix(mcp-server): reject ambiguous numeric identifiers
  packages/create-sei/tsconfig.json
  packages/mcp-server/src/core/chains.ts
  packages/mcp-server/src/core/resources.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/tests/core/chains.test.ts
  packages/mcp-server/src/tests/core/resources.test.ts
  packages/mcp-server/src/tests/core/tools.test.ts
  packages/mcp-server/src/tests/index.test.ts
  packages/sei-global-wallet/tsconfig.json
Due: create-sei, sei-global-wallet

feat(precompiles): export Sei chain definitions
  .changeset/restore-sei-chain-exports.md
  packages/precompiles/src/viem/__tests__/chain.spec.ts
  packages/precompiles/src/viem/chain.ts
  scripts/check-precompile-exports.ts
Due: precompiles

feat!: remove Sei devnet support
  .changeset/migrate-monorepo-to-bun.md
  .changeset/restore-sei-chain-exports.md
  .changeset/retire-arctic-network.md
  REVIEW.md
  bun.lock
  packages/create-sei/templates/next-template/.env.example
  packages/create-sei/templates/next-template/README.md
  packages/create-sei/templates/next-template/src/app/development/page.tsx
  packages/create-sei/templates/next-template/src/components/providers/providers.tsx
  packages/mcp-server/.env.example
  packages/mcp-server/package.json
  packages/mcp-server/src/core/chains.ts
  packages/mcp-server/src/core/prompts.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/server/args.ts
  packages/mcp-server/src/tests/core/chains.test.ts
  packages/mcp-server/src/tests/server/args.test.ts
  packages/mcp-server/src/tests/server/server.test.ts
  packages/precompiles/README.md
  packages/precompiles/package.json
  packages/precompiles/src/viem/__tests__/chain.spec.ts
  packages/precompiles/src/viem/chain.ts
  packages/registry/src/chain-info/__tests__/index.spec.ts
  packages/registry/src/chain-info/index.ts
  packages/registry/src/gas/__tests__/index.spec.ts
  packages/registry/src/gas/index.ts
  packages/registry/src/ibc/__tests__/index.spec.ts
  packages/registry/src/ibc/index.ts
  packages/registry/src/index.ts
  packages/registry/src/networks/__tests__/index.spec.ts
  packages/registry/src/networks/index.ts
  packages/registry/src/tokens/__tests__/index.spec.ts
  packages/registry/src/tokens/index.ts
  scripts/check-precompile-exports.ts
Due: create-sei, precompiles, registry

fix: harden supported network configuration
  .changeset/restore-sei-chain-exports.md
  packages/registry/package.json
  packages/registry/src/gas/index.ts
  packages/registry/src/ibc/index.ts
  packages/registry/src/index.ts
  packages/registry/src/networks/index.ts
  packages/registry/src/supported-networks.ts
  packages/registry/src/tokens/index.ts
  scripts/build-registry.ts
Due: registry

feat!: limit Sei chain support to mainnet and testnet (#328)
  .changeset/migrate-monorepo-to-bun.md
  .changeset/restore-sei-chain-exports.md
  .changeset/retire-arctic-network.md
  REVIEW.md
  bun.lock
  packages/create-sei/templates/next-template/.env.example
  packages/create-sei/templates/next-template/README.md
  packages/create-sei/templates/next-template/src/app/development/page.tsx
  packages/create-sei/templates/next-template/src/components/providers/providers.tsx
  packages/mcp-server/.env.example
  packages/mcp-server/package.json
  packages/mcp-server/src/core/chains.ts
  packages/mcp-server/src/core/prompts.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/server/args.ts
  packages/mcp-server/src/tests/core/chains.test.ts
  packages/mcp-server/src/tests/server/args.test.ts
  packages/mcp-server/src/tests/server/server.test.ts
  packages/precompiles/README.md
  packages/precompiles/package.json
  packages/precompiles/src/viem/__tests__/chain.spec.ts
  packages/precompiles/src/viem/chain.ts
  packages/registry/package.json
  packages/registry/src/chain-info/__tests__/index.spec.ts
  packages/registry/src/chain-info/index.ts
  packages/registry/src/gas/__tests__/index.spec.ts
  packages/registry/src/gas/index.ts
  packages/registry/src/ibc/__tests__/index.spec.ts
  packages/registry/src/ibc/index.ts
  packages/registry/src/index.ts
  packages/registry/src/networks/__tests__/index.spec.ts
  packages/registry/src/networks/index.ts
  packages/registry/src/supported-networks.ts
  packages/registry/src/tokens/__tests__/index.spec.ts
  packages/registry/src/tokens/index.ts
  scripts/build-registry.ts
  scripts/check-precompile-exports.ts
Due: create-sei, precompiles, registry

feat(registry)!: remove legacy registry data
  .changeset/remove-registry-ibc.md
  packages/registry/README.md
  packages/registry/src/chain-info/__tests__/index.spec.ts
  packages/registry/src/gas/__tests__/index.spec.ts
  packages/registry/src/gas/index.ts
  packages/registry/src/ibc/__tests__/index.spec.ts
  packages/registry/src/ibc/index.ts
  packages/registry/src/index.ts
  packages/registry/src/networks/__tests__/index.spec.ts
  packages/registry/src/networks/index.ts
  packages/registry/src/tokens/__tests__/index.spec.ts
  packages/registry/src/tokens/index.ts
  packages/registry/src/wallets/__tests__/index.spec.ts
  packages/registry/src/wallets/index.ts
  packages/registry/tsconfig.json
  scripts/build-registry.ts
Due: registry

feat(registry)!: remove gas metadata
  .changeset/remove-registry-ibc.md
  packages/registry/README.md
  packages/registry/src/gas/__tests__/index.spec.ts
  packages/registry/src/gas/index.ts
  packages/registry/src/index.ts
  packages/registry/tsconfig.json
  scripts/build-registry.ts
Due: registry

feat(registry)!: remove legacy registry data (#329)
  .changeset/remove-registry-ibc.md
  packages/registry/README.md
  packages/registry/src/chain-info/__tests__/index.spec.ts
  packages/registry/src/gas/__tests__/index.spec.ts
  packages/registry/src/gas/index.ts
  packages/registry/src/ibc/__tests__/index.spec.ts
  packages/registry/src/ibc/index.ts
  packages/registry/src/index.ts
  packages/registry/src/networks/__tests__/index.spec.ts
  packages/registry/src/networks/index.ts
  packages/registry/src/tokens/__tests__/index.spec.ts
  packages/registry/src/tokens/index.ts
  packages/registry/src/wallets/__tests__/index.spec.ts
  packages/registry/src/wallets/index.ts
  packages/registry/tsconfig.json
  scripts/build-registry.ts
Due: registry

feat(precompiles): sync ABIs with Sei Chain v6.6.1 (PLT-996)
  .changeset/sync-v66-precompiles.md
  packages/precompiles/README.md
  packages/precompiles/src/__tests__/v66AbiParity.spec.ts
  packages/precompiles/src/ethers/__tests__/ethersPrecompiles.spec.ts
  packages/precompiles/src/ethers/index.ts
  packages/precompiles/src/ethers/p256Precompile.ts
  packages/precompiles/src/ethers/stakingPrecompile.ts
  packages/precompiles/src/precompiles/address.ts
  packages/precompiles/src/precompiles/bank.ts
  packages/precompiles/src/precompiles/distribution.ts
  packages/precompiles/src/precompiles/governance.ts
  packages/precompiles/src/precompiles/index.ts
  packages/precompiles/src/precompiles/json.ts
  packages/precompiles/src/precompiles/p256.ts
  packages/precompiles/src/precompiles/pointer.ts
  packages/precompiles/src/precompiles/pointerview.ts
  packages/precompiles/src/precompiles/solo.ts
  packages/precompiles/src/precompiles/staking.ts
  packages/precompiles/src/precompiles/wasm.ts
  packages/precompiles/src/viem/__tests__/viemPrecompiles.spec.ts
  packages/precompiles/src/viem/index.ts
  packages/precompiles/src/viem/p256Precompile.ts
  scripts/check-precompile-exports.ts
Due: precompiles

docs(precompiles): clarify ABI release support
  packages/precompiles/README.md
Due: precompiles

fix(precompiles): harden v6.6 ABI verification
  biome.json
  packages/precompiles/src/__tests__/fixtures/v66/README.md
  packages/precompiles/src/__tests__/fixtures/v66/addr.json
  packages/precompiles/src/__tests__/fixtures/v66/bank.json
  packages/precompiles/src/__tests__/fixtures/v66/distribution.json
  packages/precompiles/src/__tests__/fixtures/v66/gov.json
  packages/precompiles/src/__tests__/fixtures/v66/ibc.json
  packages/precompiles/src/__tests__/fixtures/v66/json.json
  packages/precompiles/src/__tests__/fixtures/v66/oracle.json
  packages/precompiles/src/__tests__/fixtures/v66/p256.json
  packages/precompiles/src/__tests__/fixtures/v66/pointer.json
  packages/precompiles/src/__tests__/fixtures/v66/pointerview.json
  packages/precompiles/src/__tests__/fixtures/v66/solo.json
  packages/precompiles/src/__tests__/fixtures/v66/staking.json
  packages/precompiles/src/__tests__/fixtures/v66/wasmd.json
  packages/precompiles/src/__tests__/v66AbiParity.spec.ts
  packages/precompiles/src/ethers/p256Precompile.ts
  packages/precompiles/src/precompiles/p256.ts
Due: precompiles

Remove viem ABI aliases and adjust exports
  .changeset/remove-ibc-oracle-precompiles.md
  .changeset/sync-v66-precompiles.md
  packages/create-sei/extensions/precompiles/src/components/default/index.tsx
  packages/create-sei/templates/next-template/src/components/default/examples.ts
  packages/precompiles/README.md
  packages/precompiles/src/__tests__/barrelParity.spec.ts
  packages/precompiles/src/ethers/p256Precompile.ts
  packages/precompiles/src/index.ts
  packages/precompiles/src/precompiles/address.ts
  packages/precompiles/src/precompiles/bank.ts
  packages/precompiles/src/precompiles/distribution.ts
  packages/precompiles/src/precompiles/governance.ts
  packages/precompiles/src/precompiles/json.ts
  packages/precompiles/src/precompiles/p256.ts
  packages/precompiles/src/precompiles/pointer.ts
  packages/precompiles/src/precompiles/pointerview.ts
  packages/precompiles/src/precompiles/solo.ts
  packages/precompiles/src/precompiles/staking.ts
  packages/precompiles/src/precompiles/wasm.ts
  packages/precompiles/src/viem/__tests__/viemPrecompiles.spec.ts
  packages/precompiles/src/viem/addressPrecompile.ts
  packages/precompiles/src/viem/bankPrecompile.ts
  packages/precompiles/src/viem/distributionPrecompile.ts
  packages/precompiles/src/viem/governancePrecompile.ts
  packages/precompiles/src/viem/index.ts
  packages/precompiles/src/viem/jsonPrecompile.ts
  packages/precompiles/src/viem/p256Precompile.ts
  packages/precompiles/src/viem/pointerPrecompile.ts
  packages/precompiles/src/viem/pointerviewPrecompile.ts
  packages/precompiles/src/viem/soloPrecompile.ts
  packages/precompiles/src/viem/stakingPrecompile.ts
  packages/precompiles/src/viem/wasmPrecompile.ts
  scripts/check-precompile-exports.ts
Due: create-sei, precompiles

ci: fix registry notification workflow (PLT-846)
  .github/workflows/notify.yml
Due: none

docs: align repository guidance with current packages (PLT-839)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  README.md
Due: none

fix(create-sei): align CLI and generated docs (PLT-844)
  .changeset/fix-create-sei-scaffold.md
  packages/create-sei/extensions/precompiles/src/components/default/index.tsx
  packages/create-sei/src/main.test.ts
  packages/create-sei/src/main.ts
  packages/create-sei/templates/next-template/README.md
Due: create-sei

ci: fix registry notification workflow (PLT-846) (#331)
  .github/workflows/notify.yml
Due: none

ci: remove dead registry notification workflow (PLT-846)
  .github/workflows/notify.yml
Due: none

ci: remove dead registry-api notification workflow
  .github/workflows/notify.yml
Due: none

test: re-land SDK unit coverage on remaining packages (PLT-347)
  packages/create-sei/src/templates.test.ts
  packages/precompiles/src/precompiles/__tests__/abis.spec.ts
  packages/precompiles/src/precompiles/__tests__/addresses.spec.ts
  packages/registry/src/networks/__tests__/index.spec.ts
  packages/registry/src/tokens/__tests__/index.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/config.spec.ts
Due: create-sei, precompiles, registry, sei-global-wallet

test: satisfy ABI stateMutability typecheck (PLT-347)
  packages/precompiles/src/precompiles/__tests__/abis.spec.ts
Due: precompiles

test(mcp-server): cover registerEVMResources handlers (PLT-347)
  packages/mcp-server/src/tests/core/resources.test.ts
Due: none

test: address coverage review feedback (PLT-347)
  packages/create-sei/src/templates.test.ts
  packages/mcp-server/src/tests/core/resources.test.ts
  packages/precompiles/src/precompiles/__tests__/abis.spec.ts
  packages/precompiles/src/precompiles/__tests__/addresses.spec.ts
  packages/registry/src/networks/__tests__/index.spec.ts
  packages/registry/src/tokens/__tests__/index.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/config.spec.ts
Due: create-sei, precompiles, registry, sei-global-wallet

fix(mcp-server): return current NFT resource owner (PLT-347)
  .changeset/fix-nft-resource-owner.md
  packages/mcp-server/src/core/resources.ts
  packages/mcp-server/src/core/services/balance.ts
  packages/mcp-server/src/tests/core/resources.test.ts
  packages/mcp-server/src/tests/core/services/balance.test.ts
  packages/sei-global-wallet/src/lib/__tests__/config.spec.ts
Due: sei-global-wallet

test(mcp-server): fail loudly on missing resource mocks (PLT-347)
  packages/mcp-server/src/core/services/balance.ts
  packages/mcp-server/src/tests/core/resources.test.ts
Due: none

fix(mcp-server): preserve NFT ownership validation (PLT-347)
  packages/mcp-server/src/core/services/balance.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/tests/core/services/balance.test.ts
  packages/mcp-server/src/tests/core/tools.test.ts
Due: none

fix(mcp-server): expose NFT owner lookup failures (PLT-347)
  .changeset/fix-nft-resource-owner.md
  packages/mcp-server/src/core/resources.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/tests/core/resources.test.ts
  packages/mcp-server/src/tests/core/tools.test.ts
  packages/sei-global-wallet/src/lib/__tests__/config.spec.ts
Due: sei-global-wallet

test(mcp-server): cover non-numeric NFT token IDs (PLT-347)
  packages/mcp-server/src/tests/core/resources.test.ts
Due: none

fix(mcp-server): resolve NFT owners and cover EVM resources (PLT-347) (#335)
  .changeset/fix-nft-resource-owner.md
  packages/mcp-server/src/core/resources.ts
  packages/mcp-server/src/core/services/balance.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/tests/core/resources.test.ts
  packages/mcp-server/src/tests/core/services/balance.test.ts
  packages/mcp-server/src/tests/core/tools.test.ts
  packages/sei-global-wallet/src/lib/__tests__/config.spec.ts
Due: sei-global-wallet

docs: align repository guidance with current packages (PLT-839) (#332)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/pull_request_template.md
  README.md
Due: none

ci: remove dead registry-api notification workflow (#334)
  .github/workflows/notify.yml
Due: none

fix(create-sei): clarify scaffold setup and CLI coverage
  packages/create-sei/src/main.test.ts
  packages/create-sei/templates/next-template/README.md
Due: create-sei

fix: resolve transitive dependency advisories
  bun.lock
  package.json
Due: none

fix: resolve transitive dependency advisories (#336)
  bun.lock
  package.json
Due: none

Fix CLI validation and template updates
  packages/create-sei/src/main.test.ts
  packages/create-sei/src/main.ts
  packages/create-sei/templates/next-template/README.md
  packages/create-sei/templates/next-template/biome.json
  packages/create-sei/templates/next-template/package.json
  packages/create-sei/templates/next-template/src/app/development/page.tsx
  packages/create-sei/templates/next-template/src/app/layout.tsx
  packages/create-sei/templates/next-template/src/app/page.tsx
  packages/create-sei/templates/next-template/src/app/resources/page.tsx
  packages/create-sei/templates/next-template/src/app/resources/resources.ts
  packages/create-sei/templates/next-template/src/components/default/index.tsx
  packages/create-sei/templates/next-template/src/components/index.ts
  packages/create-sei/templates/next-template/src/components/landing/index.tsx
  packages/create-sei/templates/next-template/src/components/providers/index.ts
  packages/create-sei/templates/next-template/src/components/shell/index.ts
Due: create-sei

fix(mcp-server): restore HTTP startup
  .changeset/fix-mcp-http-startup.md
  packages/create-sei/templates/next-template/src/app/resources/page.tsx
  packages/mcp-server/.env.example
  packages/mcp-server/README.md
  packages/mcp-server/package.json
  scripts/check-mcp-cli.ts
Due: create-sei

fix(create-sei): align CLI and generated docs (PLT-844) (#333)
  .changeset/fix-create-sei-scaffold.md
  packages/create-sei/extensions/precompiles/src/components/default/index.tsx
  packages/create-sei/src/main.test.ts
  packages/create-sei/src/main.ts
  packages/create-sei/templates/next-template/README.md
  packages/create-sei/templates/next-template/biome.json
  packages/create-sei/templates/next-template/package.json
  packages/create-sei/templates/next-template/src/app/development/page.tsx
  packages/create-sei/templates/next-template/src/app/layout.tsx
  packages/create-sei/templates/next-template/src/app/page.tsx
  packages/create-sei/templates/next-template/src/app/resources/page.tsx
  packages/create-sei/templates/next-template/src/app/resources/resources.ts
  packages/create-sei/templates/next-template/src/components/default/index.tsx
  packages/create-sei/templates/next-template/src/components/index.ts
  packages/create-sei/templates/next-template/src/components/landing/index.tsx
  packages/create-sei/templates/next-template/src/components/providers/index.ts
  packages/create-sei/templates/next-template/src/components/shell/index.ts
Due: create-sei

Path conditions:
  create-sei: any of: packages/create-sei/**
  precompiles: any of: packages/precompiles/**
  ledger: any of: packages/ledger/**
  registry: any of: packages/registry/**
  sei-global-wallet: any of: packages/sei-global-wallet/**
