Repository sei-protocol/sei-js: changes, and which Codecov flags are due for each by the changed paths.
All: create-sei, precompiles, ledger, registry, sei-global-wallet

codecov.yml:

flags:
  create-sei:
    paths:
      - packages/create-sei/**
  precompiles:
    paths:
      - packages/precompiles/**
  ledger:
    paths:
      - packages/ledger/**
  registry:
    paths:
      - packages/registry/**
  sei-global-wallet:
    paths:
      - packages/sei-global-wallet/**
coverage:
  status:
    project:
      create-sei:
        target: 80%
        flags:
          - create-sei
      precompiles:
        target: 80%
        flags:
          - precompiles
      ledger:
        target: 80%
        flags:
          - ledger
      registry:
        target: 80%
        flags:
          - registry
      sei-global-wallet:
        target: 80%
        flags:
          - sei-global-wallet

Remove contributors restriction
  .github/workflows/pr-to-slack-codex.yml
Due: none

Add back restriction
  .github/workflows/pr-to-slack-codex.yml
Due: none

Add back check
  .github/workflows/pr-to-slack-codex.yml
Due: none

Codex AI Reviewer (#295)
  .github/workflows/pr-to-slack-codex.yml
Due: none

Update wallet icon
  packages/sei-global-wallet/src/lib/config.ts
Due: sei-global-wallet

Add changeset
  .changeset/poor-crabs-thank.md
Due: none

Update global wallet icon (#296)
  .changeset/poor-crabs-thank.md
  packages/sei-global-wallet/src/lib/config.ts
Due: sei-global-wallet

Add CORS middleware and limit wallet mode to stdio
  packages/mcp-server/src/server/args.ts
  packages/mcp-server/src/server/transport/factory.ts
  packages/mcp-server/src/server/transport/http-sse.ts
  packages/mcp-server/src/server/transport/security.ts
  packages/mcp-server/src/server/transport/streamable-http.ts
Due: none

Add changeset
  .changeset/clever-nights-enjoy.md
Due: none

Fix tests
  packages/mcp-server/src/tests/server/transport/factory.test.ts
  packages/mcp-server/src/tests/server/transport/http-sse.test.ts
  packages/mcp-server/src/tests/server/transport/streamable-http.test.ts
Due: none

Increase test coverage
  packages/mcp-server/src/tests/server/transport/security.test.ts
  packages/mcp-server/src/tests/server/transport/streamable-http.test.ts
Due: none

Address comments
  packages/mcp-server/src/server/transport/http-sse.ts
  packages/mcp-server/src/server/transport/security.ts
  packages/mcp-server/src/server/transport/streamable-http.ts
  packages/mcp-server/src/server/transport/types.ts
  packages/mcp-server/src/tests/server/transport/security.test.ts
  packages/mcp-server/src/tests/server/transport/streamable-http.test.ts
Due: none

Consolidate types
  packages/mcp-server/src/server/transport/types.ts
Due: none

Block wallet mode on HTTP transports to prevent CORS-based attacks (#298)
  .changeset/clever-nights-enjoy.md
  packages/mcp-server/src/server/args.ts
  packages/mcp-server/src/server/transport/factory.ts
  packages/mcp-server/src/server/transport/http-sse.ts
  packages/mcp-server/src/server/transport/security.ts
  packages/mcp-server/src/server/transport/streamable-http.ts
  packages/mcp-server/src/server/transport/types.ts
  packages/mcp-server/src/tests/server/transport/factory.test.ts
  packages/mcp-server/src/tests/server/transport/http-sse.test.ts
  packages/mcp-server/src/tests/server/transport/security.test.ts
  packages/mcp-server/src/tests/server/transport/streamable-http.test.ts
Due: none

fix imports and parsing in distribution and staking precompile docs
  docs/precompiles/precompiles/distribution.mdx
  docs/precompiles/precompiles/staking.mdx
Due: none

add testnet and mainnet configs for access from the package
  packages/precompiles/src/viem/__tests__/chain.spec.ts
  packages/precompiles/src/viem/chain.ts
Due: precompiles

Update release workflow and package repositories
  .github/workflows/release.yml
  packages/create-sei/package.json
  packages/ledger/package.json
  packages/mcp-server/package.json
  packages/precompiles/package.json
  packages/registry/package.json
  packages/sei-global-wallet/package.json
Due: create-sei, precompiles, ledger, registry, sei-global-wallet

Update mcp-server package.json metadata
  packages/mcp-server/package.json
Due: none

Update release workflow and package repositories (#302)
  .github/workflows/release.yml
  packages/create-sei/package.json
  packages/ledger/package.json
  packages/mcp-server/package.json
  packages/precompiles/package.json
  packages/registry/package.json
  packages/sei-global-wallet/package.json
Due: create-sei, precompiles, ledger, registry, sei-global-wallet

fix imports and parsing in distribution and staking precompile docs (#301)
  docs/precompiles/precompiles/distribution.mdx
  docs/precompiles/precompiles/staking.mdx
Due: none

Bump global wallet and sync with upstream
  packages/sei-global-wallet/package.json
  packages/sei-global-wallet/src/ethereum.ts
  packages/sei-global-wallet/src/index.ts
  packages/sei-global-wallet/src/solana.ts
  packages/sei-global-wallet/src/zerodev.ts
  pnpm-lock.yaml
Due: sei-global-wallet

Add changeset
  .changeset/dull-sites-speak.md
Due: none

Bump global wallet and sync with upstream (#303)
  .changeset/dull-sites-speak.md
  packages/sei-global-wallet/package.json
  packages/sei-global-wallet/src/ethereum.ts
  packages/sei-global-wallet/src/index.ts
  packages/sei-global-wallet/src/solana.ts
  packages/sei-global-wallet/src/zerodev.ts
  pnpm-lock.yaml
Due: sei-global-wallet

Pin Node.js 24 in release workflow
  .github/workflows/release.yml
Due: none

Pin Node.js 24 in release workflow (#305)
  .github/workflows/release.yml
Due: none

feat(template): modernize runtime and tooling defaults
  packages/create-sei/.rsyncignore
  packages/create-sei/templates/next-template/.env.example
  packages/create-sei/templates/next-template/.eslintrc.json
  packages/create-sei/templates/next-template/README.md
  packages/create-sei/templates/next-template/biome.json
  packages/create-sei/templates/next-template/next.config.mjs
  packages/create-sei/templates/next-template/package.json
  packages/create-sei/templates/next-template/src/app/globals.css
  packages/create-sei/templates/next-template/src/components/providers/providers.tsx
  packages/create-sei/templates/next-template/src/components/shell/shell.tsx
  packages/create-sei/templates/next-template/tailwind.config.js
Due: create-sei

chore(template): reformat app and component content files
  packages/create-sei/templates/next-template/src/app/development/page.tsx
  packages/create-sei/templates/next-template/src/app/layout.tsx
  packages/create-sei/templates/next-template/src/app/page.tsx
  packages/create-sei/templates/next-template/src/app/resources/page.tsx
  packages/create-sei/templates/next-template/src/app/resources/resources.ts
  packages/create-sei/templates/next-template/src/components/default/index.tsx
  packages/create-sei/templates/next-template/src/components/landing/index.tsx
Due: create-sei

docs(registry): add registry docs and monorepo doc updates
  .gitignore
  README.md
  biome.json
  docs/docs.json
  docs/registry/introduction.mdx
  docs/registry/usage.mdx
  package.json
  packages/registry/README.md
Due: registry

Update next-template defaults & Biome config
  .changeset/some-bags-tie.md
  packages/create-sei/templates/next-template/.env.example
  packages/create-sei/templates/next-template/biome.json
Due: create-sei

Normalize quotes and format imports
  packages/create-sei/templates/next-template/src/app/development/page.tsx
  packages/create-sei/templates/next-template/src/app/layout.tsx
  packages/create-sei/templates/next-template/src/app/page.tsx
  packages/create-sei/templates/next-template/src/app/resources/page.tsx
  packages/create-sei/templates/next-template/src/app/resources/resources.ts
  packages/create-sei/templates/next-template/src/components/default/index.tsx
  packages/create-sei/templates/next-template/src/components/landing/index.tsx
Due: create-sei

chore(template): reformat app and component content files (#308)
  packages/create-sei/templates/next-template/src/components/landing/index.tsx
Due: create-sei

feat(template): modernize runtime and tooling defaults (#309)
  .changeset/some-bags-tie.md
  packages/create-sei/.rsyncignore
  packages/create-sei/templates/next-template/.env.example
  packages/create-sei/templates/next-template/.eslintrc.json
  packages/create-sei/templates/next-template/README.md
  packages/create-sei/templates/next-template/biome.json
  packages/create-sei/templates/next-template/next.config.mjs
  packages/create-sei/templates/next-template/package.json
  packages/create-sei/templates/next-template/src/app/globals.css
  packages/create-sei/templates/next-template/src/components/providers/providers.tsx
  packages/create-sei/templates/next-template/src/components/shell/shell.tsx
  packages/create-sei/templates/next-template/tailwind.config.js
Due: create-sei

refactor(create-sei): stabilize CLI architecture and test coverage
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
  .gitignore
  packages/create-sei/.gitignore
  packages/create-sei/package.json
  packages/create-sei/src/__tests__/e2e.test.ts
  packages/create-sei/src/__tests__/lib.test.ts
  packages/create-sei/src/__tests__/tsconfig.json
  packages/create-sei/src/lib.ts
  packages/create-sei/src/main.test.ts
  packages/create-sei/src/main.ts
  packages/create-sei/tsconfig.json
  pnpm-lock.yaml
Due: create-sei

fix(mcp-server): enforce session binding and response isolation in HTTP SSE transport
  packages/mcp-server/src/server/transport/http-sse.ts
  packages/mcp-server/src/tests/server/transport/http-sse.test.ts
Due: none

Updated reference to latest sei-assetlist repo from Seitrace
  .gitmodules
  packages/registry/src/tokens/index.ts
Due: registry

Added changeset
  .changeset/calm-houses-listen.md
Due: none

Add EVM parity planning docs
  docs/docs.json
  docs/evm-parity/issue-sla.mdx
  docs/evm-parity/matrix.json
  docs/evm-parity/matrix.mdx
  docs/evm-parity/plan.mdx
  docs/evm-parity/rpc-conformance.mdx
Due: none

Add EVM compatibility issue template
  .github/ISSUE_TEMPLATE/evm_compatibility.md
  docs/evm-parity/issue-sla.mdx
Due: none

Keep only EVM parity matrix in docs
  .gitignore
  docs/docs.json
  docs/evm-parity/issue-sla.mdx
  docs/evm-parity/matrix.json
  docs/evm-parity/matrix.mdx
  docs/evm-parity/plan.mdx
  docs/evm-parity/rpc-conformance.mdx
Due: none
