Repository sei-protocol/sei-js: changes, and which Codecov flags are due for each by the changed paths.
All: create-sei, precompiles, ledger, registry, sei-global-wallet

codecov.yml:

flags:
  create-sei:
    paths:
      - packages/create-sei/**
  precompiles:
    paths:
      - packages/precompiles/**
  ledger:
    paths:
      - packages/ledger/**
  registry:
    paths:
      - packages/registry/**
  sei-global-wallet:
    paths:
      - packages/sei-global-wallet/**
coverage:
  status:
    project:
      create-sei:
        target: 80%
        flags:
          - create-sei
      precompiles:
        target: 80%
        flags:
          - precompiles
      ledger:
        target: 80%
        flags:
          - ledger
      registry:
        target: 80%
        flags:
          - registry
      sei-global-wallet:
        target: 80%
        flags:
          - sei-global-wallet

updated install state
  .yarn/install-state.gz
Due: none

updated install state (#261)
  .yarn/install-state.gz
Due: none

Switched name back to precompiles
  packages/precompiles/package.json
Due: precompiles

Fixed incorrect package name
  packages/precompiles/package.json
Due: precompiles

Updated install state
  .yarn/install-state.gz
  yarn.lock
Due: none

Fixed incorrect package name (#262)
  .yarn/install-state.gz
  packages/precompiles/package.json
  yarn.lock
Due: precompiles

Added tests for missing `deployContract` function
  packages/mcp-server/src/tests/core/services/contracts.test.ts
Due: none

Added missing tests and fixed broken one
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/tests/core/config.test.ts
  packages/mcp-server/src/tests/core/tools.test.ts
Due: none

Deprecate Cosmos and Cosmjs packages (#256)
  .changeset/every-turtles-grab.md
  packages/cosmjs/README.md
  packages/cosmos/README.md
Due: none

Update install state and force yarn version (#260)
  .yarn/releases/yarn-4.7.0.cjs
  .yarnrc.yml
  README.md
  yarn.lock
Due: none

Fixed incorrect package name (#262)
  packages/precompiles/package.json
  yarn.lock
Due: precompiles

Added initial mintlify pages
  docs/confidential-transfers/introduction.mdx
  docs/confidential-transfers/mint.json
  docs/evm/index.mdx
  docs/evm/mint.json
  docs/evm/precompiles/address.mdx
  docs/evm/precompiles/bank.mdx
  docs/evm/precompiles/confidential-transfers.mdx
  docs/evm/precompiles/distribution.mdx
  docs/evm/precompiles/ethers.mdx
  docs/evm/precompiles/governance.mdx
  docs/evm/precompiles/ibc.mdx
  docs/evm/precompiles/json.mdx
  docs/evm/precompiles/oracle.mdx
  docs/evm/precompiles/pointer.mdx
  docs/evm/precompiles/pointerview.mdx
  docs/evm/precompiles/staking.mdx
  docs/evm/precompiles/viem.mdx
  docs/evm/precompiles/wasm.mdx
  docs/evm/quick-start.mdx
  yarn.lock
Due: none

Updated install state and added mintlify commands to package.json
  .yarn/install-state.gz
  package.json
  yarn.lock
Due: none

Add LLM txt files, add anchor links
  .yarn/install-state.gz
  docs/base_mint.json
  docs/docs.json
  docs/llms-full.txt
  docs/llms.txt
  package.json
Due: none

Biome format
  docs/create-sei/mint.json
  docs/docs.json
  docs/ledger/mint.json
  docs/precompiles/mint.json
  docs/registry/mint.json
  docs/sei-global-wallet/mint.json
  packages/mcp-server/bin/cli.js
  packages/mcp-server/coverage.json
  packages/mcp-server/jest.config.js
  packages/mcp-server/package.json
  packages/mcp-server/src/core/chains.ts
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/core/services/balance.ts
  packages/mcp-server/src/core/services/contracts.ts
  packages/mcp-server/src/core/services/tokens.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/server/server.ts
  packages/mcp-server/src/tests/core/chains.test.ts
  packages/mcp-server/src/tests/core/config.test.ts
  packages/mcp-server/src/tests/core/helpers/tool-test-helpers.ts
  packages/mcp-server/src/tests/core/services/blocks.test.ts
  packages/mcp-server/src/tests/core/services/clients.test.ts
  packages/mcp-server/src/tests/core/services/contracts.test.ts
  packages/mcp-server/src/tests/core/services/tokens.test.ts
  packages/mcp-server/src/tests/core/services/transactions.test.ts
  packages/mcp-server/src/tests/core/services/transfer.test.ts
  packages/mcp-server/src/tests/core/tools.test.ts
Due: none

Fixed typescript errors in /mcp-server
  packages/mcp-server/src/core/services/balance.ts
  packages/mcp-server/src/core/services/contracts.ts
  packages/mcp-server/src/core/tools.ts
Due: none

Fixed biome and typescript issues in /create-sei
  packages/create-sei/src/main.ts
Due: create-sei

Biome format and typescript fixes in /registry
  packages/registry/package.json
  packages/registry/src/gas/__tests__/index.spec.ts
  packages/registry/src/gas/index.ts
  packages/registry/src/ibc/__tests__/index.spec.ts
  packages/registry/src/ibc/index.ts
  packages/registry/src/networks/__tests__/index.spec.ts
  packages/registry/src/networks/index.ts
  packages/registry/src/tokens/__tests__/index.spec.ts
  packages/registry/src/tokens/index.ts
  packages/registry/src/wallets/__tests__/index.spec.ts
Due: registry

Fix biome errors in /precompiles
  packages/precompiles/package.json
  packages/precompiles/src/ethers/addressPrecompile.ts
  packages/precompiles/src/ethers/distributionPrecompile.ts
Due: precompiles

Fix biome for /sei-global-wallet
  packages/sei-global-wallet/package.json
  packages/sei-global-wallet/src/lib/wallet.ts
Due: sei-global-wallet

Fixed biome errors in /ledger
  packages/ledger/package.json
  packages/ledger/src/cosmos/seiLedgerOfflineAminoSigner.ts
Due: ledger

Update Getting Started docs with working snippets
  docs/contributing.mdx
  docs/create-sei/quick-start.mdx
  docs/introduction.mdx
  docs/llms-full.txt
  docs/overview.mdx
  package.json
  typedoc.config.js
Due: none

Improved create-sei documentation
  docs/create-sei/customization.mdx
  docs/create-sei/mint.json
  docs/create-sei/next-steps.mdx
  docs/create-sei/quick-start.mdx
  docs/create-sei/templates.mdx
  docs/create-sei/welcome.mdx
  docs/docs.json
  docs/ledger/mint.json
  docs/precompiles/mint.json
  docs/registry/mint.json
  docs/sei-global-wallet/mint.json
Due: none

Improved MCP server documentation
  docs/docs.json
  docs/introduction.mdx
  docs/mcp-server/context.mdx
  docs/mcp-server/introduction.mdx
  docs/mcp-server/prompts.mdx
  docs/mcp-server/setup.mdx
  docs/mcp-server/tools.mdx
  docs/sei-global-wallet/integration.mdx
  docs/sei-global-wallet/introduction.mdx
Due: none

Finalized MCP server docs
  docs/docs.json
  docs/mcp-server/context.mdx
  docs/mcp-server/introduction.mdx
  docs/mcp-server/setup.mdx
  package.json
  packages/ledger/package.json
  packages/mcp-server/package.json
  packages/precompiles/package.json
  packages/registry/package.json
  packages/sei-global-wallet/package.json
Due: precompiles, ledger, registry, sei-global-wallet

Added icons to everyhing
  docs/contributing.mdx
  docs/create-sei/quick-start.mdx
  docs/create-sei/templates.mdx
  docs/create-sei/welcome.mdx
  docs/docs.json
  docs/introduction.mdx
  docs/ledger/introduction.mdx
  docs/mcp-server/context.mdx
  docs/mcp-server/introduction.mdx
  docs/mcp-server/tools.mdx
  docs/overview.mdx
  docs/precompiles/introduction.mdx
  docs/precompiles/precompiles/address.mdx
  docs/precompiles/precompiles/bank.mdx
  docs/precompiles/precompiles/confidential-transfers.mdx
  docs/precompiles/precompiles/distribution.mdx
  docs/precompiles/precompiles/ethers.mdx
  docs/precompiles/precompiles/governance.mdx
  docs/precompiles/precompiles/ibc.mdx
  docs/precompiles/precompiles/json.mdx
  docs/precompiles/precompiles/oracle.mdx
  docs/precompiles/precompiles/pointer.mdx
  docs/precompiles/precompiles/pointerview.mdx
  docs/precompiles/precompiles/staking.mdx
  docs/precompiles/precompiles/viem.mdx
  docs/precompiles/precompiles/wasm.mdx
  docs/precompiles/quick-start.mdx
  docs/registry/introduction.mdx
  docs/sei-global-wallet/integration.mdx
  docs/sei-global-wallet/introduction.mdx
Due: none

Improved ledger, removed precompiles integrations sections
  docs/contributing.mdx
  docs/docs.json
  docs/introduction.mdx
  docs/ledger/introduction.mdx
  docs/overview.mdx
  docs/precompiles/precompiles/ethers.mdx
  docs/precompiles/precompiles/viem.mdx
  package.json
Due: none

Completed docs for review
  docs/create-sei/welcome.mdx
  docs/docs.json
  docs/introduction.mdx
  docs/llms-full.txt
  docs/registry/introduction.mdx
  docs/sei-global-wallet/connectkit.mdx
  docs/sei-global-wallet/dynamic-nextjs.mdx
  docs/sei-global-wallet/integration.mdx
  docs/sei-global-wallet/introduction.mdx
  docs/sei-global-wallet/quickstart.mdx
  docs/sei-global-wallet/rainbowkit.mdx
  docs/sei-global-wallet/wagmi-dynamic.mdx
  docs/sei-global-wallet/web3-react.mdx
Due: none

Fixed broken links
  docs/create-sei/quick-start.mdx
  docs/create-sei/welcome.mdx
  docs/introduction.mdx
  docs/precompiles/introduction.mdx
Due: none

Add favicon
  docs/docs.json
  docs/favicon.ico
Due: none

@sei-js/mcp-server - Added tests for missing `deployContract` function (#264)
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/tests/core/config.test.ts
  packages/mcp-server/src/tests/core/services/contracts.test.ts
  packages/mcp-server/src/tests/core/tools.test.ts
Due: none

Fix MCP Server Wallet Integration Tests
  .yarn/install-state.gz
  packages/mcp-server/.env.example
  packages/mcp-server/bin/cli.js
  packages/mcp-server/package.json
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/core/services/clients.ts
  packages/mcp-server/src/core/services/contracts.ts
  packages/mcp-server/src/core/services/transfer.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/core/wallet/index.ts
  packages/mcp-server/src/core/wallet/providers/disabled.ts
  packages/mcp-server/src/core/wallet/providers/private-key.ts
  packages/mcp-server/src/core/wallet/types.ts
  packages/mcp-server/src/tests/core/helpers/tool-test-helpers.ts
  packages/mcp-server/src/tests/core/services/clients.test.ts
  packages/mcp-server/src/tests/core/services/contracts.test.ts
  packages/mcp-server/src/tests/core/services/transfer.test.ts
  packages/mcp-server/src/tests/core/tools.test.ts
  yarn.lock
Due: none

Improved test coverage
  packages/mcp-server/src/tests/core/config.test.ts
  packages/mcp-server/src/tests/core/services/clients.test.ts
  packages/mcp-server/src/tests/core/tools.test.ts
  packages/mcp-server/src/tests/core/wallet/index.test.ts
  packages/mcp-server/src/tests/core/wallet/providers/disabled.test.ts
  packages/mcp-server/src/tests/core/wallet/providers/private-key.test.ts
  packages/mcp-server/src/tests/core/wallet/types.test.ts
Due: none

Biome format
  packages/mcp-server/bin/cli.js
  packages/mcp-server/coverage.json
  packages/mcp-server/jest.config.js
  packages/mcp-server/package.json
  packages/mcp-server/src/core/chains.ts
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/core/services/balance.ts
  packages/mcp-server/src/core/services/contracts.ts
  packages/mcp-server/src/core/services/tokens.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/tests/core/chains.test.ts
  packages/mcp-server/src/tests/core/helpers/tool-test-helpers.ts
  packages/mcp-server/src/tests/core/services/blocks.test.ts
  packages/mcp-server/src/tests/core/services/clients.test.ts
  packages/mcp-server/src/tests/core/services/tokens.test.ts
  packages/mcp-server/src/tests/core/services/transactions.test.ts
  packages/mcp-server/src/tests/core/services/transfer.test.ts
Due: none
