Repository sei-protocol/sei-js: changes, and which Codecov flags are due for each by the changed paths.
All: create-sei, precompiles, ledger, registry, sei-global-wallet

fix(mcp-server): harden HTTP smoke check and document SSE endpoints
  packages/mcp-server/README.md
  scripts/check-mcp-cli.ts
Due: none

fix(mcp-server): restore HTTP startup (#337)
  .changeset/fix-mcp-http-startup.md
  packages/create-sei/templates/next-template/src/app/resources/page.tsx
  packages/mcp-server/.env.example
  packages/mcp-server/README.md
  packages/mcp-server/package.json
  scripts/check-mcp-cli.ts
Due: create-sei

ci: harden package release preparation
  .changeset/export-solo-precompile-ethers.md
  .github/workflows/release.yml
  package.json
  packages/create-sei/CHANGELOG.md
  packages/sei-global-wallet/CHANGELOG.md
  scripts/sync-workspace-versions.ts
Due: create-sei, sei-global-wallet

ci: make release lockfile sync durable
  bun.lock
  package.json
  scripts/sync-workspace-versions.ts
Due: none

test(ci): cover release lockfile synchronization
  package.json
  scripts/sync-workspace-versions.test.ts
  scripts/sync-workspace-versions.ts
  tsconfig.test.json
Due: none

ci: harden package release preparation (#338)
  .changeset/export-solo-precompile-ethers.md
  .github/workflows/release.yml
  bun.lock
  package.json
  packages/create-sei/CHANGELOG.md
  packages/sei-global-wallet/CHANGELOG.md
  scripts/sync-workspace-versions.test.ts
  scripts/sync-workspace-versions.ts
  tsconfig.test.json
Due: create-sei, sei-global-wallet

fix(create-sei): ship safe branded scaffolds
  .changeset/harden-create-sei-release.md
  .github/workflows/release.yml
  package.json
  packages/create-sei/extensions/precompiles/package.json
  packages/create-sei/extensions/precompiles/src/components/default/index.tsx
  packages/create-sei/package.json
  packages/create-sei/scripts/smoke-generated-app.ts
  packages/create-sei/src/main.test.ts
  packages/create-sei/src/main.ts
  packages/create-sei/templates/next-template/README.md
  packages/create-sei/templates/next-template/gitignore
  packages/create-sei/templates/next-template/next.config.mjs
  packages/create-sei/templates/next-template/package.json
  packages/create-sei/templates/next-template/public/brand/powered-by-sei-light.png
  packages/create-sei/templates/next-template/public/brand/sei-lockup-light.svg
  packages/create-sei/templates/next-template/public/brand/sei-mark.png
  packages/create-sei/templates/next-template/public/favicon.ico
  packages/create-sei/templates/next-template/src/app/development/page.tsx
  packages/create-sei/templates/next-template/src/app/globals.css
  packages/create-sei/templates/next-template/src/app/layout.tsx
  packages/create-sei/templates/next-template/src/app/resources/page.tsx
  packages/create-sei/templates/next-template/src/app/resources/resources.ts
  packages/create-sei/templates/next-template/src/components/default/index.tsx
  packages/create-sei/templates/next-template/src/components/landing/index.tsx
  packages/create-sei/templates/next-template/src/components/providers/providers.tsx
  packages/create-sei/templates/next-template/src/components/shell/shell.tsx
  packages/create-sei/tsconfig.json
Due: create-sei

fix(create-sei): isolate release smoke checks
  .changeset/harden-create-sei-release.md
  .github/workflows/create-sei-smoke.yml
  .github/workflows/release.yml
  packages/create-sei/README.md
  packages/create-sei/scripts/smoke-generated-app.ts
  packages/create-sei/src/main.test.ts
  packages/create-sei/src/main.ts
  packages/create-sei/templates/next-template/package.json
  packages/create-sei/templates/next-template/src/app/development/page.tsx
  packages/create-sei/templates/next-template/src/app/globals.css
  packages/create-sei/templates/next-template/src/components/default/index.tsx
  packages/create-sei/templates/next-template/src/components/landing/index.tsx
  packages/create-sei/templates/next-template/src/components/providers/providers.tsx
  packages/create-sei/templates/next-template/src/components/shell/shell.tsx
  packages/create-sei/templates/next-template/src/theme.ts
  tsconfig.test.json
Due: create-sei

fix(ci): establish changesets base in PR smoke
  .github/workflows/create-sei-smoke.yml
Due: none

fix(create-sei): harden staged smoke selection
  .changeset/harden-create-sei-release.md
  .github/workflows/create-sei-smoke.yml
  packages/create-sei/README.md
  packages/create-sei/brand-assets.ts
  packages/create-sei/scripts/select-precompiles-source.ts
  packages/create-sei/scripts/smoke-generated-app.ts
  packages/create-sei/src/main.test.ts
  packages/create-sei/src/main.ts
  packages/create-sei/templates/next-template/README.md
  packages/create-sei/templates/next-template/src/app/development/page.tsx
  packages/create-sei/templates/next-template/src/app/favicon.ico/route.ts
Due: create-sei

fix(create-sei): ship safe branded scaffolds (#340)
  .changeset/harden-create-sei-release.md
  .github/workflows/create-sei-smoke.yml
  package.json
  packages/create-sei/README.md
  packages/create-sei/brand-assets.ts
  packages/create-sei/extensions/precompiles/package.json
  packages/create-sei/extensions/precompiles/src/components/default/index.tsx
  packages/create-sei/package.json
  packages/create-sei/scripts/select-precompiles-source.ts
  packages/create-sei/scripts/smoke-generated-app.ts
  packages/create-sei/src/main.test.ts
  packages/create-sei/src/main.ts
  packages/create-sei/templates/next-template/README.md
  packages/create-sei/templates/next-template/gitignore
  packages/create-sei/templates/next-template/next.config.mjs
  packages/create-sei/templates/next-template/package.json
  packages/create-sei/templates/next-template/public/brand/powered-by-sei-light.png
  packages/create-sei/templates/next-template/public/brand/sei-lockup-light.svg
  packages/create-sei/templates/next-template/public/brand/sei-mark.png
  packages/create-sei/templates/next-template/public/favicon.ico
  packages/create-sei/templates/next-template/src/app/development/page.tsx
  packages/create-sei/templates/next-template/src/app/favicon.ico/route.ts
  packages/create-sei/templates/next-template/src/app/globals.css
  packages/create-sei/templates/next-template/src/app/layout.tsx
  packages/create-sei/templates/next-template/src/app/resources/page.tsx
  packages/create-sei/templates/next-template/src/app/resources/resources.ts
  packages/create-sei/templates/next-template/src/components/default/index.tsx
  packages/create-sei/templates/next-template/src/components/landing/index.tsx
  packages/create-sei/templates/next-template/src/components/providers/providers.tsx
  packages/create-sei/templates/next-template/src/components/shell/shell.tsx
  packages/create-sei/templates/next-template/src/theme.ts
  packages/create-sei/tsconfig.json
  tsconfig.test.json
Due: create-sei

fix(mcp-server): harden transports and secret handling
  .changeset/harden-mcp-release-blockers.md
  packages/mcp-server/.env.example
  packages/mcp-server/CHANGELOG.md
  packages/mcp-server/README.md
  packages/mcp-server/src/core/chains.ts
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/core/errors.ts
  packages/mcp-server/src/core/private-key.ts
  packages/mcp-server/src/core/prompts.ts
  packages/mcp-server/src/core/resources.ts
  packages/mcp-server/src/core/services/balance.ts
  packages/mcp-server/src/core/services/clients.ts
  packages/mcp-server/src/core/services/transfer.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/docs/server.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/server/args.ts
  packages/mcp-server/src/server/package-info.ts
  packages/mcp-server/src/server/server.ts
  packages/mcp-server/src/server/transport/http-sse.ts
  packages/mcp-server/src/server/transport/lifecycle.ts
  packages/mcp-server/src/server/transport/security.ts
  packages/mcp-server/src/server/transport/stdio.ts
  packages/mcp-server/src/server/transport/streamable-http.ts
  packages/mcp-server/src/tests/core/chains.test.ts
  packages/mcp-server/src/tests/core/config.test.ts
  packages/mcp-server/src/tests/core/errors.test.ts
  packages/mcp-server/src/tests/core/prompts.test.ts
  packages/mcp-server/src/tests/core/resources.test.ts
  packages/mcp-server/src/tests/core/services/balance.test.ts
  packages/mcp-server/src/tests/core/services/clients.test.ts
  packages/mcp-server/src/tests/core/services/transfer.test.ts
  packages/mcp-server/src/tests/core/tools.test.ts
  packages/mcp-server/src/tests/index.test.ts
  packages/mcp-server/src/tests/server/args.test.ts
  packages/mcp-server/src/tests/server/server.test.ts
  packages/mcp-server/src/tests/server/transport/http-sse.test.ts
  packages/mcp-server/src/tests/server/transport/security.test.ts
  packages/mcp-server/src/tests/server/transport/streamable-http.test.ts
Due: none

fix(mcp-server): close review security gaps
  .changeset/harden-mcp-release-blockers.md
  REVIEW.md
  packages/mcp-server/.env.example
  packages/mcp-server/README.md
  packages/mcp-server/bin/mcp-server.js
  packages/mcp-server/src/core/chains.ts
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/core/errors.ts
  packages/mcp-server/src/core/private-key.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/server/args.ts
  packages/mcp-server/src/server/transport/factory.ts
  packages/mcp-server/src/server/transport/http-sse.ts
  packages/mcp-server/src/server/transport/types.ts
  packages/mcp-server/src/tests/core/chains.test.ts
  packages/mcp-server/src/tests/core/config.test.ts
  packages/mcp-server/src/tests/core/errors.test.ts
  packages/mcp-server/src/tests/core/prompts.test.ts
  packages/mcp-server/src/tests/core/resources.test.ts
  packages/mcp-server/src/tests/core/tools.test.ts
  packages/mcp-server/src/tests/index.test.ts
  packages/mcp-server/src/tests/server/args.test.ts
  packages/mcp-server/src/tests/server/transport/factory.test.ts
  packages/mcp-server/src/tests/server/transport/http-sse.test.ts
  packages/mcp-server/src/tests/server/transport/streamable-http.test.ts
  scripts/check-mcp-cli.ts
Due: none

fix(mcp-server): preserve fail-closed policy
  .changeset/harden-mcp-release-blockers.md
  REVIEW.md
  packages/mcp-server/.env.example
  packages/mcp-server/README.md
  packages/mcp-server/src/core/errors.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/server/args.ts
  packages/mcp-server/src/server/transport/factory.ts
  packages/mcp-server/src/server/transport/http-sse.ts
  packages/mcp-server/src/server/transport/security.ts
  packages/mcp-server/src/server/transport/stdio.ts
  packages/mcp-server/src/server/transport/streamable-http.ts
  packages/mcp-server/src/server/transport/types.ts
  packages/mcp-server/src/tests/core/errors.test.ts
  packages/mcp-server/src/tests/core/resources.test.ts
  packages/mcp-server/src/tests/core/tools.test.ts
  packages/mcp-server/src/tests/index.test.ts
  packages/mcp-server/src/tests/server/args.test.ts
  packages/mcp-server/src/tests/server/transport/factory.test.ts
  packages/mcp-server/src/tests/server/transport/http-sse.test.ts
  packages/mcp-server/src/tests/server/transport/security.test.ts
  packages/mcp-server/src/tests/server/transport/streamable-http.test.ts
  scripts/check-mcp-cli.ts
Due: none

fix(registry): refresh reviewed asset data
  .changeset/refresh-reviewed-registry-data.md
  packages/registry/README.md
  packages/registry/RUNBOOK.md
  packages/registry/package.json
  packages/registry/src/tokens/__tests__/index.spec.ts
  packages/registry/src/tokens/filter.ts
  packages/registry/src/tokens/index.ts
  packages/registry/src/tokens/types.ts
  scripts/build-registry.ts
  scripts/check-registry-artifact.ts
  scripts/check-registry-images.ts
  scripts/check-registry-submodules.ts
  scripts/registry-release.test.ts
Due: registry

test(registry): gate data identity in release CI
  .changeset/refresh-reviewed-registry-data.md
  .github/workflows/checks.yml
  .github/workflows/release.yml
  packages/registry/RUNBOOK.md
  packages/registry/package.json
  packages/registry/src/tokens/__tests__/index.spec.ts
  packages/registry/src/tokens/filter.ts
  scripts/check-registry-images.ts
  scripts/registry-release.test.ts
Due: registry

Clean up CHANGELOG.md by removing unreleased section
  packages/mcp-server/CHANGELOG.md
Due: none

fix(sei-global-wallet): harden consumer integrations
  .changeset/fix-global-wallet-release-blockers.md
  .github/workflows/sei-global-wallet-smoke.yml
  bun.lock
  package.json
  packages/sei-global-wallet/README.md
  packages/sei-global-wallet/package.json
  packages/sei-global-wallet/src/eip6963.ts
  packages/sei-global-wallet/src/ethereum.ts
  packages/sei-global-wallet/src/index.ts
  packages/sei-global-wallet/src/lib/EIP6963Emitter.ts
  packages/sei-global-wallet/src/lib/__tests__/EIP6963Emitter.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/browserIntegration.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/config.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/entrypoints.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/registerSolanaStandard.spec.ts
  packages/sei-global-wallet/src/lib/browserGlobal.ts
  packages/sei-global-wallet/src/lib/config.ts
  packages/sei-global-wallet/src/lib/dynamicClient.ts
  packages/sei-global-wallet/src/lib/dynamicEthereum.ts
  packages/sei-global-wallet/src/lib/dynamicFeatures.ts
  packages/sei-global-wallet/src/lib/dynamicSolana.ts
  packages/sei-global-wallet/src/lib/dynamicZerodev.ts
  packages/sei-global-wallet/src/lib/registerSolanaStandard.ts
  packages/sei-global-wallet/src/lib/wallet.ts
  packages/sei-global-wallet/src/solana.ts
  packages/sei-global-wallet/src/zerodev.ts
  packages/sei-global-wallet/tsconfig.json
  scripts/check-sei-global-wallet.ts
Due: sei-global-wallet

fix(sei-global-wallet): unbreak CI typecheck and coverage
  packages/sei-global-wallet/src/lib/__tests__/entrypoints.spec.ts
  scripts/check-sei-global-wallet.ts
  scripts/dynamic-package-lock.test.ts
  scripts/dynamic-package-lock.ts
Due: sei-global-wallet

Harden Sei Global Wallet release compatibility
  .changeset/fix-global-wallet-release-blockers.md
  .github/workflows/sei-global-wallet-smoke.yml
  bun.lock
  packages/sei-global-wallet/README.md
  packages/sei-global-wallet/package.json
  packages/sei-global-wallet/src/lib/EIP6963Emitter.ts
  packages/sei-global-wallet/src/lib/__tests__/browserGlobal.preserve.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/browserGlobal.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/entrypoints.spec.ts
  packages/sei-global-wallet/src/lib/browserGlobal.ts
  packages/sei-global-wallet/src/lib/config.ts
  scripts/check-sei-global-wallet.ts
  scripts/dynamic-package-lock.test.ts
  scripts/dynamic-package-lock.ts
Due: sei-global-wallet

fix(registry): refresh reviewed asset data (#342)
  .changeset/refresh-reviewed-registry-data.md
  .github/workflows/checks.yml
  .github/workflows/release.yml
  packages/registry/README.md
  packages/registry/RUNBOOK.md
  packages/registry/package.json
  packages/registry/src/tokens/__tests__/index.spec.ts
  packages/registry/src/tokens/filter.ts
  packages/registry/src/tokens/index.ts
  packages/registry/src/tokens/types.ts
  scripts/build-registry.ts
  scripts/check-registry-artifact.ts
  scripts/check-registry-images.ts
  scripts/check-registry-submodules.ts
  scripts/registry-release.test.ts
Due: registry

fix(mcp-server): stop CI typecheck OOM from a split zod tree
  .changeset/align-mcp-zod.md
  bun.lock
  packages/mcp-server/package.json
  scripts/mcp-zod-lock.test.ts
  scripts/mcp-zod-lock.ts
Due: none

fix(sei-global-wallet): address seidroid review follow-ups
  .changeset/align-mcp-zod.md
  .changeset/fix-global-wallet-release-blockers.md
  .github/workflows/sei-global-wallet-smoke.yml
  bun.lock
  packages/mcp-server/package.json
  packages/sei-global-wallet/README.md
  packages/sei-global-wallet/package.json
  packages/sei-global-wallet/src/lib/__tests__/browserGlobal.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/browserIntegration.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/config.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/entrypoints.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/registerSolanaStandard.ssr.spec.ts
  packages/sei-global-wallet/src/lib/browserGlobal.ts
  packages/sei-global-wallet/src/lib/config.ts
  scripts/check-sei-global-wallet.ts
  scripts/mcp-zod-lock.test.ts
Due: sei-global-wallet

fix(sei-global-wallet): harden consumer integrations (#343)
  .changeset/align-mcp-zod.md
  .changeset/fix-global-wallet-release-blockers.md
  .github/workflows/sei-global-wallet-smoke.yml
  bun.lock
  package.json
  packages/mcp-server/package.json
  packages/sei-global-wallet/README.md
  packages/sei-global-wallet/package.json
  packages/sei-global-wallet/src/eip6963.ts
  packages/sei-global-wallet/src/ethereum.ts
  packages/sei-global-wallet/src/index.ts
  packages/sei-global-wallet/src/lib/EIP6963Emitter.ts
  packages/sei-global-wallet/src/lib/__tests__/EIP6963Emitter.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/browserGlobal.preserve.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/browserGlobal.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/browserIntegration.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/config.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/entrypoints.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/registerSolanaStandard.spec.ts
  packages/sei-global-wallet/src/lib/browserGlobal.ts
  packages/sei-global-wallet/src/lib/config.ts
  packages/sei-global-wallet/src/lib/dynamicClient.ts
  packages/sei-global-wallet/src/lib/dynamicEthereum.ts
  packages/sei-global-wallet/src/lib/dynamicFeatures.ts
  packages/sei-global-wallet/src/lib/dynamicSolana.ts
  packages/sei-global-wallet/src/lib/dynamicZerodev.ts
  packages/sei-global-wallet/src/lib/registerSolanaStandard.ts
  packages/sei-global-wallet/src/lib/wallet.ts
  packages/sei-global-wallet/src/solana.ts
  packages/sei-global-wallet/src/zerodev.ts
  packages/sei-global-wallet/tsconfig.json
  scripts/check-sei-global-wallet.ts
  scripts/dynamic-package-lock.test.ts
  scripts/dynamic-package-lock.ts
  scripts/mcp-zod-lock.test.ts
  scripts/mcp-zod-lock.ts
Due: sei-global-wallet

style(scripts): satisfy biome formatting in the MCP SDK range test
  scripts/mcp-zod-lock.test.ts
Due: none

fix(sei-global-wallet): address seidroid review follow-ups (#344)
  .changeset/align-mcp-zod.md
  .changeset/fix-global-wallet-release-blockers.md
  .github/workflows/sei-global-wallet-smoke.yml
  bun.lock
  packages/mcp-server/package.json
  packages/sei-global-wallet/README.md
  packages/sei-global-wallet/package.json
  packages/sei-global-wallet/src/lib/__tests__/browserGlobal.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/browserIntegration.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/config.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/entrypoints.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/registerSolanaStandard.ssr.spec.ts
  packages/sei-global-wallet/src/lib/browserGlobal.ts
  packages/sei-global-wallet/src/lib/config.ts
  scripts/check-sei-global-wallet.ts
  scripts/mcp-zod-lock.test.ts
Due: sei-global-wallet

fix(mcp-server): return validation errors for invalid networks
  packages/mcp-server/src/core/prompts.ts
Due: none

chore(mcp-server): add prompt validation changeset
  .changeset/fix-mcp-network-list-validation.md
Due: none

fix(mcp-server): return prompt validation errors for invalid networks (#345)
  .changeset/fix-mcp-network-list-validation.md
  packages/mcp-server/src/core/prompts.ts
Due: none

ci: keep the create-sei smoke green on Version Packages branches
  packages/create-sei/scripts/pending-changesets.ts
  packages/create-sei/scripts/smoke-generated-app.ts
  packages/create-sei/src/main.test.ts
Due: create-sei

ci: keep the create-sei smoke green on Version Packages branches (#346)
  packages/create-sei/scripts/pending-changesets.ts
  packages/create-sei/scripts/smoke-generated-app.ts
  packages/create-sei/src/main.test.ts
Due: create-sei

fix(sei-global-wallet): follow Dynamic peer drift in smoke tests
  .changeset/fix-global-wallet-dynamic-peer-drift.md
  packages/sei-global-wallet/README.md
  scripts/check-sei-global-wallet.ts
Due: sei-global-wallet

fix(sei-global-wallet): harden Dynamic contract resolution
  .changeset/fix-global-wallet-dynamic-peer-drift.md
  packages/sei-global-wallet/README.md
  scripts/check-sei-global-wallet.ts
  scripts/dynamic-package-contract.test.ts
  scripts/dynamic-package-contract.ts
  scripts/dynamic-package-lock.test.ts
  scripts/dynamic-package-lock.ts
Due: sei-global-wallet

fix(sei-global-wallet): follow Dynamic peer drift in smoke tests (#347)
  .changeset/fix-global-wallet-dynamic-peer-drift.md
  packages/sei-global-wallet/README.md
  scripts/check-sei-global-wallet.ts
  scripts/dynamic-package-contract.test.ts
  scripts/dynamic-package-contract.ts
  scripts/dynamic-package-lock.test.ts
  scripts/dynamic-package-lock.ts
Due: sei-global-wallet

feat(precompiles): read logs across a block range
  .changeset/precompiles-get-logs-in-range.md
  packages/precompiles/README.md
  packages/precompiles/src/index.ts
  packages/precompiles/src/viem/__tests__/logs.spec.ts
  packages/precompiles/src/viem/index.ts
  packages/precompiles/src/viem/logs.ts
Due: precompiles

fix(sei-global-wallet): clear the new sharp and stream-json advisories
  .changeset/fix-global-wallet-sharp-override.md
  packages/sei-global-wallet/README.md
  scripts/check-sei-global-wallet.ts
Due: sei-global-wallet

fix(create-sei): clear the new Next.js and sharp advisories
  .changeset/fix-create-sei-next-sharp-advisories.md
  packages/create-sei/templates/next-template/README.md
  packages/create-sei/templates/next-template/next.config.mjs
  packages/create-sei/templates/next-template/package.json
Due: create-sei

fix(sei-global-wallet): fail npm audits that never ran
  .changeset/fix-global-wallet-sharp-override.md
  packages/sei-global-wallet/README.md
  scripts/check-sei-global-wallet.ts
  scripts/consumer-audit.test.ts
  scripts/consumer-audit.ts
  scripts/documented-overrides.test.ts
  scripts/documented-overrides.ts
Due: sei-global-wallet

Path conditions:
  create-sei: any of: packages/create-sei/**
  precompiles: any of: packages/precompiles/**
  ledger: any of: packages/ledger/**
  registry: any of: packages/registry/**
  sei-global-wallet: any of: packages/sei-global-wallet/**
