Repository sei-protocol/sei-js: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, proto, registry, create-sei, actions

codecov.yml:

flags:
  core:
    paths:
      - packages/cosmjs/**
  react:
    paths:
      - packages/evm/**
  proto:
    paths:
      - packages/proto/**
  registry:
    paths:
      - packages/registry/**
  create-sei:
    paths:
      - packages/create-sei/**
  actions:
    paths:
      - packages/actions/**
coverage:
  status:
    project:
      core:
        target: 80%
        flags:
          - cosmjs
      react:
        target: 80%
        flags:
          - evm
      proto:
        target: 80%
        flags:
          - proto
      registry:
        target: 80%
        flags:
          - registry
      create-sei:
        target: 80%
        flags:
          - create-sei
      actions:
        target: 80%
        flags:
          - actions

update Dynamic version to 4.10.2
  .changeset/smooth-cars-yell.md
  packages/sei-global-wallet/package.json
  yarn.lock
Due: none

update Dynamic version to 4.10.2 (#233)
  .changeset/smooth-cars-yell.md
  packages/sei-global-wallet/package.json
  yarn.lock
Due: none

Update install state
  .yarn/install-state.gz
Due: none

Fixed broken tests
  packages/cosmjs/src/core/signingClient/__tests__/cosmWasmClient.spec.ts
  packages/cosmjs/src/core/signingClient/__tests__/stargateClient.spec.ts
  packages/cosmjs/src/core/signingClient/stargateClient.ts
  packages/cosmjs/src/staking/__tests__/apr.spec.ts
  packages/cosmjs/src/staking/apr.ts
Due: core

Build before testing
  .github/workflows/checks.yml
  packages/cosmjs/package.json
Due: core

Cleaned up package.json files
  .yarn/install-state.gz
  packages/cosmjs/package.json
  packages/cosmos/package.json
  packages/ledger/package.json
  packages/registry/package.json
  packages/sei-global-wallet/package.json
  yarn.lock
Due: core, registry

Update main README.md, removed query client from /cosmjs README
  README.md
  packages/cosmjs/README.md
Due: core

@sei-js/cosmjs remove anything not cosmjs related
  packages/cosmjs/src/clients/__tests__/cosmWasmClient.spec.ts
  packages/cosmjs/src/clients/__tests__/stargateClient.spec.ts
  packages/cosmjs/src/clients/cosmWasmClient.ts
  packages/cosmjs/src/clients/index.ts
  packages/cosmjs/src/clients/stargateClient.ts
  packages/cosmjs/src/core/index.ts
  packages/cosmjs/src/cosmoskit/assetlist.ts
  packages/cosmjs/src/cosmoskit/chains.ts
  packages/cosmjs/src/cosmoskit/index.ts
  packages/cosmjs/src/index.ts
  packages/cosmjs/src/staking/__tests__/apr.spec.ts
  packages/cosmjs/src/staking/apr.ts
  packages/cosmjs/src/staking/index.ts
  packages/cosmjs/src/utils/index.ts
  packages/cosmjs/src/utils/serialize.ts
  packages/cosmjs/src/utils/signing.ts
  packages/cosmjs/src/wallet/__tests__/keplrVerification.spec.ts
  packages/cosmjs/src/wallet/index.ts
  packages/cosmjs/src/wallet/keplrVerification.ts
  packages/cosmjs/src/wallet/utils.ts
  packages/cosmjs/src/wallet/wallet.ts
Due: core

Updated install state added @sei-js/cosmos to @sei-js/cosmjs
  .yarn/install-state.gz
  packages/cosmjs/package.json
  yarn.lock
Due: core

Fixed broken tests
  packages/cosmjs/src/clients/__tests__/stargateClient.spec.ts
  packages/cosmjs/src/clients/stargateClient.ts
Due: core

Adjusted tsconfig to remove "paths"
  tsconfig.base.json
Due: none

Update install state, remove declaration, add flag to build in dependency order
  .yarn/install-state.gz
  package.json
  tsconfig.base.json
Due: none

100% test coverage across the board
  packages/cosmjs/src/clients/cosmWasmClient.ts
  packages/cosmjs/src/clients/stargateClient.ts
  packages/cosmjs/src/utils/__tests__/address.spec.ts
  packages/cosmjs/src/utils/address.ts
  packages/cosmjs/src/wallet/__tests__/wallet.spec.ts
  packages/cosmjs/src/wallet/utils.ts
Due: core

@sei-js/cosmjs: Remove dependency on deprecated @sei-js/proto, remove redundant exports, cleaned up building and directory structure (#221)
  .changeset/fresh-scissors-bake.md
  .github/workflows/checks.yml
  .yarn/install-state.gz
  README.md
  package.json
  packages/cosmjs/README.md
  packages/cosmjs/package.json
  packages/cosmjs/src/clients/__tests__/cosmWasmClient.spec.ts
  packages/cosmjs/src/clients/__tests__/stargateClient.spec.ts
  packages/cosmjs/src/clients/cosmWasmClient.ts
  packages/cosmjs/src/clients/index.ts
  packages/cosmjs/src/clients/stargateClient.ts
  packages/cosmjs/src/core/index.ts
  packages/cosmjs/src/core/queryClient/__tests__/queryClient.spec.ts
  packages/cosmjs/src/core/queryClient/index.ts
  packages/cosmjs/src/core/queryClient/queryClient.ts
  packages/cosmjs/src/cosmoskit/assetlist.ts
  packages/cosmjs/src/cosmoskit/chains.ts
  packages/cosmjs/src/cosmoskit/index.ts
  packages/cosmjs/src/index.ts
  packages/cosmjs/src/staking/__tests__/apr.spec.ts
  packages/cosmjs/src/staking/apr.ts
  packages/cosmjs/src/staking/index.ts
  packages/cosmjs/src/utils/__tests__/address.spec.ts
  packages/cosmjs/src/utils/address.ts
  packages/cosmjs/src/utils/index.ts
  packages/cosmjs/src/utils/serialize.ts
  packages/cosmjs/src/utils/signing.ts
  packages/cosmjs/src/wallet/__tests__/keplrVerification.spec.ts
  packages/cosmjs/src/wallet/__tests__/wallet.spec.ts
  packages/cosmjs/src/wallet/index.ts
  packages/cosmjs/src/wallet/keplrVerification.ts
  packages/cosmjs/src/wallet/utils.ts
  packages/cosmjs/src/wallet/wallet.ts
  packages/cosmos/package.json
  packages/ledger/package.json
  packages/registry/package.json
  packages/sei-global-wallet/package.json
  tsconfig.base.json
  yarn.lock
Due: core, registry

Format base files
  .changeset/config.json
  .vscode/extensions.json
  typedoc.base.json
  typedoc.config.js
  typedoc.theme.css
Due: none

Add confidential transfers files to git
  packages/cosmos/library/encoding/confidentialtransfers/confidential.ts
  packages/cosmos/library/encoding/confidentialtransfers/cryptography.ts
  packages/cosmos/library/encoding/confidentialtransfers/genesis.ts
  packages/cosmos/library/encoding/confidentialtransfers/index.ts
  packages/cosmos/library/encoding/confidentialtransfers/params.ts
  packages/cosmos/library/encoding/confidentialtransfers/query.ts
  packages/cosmos/library/encoding/confidentialtransfers/tx.ts
  packages/cosmos/library/encoding/confidentialtransfers/zk.ts
Due: none

Removed confidential transfers
  packages/cosmos/library/encoding/amino.ts
  packages/cosmos/library/encoding/confidentialtransfers/confidential.ts
  packages/cosmos/library/encoding/confidentialtransfers/cryptography.ts
  packages/cosmos/library/encoding/confidentialtransfers/genesis.ts
  packages/cosmos/library/encoding/confidentialtransfers/index.ts
  packages/cosmos/library/encoding/confidentialtransfers/params.ts
  packages/cosmos/library/encoding/confidentialtransfers/query.ts
  packages/cosmos/library/encoding/confidentialtransfers/tx.ts
  packages/cosmos/library/encoding/confidentialtransfers/zk.ts
  packages/cosmos/library/encoding/index.ts
  packages/cosmos/library/encoding/registry.ts
  packages/cosmos/library/rest/index.ts
Due: none

100% tests on /cosmos, /evm, and /ledger
  packages/cosmos/jest.config.js
  packages/cosmos/package.json
  packages/evm/jest.config.js
  packages/evm/src/ethers/__tests__/ethersPrecompiles.spec.ts
  packages/evm/src/viem/__tests__/chain.spec.ts
  packages/evm/src/viem/__tests__/viemPrecompiles.spec.ts
  packages/ledger/jest.config.js
  packages/ledger/package.json
  packages/ledger/src/cosmos/__tests__/seiLedgerOfflineAminoSigner.spec.ts
  packages/ledger/src/cosmos/__tests__/utils.spec.ts
Due: react

Added tests for `@sei-js/sei-global-wallet`
  packages/sei-global-wallet/jest.config.mjs
  packages/sei-global-wallet/package.json
  packages/sei-global-wallet/src/lib/EIP6963Emitter.ts
  packages/sei-global-wallet/src/lib/__tests__/EIP6963Emitter.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/registerSolanaStandard.ts
  packages/sei-global-wallet/src/lib/config.ts
  packages/sei-global-wallet/src/lib/registerSolanaStandard.ts
Due: none

Add exports for confidential transfers module
  packages/cosmos/library/encoding/amino.ts
  packages/cosmos/library/encoding/index.ts
  packages/cosmos/library/encoding/registry.ts
  packages/cosmos/library/rest/index.ts
Due: none

Added library files to git
  packages/cosmos/library/encoding/confidentialtransfers/confidential.ts
  packages/cosmos/library/encoding/confidentialtransfers/cryptography.ts
  packages/cosmos/library/encoding/confidentialtransfers/genesis.ts
  packages/cosmos/library/encoding/confidentialtransfers/index.ts
  packages/cosmos/library/encoding/confidentialtransfers/params.ts
  packages/cosmos/library/encoding/confidentialtransfers/query.ts
  packages/cosmos/library/encoding/confidentialtransfers/tx.ts
  packages/cosmos/library/encoding/confidentialtransfers/zk.ts
Due: none

Added types to git
  packages/cosmos/library/rest/confidentialtransfers/query.ts
  packages/cosmos/library/types/confidentialtransfers/confidential.ts
  packages/cosmos/library/types/confidentialtransfers/cryptography.ts
  packages/cosmos/library/types/confidentialtransfers/genesis.ts
  packages/cosmos/library/types/confidentialtransfers/index.ts
  packages/cosmos/library/types/confidentialtransfers/params.ts
  packages/cosmos/library/types/confidentialtransfers/query.ts
  packages/cosmos/library/types/confidentialtransfers/tx.ts
  packages/cosmos/library/types/confidentialtransfers/zk.ts
Due: none

Added changeset
  .changeset/gold-shrimps-nail.md
Due: none

Added tests for `@sei-js/sei-global-wallet` (#238)
  packages/sei-global-wallet/jest.config.mjs
  packages/sei-global-wallet/package.json
  packages/sei-global-wallet/src/lib/EIP6963Emitter.ts
  packages/sei-global-wallet/src/lib/__tests__/EIP6963Emitter.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/registerSolanaStandard.ts
  packages/sei-global-wallet/src/lib/config.ts
  packages/sei-global-wallet/src/lib/registerSolanaStandard.ts
Due: none

100% tests on /cosmos, /evm, and /ledger (#237)
  packages/cosmos/jest.config.js
  packages/cosmos/package.json
  packages/evm/jest.config.js
  packages/evm/src/ethers/__tests__/ethersPrecompiles.spec.ts
  packages/evm/src/viem/__tests__/chain.spec.ts
  packages/evm/src/viem/__tests__/viemPrecompiles.spec.ts
  packages/ledger/jest.config.js
  packages/ledger/package.json
  packages/ledger/src/cosmos/__tests__/seiLedgerOfflineAminoSigner.spec.ts
  packages/ledger/src/cosmos/__tests__/utils.spec.ts
Due: react

Added changeset
  .changeset/curly-kiwis-listen.md
Due: none

Added new files to git registry
  packages/cosmos/library/encoding/confidentialtransfers/confidential.ts
  packages/cosmos/library/encoding/confidentialtransfers/cryptography.ts
  packages/cosmos/library/encoding/confidentialtransfers/genesis.ts
  packages/cosmos/library/encoding/confidentialtransfers/index.ts
  packages/cosmos/library/encoding/confidentialtransfers/params.ts
  packages/cosmos/library/encoding/confidentialtransfers/query.ts
  packages/cosmos/library/encoding/confidentialtransfers/tx.ts
  packages/cosmos/library/encoding/confidentialtransfers/zk.ts
  packages/cosmos/library/rest/confidentialtransfers/query.ts
  packages/cosmos/library/types/confidentialtransfers/confidential.ts
  packages/cosmos/library/types/confidentialtransfers/cryptography.ts
  packages/cosmos/library/types/confidentialtransfers/genesis.ts
  packages/cosmos/library/types/confidentialtransfers/index.ts
  packages/cosmos/library/types/confidentialtransfers/params.ts
  packages/cosmos/library/types/confidentialtransfers/query.ts
  packages/cosmos/library/types/confidentialtransfers/tx.ts
  packages/cosmos/library/types/confidentialtransfers/zk.ts
Due: none

Add Confidential Transfers Precompiles to @sei-js/evm
  packages/evm/README.md
  packages/evm/src/ethers/__tests__/ethersPrecompiles.spec.ts
  packages/evm/src/ethers/confidentialTransfersPrecompile.ts
  packages/evm/src/ethers/index.ts
  packages/evm/src/precompiles/confidential_transfers.ts
  packages/evm/src/precompiles/index.ts
  packages/evm/src/viem/__tests__/viemPrecompiles.spec.ts
  packages/evm/src/viem/confidentialTransfersPrecompile.ts
  packages/evm/src/viem/index.ts
Due: react

replaced cosmology links with hyperweb links
  packages/create-sei/README.md
  packages/create-sei/templates/next-cosmos-template/src/app/components/Homepage/Homepage.tsx
  packages/create-sei/templates/vite-cosmos-template/src/components/Homepage/Homepage.tsx
Due: create-sei

Update install state for yarn
  .yarn/install-state.gz
  package.json
  packages/evm/package.json
  packages/ledger/package.json
  packages/registry/package.json
  packages/sei-global-wallet/package.json
  yarn.lock
Due: react, registry

Update install state for yarn (#242)
  .yarn/install-state.gz
  package.json
  packages/evm/package.json
  packages/ledger/package.json
  packages/registry/package.json
  packages/sei-global-wallet/package.json
  yarn.lock
Due: react, registry

Added changeset
  .changeset/soft-kiwis-appear.md
Due: none

Added changeset (#243)
  .changeset/soft-kiwis-appear.md
Due: none
