Repository sei-protocol/sei-js: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, proto, registry

codecov.yml:

flags:
  core:
    paths:
      - packages/cosmjs/**
  react:
    paths:
      - packages/evm/**
  proto:
    paths:
      - packages/proto/**
  registry:
    paths:
      - packages/registry/**

coverage:
  status:
    project:
      core:
        target: 80%
        flags:
          - cosmjs
      react:
        target: 80%
        flags:
          - evm
      proto:
        target: 80%
        flags:
          - proto
      registry:
        target: 80%
        flags:
          - registry

Updated gitmodules with new community asset list
  .gitignore
  .gitmodules
  package.json
Due: none

@sei-js/registry
  .gitmodules
  README.md
  TYPEDOC-README.md
  codecov.yml
  package.json
  packages/.gitkeep
  packages/cosmjs/tsconfig.json
  packages/evm/tsconfig.json
  packages/proto/tsconfig.json
  packages/registry/README.md
  packages/registry/eslintrc.json
  packages/registry/package.json
  packages/registry/src/assets/index.ts
  packages/registry/src/chain-info/__tests__/index.spec.ts
  packages/registry/src/chain-info/index.ts
  packages/registry/src/gas/__tests__/index.spec.ts
  packages/registry/src/gas/index.ts
  packages/registry/src/ibc/__tests__/index.spec.ts
  packages/registry/src/ibc/index.ts
  packages/registry/src/index.ts
  packages/registry/src/networks/__tests__/index.spec.ts
  packages/registry/src/networks/__tests__/index.ts
  packages/registry/src/networks/index.ts
  packages/registry/src/tokens/__tests__/index.spec.ts
  packages/registry/src/tokens/index.ts
  packages/registry/src/wallets/__tests__/index.spec.ts
  packages/registry/src/wallets/index.ts
  packages/registry/tsconfig.json
  tsconfig.base.json
  typedoc.config.js
  yarn.lock
Due: core, react, proto, registry

Removed Babel in favor of TSC
  packages/registry/.babelrc.js
  packages/registry/.npmignore
  packages/registry/package.json
  packages/registry/src/gas/index.ts
  packages/registry/tsconfig.declaration.json
  packages/registry/tsconfig.json
Due: registry

Added all registry submodules, added typescript types, added unit tests, setup nx package for @sei-js/registry
  .gitmodules
  packages/registry/.babelrc.js
  packages/registry/.eslintignore
  packages/registry/.gitkeep
  packages/registry/.npmignore
  packages/registry/README.md
  packages/registry/RUNBOOK.md
  packages/registry/eslintrc.json
  packages/registry/jest.config.ts
  packages/registry/package.json
  packages/registry/src/assets/__tests__/index.ts
  packages/registry/src/assets/index.ts
  packages/registry/src/chain-info/__tests__/index.ts
  packages/registry/src/chain-info/index.ts
  packages/registry/src/gas/__tests__/index.ts
  packages/registry/src/gas/index.ts
  packages/registry/src/ibc/__tests__/index.ts
  packages/registry/src/ibc/index.ts
  packages/registry/src/index.ts
  packages/registry/src/networks/__tests__/index.ts
  packages/registry/src/networks/index.ts
  packages/registry/src/wallets/__tests__/index.ts
  packages/registry/src/wallets/index.ts
  packages/registry/tsconfig.json
Due: registry

Added changeset
  .changeset/forty-pears-jump.md
Due: none

Made variable names UPPERCASE
  packages/registry/src/chain-info/__tests__/index.spec.ts
  packages/registry/src/chain-info/index.ts
  packages/registry/src/gas/__tests__/index.spec.ts
  packages/registry/src/gas/index.ts
  packages/registry/src/ibc/__tests__/index.spec.ts
  packages/registry/src/ibc/index.ts
  packages/registry/src/networks/__tests__/index.spec.ts
  packages/registry/src/networks/index.ts
  packages/registry/src/tokens/__tests__/index.spec.ts
  packages/registry/src/tokens/index.ts
  packages/registry/src/wallets/__tests__/index.spec.ts
  packages/registry/src/wallets/index.ts
Due: registry

Updated typdoc comments for new variable names
  packages/registry/README.md
  packages/registry/src/chain-info/index.ts
  packages/registry/src/gas/index.ts
  packages/registry/src/ibc/index.ts
  packages/registry/src/networks/index.ts
  packages/registry/src/tokens/index.ts
  packages/registry/src/wallets/index.ts
Due: registry

Add @sei-js/registry (#137)
  .changeset/forty-pears-jump.md
  .gitignore
  .gitmodules
  README.md
  TYPEDOC-README.md
  codecov.yml
  package.json
  packages/evm/tsconfig.json
  packages/proto/tsconfig.json
  packages/registry/.eslintignore
  packages/registry/.gitkeep
  packages/registry/.npmignore
  packages/registry/README.md
  packages/registry/RUNBOOK.md
  packages/registry/eslintrc.json
  packages/registry/jest.config.ts
  packages/registry/package.json
  packages/registry/src/chain-info/__tests__/index.spec.ts
  packages/registry/src/chain-info/index.ts
  packages/registry/src/gas/__tests__/index.spec.ts
  packages/registry/src/gas/index.ts
  packages/registry/src/ibc/__tests__/index.spec.ts
  packages/registry/src/ibc/index.ts
  packages/registry/src/index.ts
  packages/registry/src/networks/__tests__/index.spec.ts
  packages/registry/src/networks/index.ts
  packages/registry/src/tokens/__tests__/index.spec.ts
  packages/registry/src/tokens/index.ts
  packages/registry/src/wallets/__tests__/index.spec.ts
  packages/registry/src/wallets/index.ts
  packages/registry/tsconfig.declaration.json
  packages/registry/tsconfig.json
  tsconfig.base.json
  typedoc.config.js
  yarn.lock
Due: react, proto, registry

@sei-js/proto dependency fix (#145)
  .changeset/nasty-dodos-perform.md
  packages/cosmjs/package.json
Due: core

Added changeset for dependency fix
  .changeset/new-ads-arrive.md
Due: none

Added changeset for dependency fix (#149)
  .changeset/new-ads-arrive.md
Due: none

Moved peer dependencies to standard dependencies so that users don't have to install multiple packages
  packages/evm/package.json
Due: react

Added changeset
  .changeset/large-birds-decide.md
Due: none

Adjusted github actions to not use peer dependencies
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
  .github/workflows/deploydocs.yml
Due: none

Adjusted dependencies
  packages/evm/package.json
  yarn.lock
Due: react

Removed redundand dev dependencies and redundant wagmi and viem in root package.json
  package.json
  packages/cosmjs/package.json
  packages/evm/package.json
  packages/registry/package.json
  yarn.lock
Due: core, react, registry

Feature/evm dependencies (#150)
  .changeset/large-birds-decide.md
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
  .github/workflows/deploydocs.yml
  package.json
  packages/cosmjs/package.json
  packages/evm/package.json
  packages/registry/package.json
  yarn.lock
Due: core, react, registry

Include submodules in regostry NPM package export
  packages/registry/package.json
  packages/registry/tsconfig.json
Due: registry

Added changeset
  .changeset/gorgeous-moles-pull.md
Due: none

Added chain id exports
  packages/registry/src/index.ts
Due: registry

Added /src to package.json main field
  packages/registry/package.json
Due: registry

Fix: Include submodule (registry) files in NPM package export (#152)
  .changeset/gorgeous-moles-pull.md
  packages/registry/package.json
  packages/registry/src/index.ts
  packages/registry/tsconfig.json
Due: registry

Removed /types alias
  packages/cosmjs/src/core/queryClient/queryClient.ts
  packages/cosmjs/src/staking/__tests__/apr.spec.ts
  packages/cosmjs/src/staking/apr.ts
  packages/cosmjs/src/utils/serialize.ts
  packages/proto/package.json
  tsconfig.base.json
Due: core, proto

Added changeset
  .changeset/sour-adults-argue.md
Due: none

Fixed double slash error
  packages/cosmjs/src/core/queryClient/queryClient.ts
Due: core

Fixed double slashes
  packages/cosmjs/src/staking/apr.ts
Due: core

Fix: @sei-js/proto/types path fix (#154)
  .changeset/sour-adults-argue.md
  packages/cosmjs/src/core/queryClient/queryClient.ts
  packages/cosmjs/src/staking/__tests__/apr.spec.ts
  packages/cosmjs/src/staking/apr.ts
  packages/cosmjs/src/utils/serialize.ts
  packages/proto/package.json
  tsconfig.base.json
Due: core, proto

Fixed invalid import from @sei-js/proto
  packages/cosmjs/src/utils/serialize.ts
Due: core

Added changeset
  .changeset/sour-buttons-love.md
Due: none

Fix: @sei-js/cosmjs importing SignDoc type and using it as object (#156)
  .changeset/sour-buttons-love.md
  packages/cosmjs/src/utils/serialize.ts
Due: core

Cosmjs Query Clients
  packages/cosmjs/src/core/signingClient/cosmWasmClient.ts
  packages/cosmjs/src/core/signingClient/stargateClient.ts
Due: core

Added changeset
  .changeset/swift-boats-obey.md
Due: none

@sei-js/registry github publish action workflow
  .github/workflows/notify.yml
  package.json
Due: none

v2 follow ups: CosmJS signing clients & registry publish action (#158)
  .changeset/swift-boats-obey.md
  packages/cosmjs/src/core/signingClient/cosmWasmClient.ts
  packages/cosmjs/src/core/signingClient/stargateClient.ts
Due: core

Add atlantic-2 chain info
  packages/evm/src/chainInfo/chainInfo.ts
  packages/evm/src/providers/viem.ts
Due: react

minor edit
  packages/evm/src/providers/viem.ts
Due: react

update to just say precompile
  packages/evm/README.md
  packages/evm/src/chainInfo/chainInfo.ts
  packages/evm/src/precompiles/address.ts
  packages/evm/src/precompiles/bank.ts
  packages/evm/src/precompiles/distribution.ts
  packages/evm/src/precompiles/governance.ts
  packages/evm/src/precompiles/ibc.ts
  packages/evm/src/precompiles/json.ts
  packages/evm/src/precompiles/staking.ts
  packages/evm/src/precompiles/wasm.ts
  packages/evm/src/providers/viem.ts
Due: react

add changeset
  .changeset/thick-drinks-wave.md
Due: none

update chain id
  packages/evm/src/chainInfo/chainInfo.ts
Due: react
