Repository sei-protocol/sei-js: changes, and which Codecov flags are due for each by the changed paths.
All: create-sei, precompiles, ledger, registry, sei-global-wallet

Fix biome errors in /precompiles
  packages/precompiles/package.json
  packages/precompiles/src/ethers/addressPrecompile.ts
  packages/precompiles/src/ethers/distributionPrecompile.ts
Due: precompiles

Fix biome for /sei-global-wallet
  packages/sei-global-wallet/package.json
  packages/sei-global-wallet/src/lib/wallet.ts
Due: sei-global-wallet

Fixed biome errors in /ledger
  packages/ledger/package.json
  packages/ledger/src/cosmos/seiLedgerOfflineAminoSigner.ts
Due: ledger

Added biome.json
  packages/create-sei/biome.json
Due: create-sei

Revert "Biome format"
  packages/mcp-server/bin/cli.js
  packages/mcp-server/coverage.json
  packages/mcp-server/jest.config.js
  packages/mcp-server/package.json
  packages/mcp-server/src/core/chains.ts
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/core/services/balance.ts
  packages/mcp-server/src/core/services/contracts.ts
  packages/mcp-server/src/core/services/tokens.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/tests/core/chains.test.ts
  packages/mcp-server/src/tests/core/helpers/tool-test-helpers.ts
  packages/mcp-server/src/tests/core/services/blocks.test.ts
  packages/mcp-server/src/tests/core/services/clients.test.ts
  packages/mcp-server/src/tests/core/services/tokens.test.ts
  packages/mcp-server/src/tests/core/services/transactions.test.ts
  packages/mcp-server/src/tests/core/services/transfer.test.ts
Due: none

Added changeset
  .changeset/some-areas-fail.md
Due: none

Fix broken import and add filtering for read only prompts
  packages/mcp-server/src/core/prompts.ts
  packages/mcp-server/src/core/tools.ts
Due: none

Disable wallet tools by default (#267)
  .changeset/some-areas-fail.md
  .yarn/install-state.gz
  packages/mcp-server/.env.example
  packages/mcp-server/bin/cli.js
  packages/mcp-server/package.json
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/core/prompts.ts
  packages/mcp-server/src/core/services/clients.ts
  packages/mcp-server/src/core/services/contracts.ts
  packages/mcp-server/src/core/services/transfer.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/core/wallet/index.ts
  packages/mcp-server/src/core/wallet/providers/disabled.ts
  packages/mcp-server/src/core/wallet/providers/private-key.ts
  packages/mcp-server/src/core/wallet/types.ts
  packages/mcp-server/src/tests/core/config.test.ts
  packages/mcp-server/src/tests/core/helpers/tool-test-helpers.ts
  packages/mcp-server/src/tests/core/services/clients.test.ts
  packages/mcp-server/src/tests/core/services/contracts.test.ts
  packages/mcp-server/src/tests/core/services/transfer.test.ts
  packages/mcp-server/src/tests/core/tools.test.ts
  packages/mcp-server/src/tests/core/wallet/index.test.ts
  packages/mcp-server/src/tests/core/wallet/providers/disabled.test.ts
  packages/mcp-server/src/tests/core/wallet/providers/private-key.test.ts
  packages/mcp-server/src/tests/core/wallet/types.test.ts
  yarn.lock
Due: none

Biome Format (#266)
  packages/create-sei/biome.json
  packages/create-sei/src/main.ts
  packages/ledger/package.json
  packages/ledger/src/cosmos/seiLedgerOfflineAminoSigner.ts
  packages/precompiles/package.json
  packages/precompiles/src/ethers/addressPrecompile.ts
  packages/precompiles/src/ethers/distributionPrecompile.ts
  packages/registry/package.json
  packages/registry/src/gas/__tests__/index.spec.ts
  packages/registry/src/gas/index.ts
  packages/registry/src/ibc/__tests__/index.spec.ts
  packages/registry/src/ibc/index.ts
  packages/registry/src/networks/__tests__/index.spec.ts
  packages/registry/src/networks/index.ts
  packages/registry/src/tokens/__tests__/index.spec.ts
  packages/registry/src/tokens/index.ts
  packages/registry/src/wallets/__tests__/index.spec.ts
  packages/sei-global-wallet/package.json
  packages/sei-global-wallet/src/lib/wallet.ts
Due: create-sei, precompiles, ledger, registry, sei-global-wallet

Improved Create Sei docs, removed CT
  docs/confidential-transfers/introduction.mdx
  docs/confidential-transfers/mint.json
  docs/create-sei/customization.mdx
  docs/create-sei/introduction.mdx
  docs/create-sei/next-steps.mdx
  docs/create-sei/quick-start.mdx
  docs/create-sei/templates.mdx
  docs/docs.json
  docs/precompiles/index.mdx
  docs/precompiles/mint.json
  docs/precompiles/precompiles/address.mdx
  docs/precompiles/precompiles/bank.mdx
  docs/precompiles/precompiles/confidential-transfers.mdx
  docs/precompiles/precompiles/distribution.mdx
  docs/precompiles/precompiles/ethers.mdx
  docs/precompiles/precompiles/governance.mdx
  docs/precompiles/precompiles/ibc.mdx
  docs/precompiles/precompiles/json.mdx
  docs/precompiles/precompiles/oracle.mdx
  docs/precompiles/precompiles/pointer.mdx
  docs/precompiles/precompiles/pointerview.mdx
  docs/precompiles/precompiles/staking.mdx
  docs/precompiles/precompiles/viem.mdx
  docs/precompiles/precompiles/wasm.mdx
  docs/precompiles/quick-start.mdx
Due: none

Reformatted with Biome and switched to es6 syntax
  packages/mcp-server/src/core/mintlify-search.ts
  packages/mcp-server/src/mintlify/config.ts
  packages/mcp-server/src/mintlify/index.ts
  packages/mcp-server/src/mintlify/search.ts
  packages/mcp-server/src/mintlify/types.ts
  packages/mcp-server/src/mintlify/utils.ts
  packages/mcp-server/src/server/server.ts
Due: none

Add Sei Solo Functions (#255)
  .changeset/moody-ends-tap.md
Due: none

Add Mintlify docs tool to MCP server
  package-lock.json
  packages/mcp-server/src/core/mintlify-search.ts
  packages/mcp-server/src/server/server.ts
Due: none

Added initial mintlify pages
  docs/confidential-transfers/introduction.mdx
  docs/confidential-transfers/mint.json
  docs/evm/index.mdx
  docs/evm/mint.json
  docs/evm/precompiles/address.mdx
  docs/evm/precompiles/bank.mdx
  docs/evm/precompiles/confidential-transfers.mdx
  docs/evm/precompiles/distribution.mdx
  docs/evm/precompiles/ethers.mdx
  docs/evm/precompiles/governance.mdx
  docs/evm/precompiles/ibc.mdx
  docs/evm/precompiles/json.mdx
  docs/evm/precompiles/oracle.mdx
  docs/evm/precompiles/pointer.mdx
  docs/evm/precompiles/pointerview.mdx
  docs/evm/precompiles/staking.mdx
  docs/evm/precompiles/viem.mdx
  docs/evm/precompiles/wasm.mdx
  docs/evm/quick-start.mdx
Due: none

Updated install state and added mintlify commands to package.json
  package.json
Due: none

Add LLM txt files, add anchor links
  docs/base_mint.json
  docs/docs.json
  docs/llms-full.txt
  docs/llms.txt
  package.json
Due: none

Biome format
  docs/create-sei/mint.json
  docs/docs.json
  docs/ledger/mint.json
  docs/precompiles/mint.json
  docs/registry/mint.json
  docs/sei-global-wallet/mint.json
  packages/mcp-server/coverage.json
  packages/mcp-server/jest.config.js
  packages/mcp-server/package.json
  packages/mcp-server/src/core/chains.ts
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/core/services/balance.ts
  packages/mcp-server/src/core/services/tokens.ts
  packages/mcp-server/src/server/server.ts
  packages/mcp-server/src/tests/core/chains.test.ts
  packages/mcp-server/src/tests/core/services/blocks.test.ts
  packages/mcp-server/src/tests/core/services/tokens.test.ts
  packages/mcp-server/src/tests/core/services/transactions.test.ts
Due: none

Added icons to everyhing
  docs/contributing.mdx
  docs/create-sei/quick-start.mdx
  docs/create-sei/templates.mdx
  docs/create-sei/welcome.mdx
  docs/docs.json
  docs/introduction.mdx
  docs/ledger/introduction.mdx
  docs/mcp-server/context.mdx
  docs/mcp-server/introduction.mdx
  docs/mcp-server/tools.mdx
  docs/overview.mdx
  docs/precompiles/introduction.mdx
  docs/precompiles/precompiles/address.mdx
  docs/precompiles/precompiles/bank.mdx
  docs/precompiles/precompiles/confidential-transfers.mdx
  docs/precompiles/precompiles/distribution.mdx
  docs/precompiles/precompiles/ethers.mdx
  docs/precompiles/precompiles/governance.mdx
  docs/precompiles/precompiles/ibc.mdx
  docs/precompiles/precompiles/json.mdx
  docs/precompiles/precompiles/oracle.mdx
  docs/precompiles/precompiles/pointer.mdx
  docs/precompiles/precompiles/pointerview.mdx
  docs/precompiles/precompiles/staking.mdx
  docs/precompiles/precompiles/viem.mdx
  docs/precompiles/precompiles/wasm.mdx
  docs/precompiles/quick-start.mdx
  docs/registry/introduction.mdx
  docs/sei-global-wallet/integration.mdx
  docs/sei-global-wallet/introduction.mdx
Due: none

Finalized MCP server docs
  docs/docs.json
  docs/mcp-server/context.mdx
  docs/mcp-server/introduction.mdx
  docs/mcp-server/setup.mdx
  package.json
  packages/ledger/package.json
  packages/mcp-server/package.json
  packages/precompiles/package.json
  packages/registry/package.json
  packages/sei-global-wallet/package.json
Due: precompiles, ledger, registry, sei-global-wallet

Completed docs for review
  docs/create-sei/welcome.mdx
  docs/docs.json
  docs/introduction.mdx
  docs/llms-full.txt
  docs/registry/introduction.mdx
  docs/sei-global-wallet/connectkit.mdx
  docs/sei-global-wallet/dynamic-nextjs.mdx
  docs/sei-global-wallet/integration.mdx
  docs/sei-global-wallet/introduction.mdx
  docs/sei-global-wallet/quickstart.mdx
  docs/sei-global-wallet/rainbowkit.mdx
  docs/sei-global-wallet/wagmi-dynamic.mdx
  docs/sei-global-wallet/web3-react.mdx
Due: none

Fixed broken links
  docs/create-sei/quick-start.mdx
  docs/create-sei/welcome.mdx
  docs/introduction.mdx
  docs/precompiles/introduction.mdx
Due: none

Improved MCP server documentation
  docs/docs.json
  docs/introduction.mdx
  docs/mcp-server/context.mdx
  docs/mcp-server/introduction.mdx
  docs/mcp-server/prompts.mdx
  docs/mcp-server/setup.mdx
  docs/mcp-server/tools.mdx
  docs/sei-global-wallet/integration.mdx
  docs/sei-global-wallet/introduction.mdx
Due: none

Removed files from rebase
  .changeset/moody-ends-tap.md
  package-lock.json
Due: none

Improved create-sei documentation
  docs/create-sei/customization.mdx
  docs/create-sei/mint.json
  docs/create-sei/next-steps.mdx
  docs/create-sei/quick-start.mdx
  docs/create-sei/templates.mdx
  docs/create-sei/welcome.mdx
  docs/docs.json
  docs/ledger/mint.json
  docs/precompiles/mint.json
  docs/registry/mint.json
  docs/sei-global-wallet/mint.json
Due: none

Add favicon
  docs/docs.json
  docs/favicon.ico
Due: none

Improved ledger, removed precompiles integrations sections
  docs/contributing.mdx
  docs/docs.json
  docs/introduction.mdx
  docs/ledger/introduction.mdx
  docs/overview.mdx
  docs/precompiles/precompiles/ethers.mdx
  docs/precompiles/precompiles/viem.mdx
  package.json
Due: none

Fixed typescript errors in /mcp-server
  packages/mcp-server/src/core/services/balance.ts
  packages/mcp-server/src/core/tools.ts
Due: none

Update Getting Started docs with working snippets
  docs/contributing.mdx
  docs/create-sei/quick-start.mdx
  docs/introduction.mdx
  docs/llms-full.txt
  docs/overview.mdx
  package.json
  typedoc.config.js
Due: none

Adjusted docs for new wallet mode on MCP
  .yarn/install-state.gz
  docs/mcp-server/introduction.mdx
  docs/mcp-server/setup.mdx
  docs/mcp-server/tools.mdx
Due: none

Update install state
  .yarn/install-state.gz
  yarn.lock
Due: none

Updated install state
  .yarn/install-state.gz
  yarn.lock
Due: none

Added changeset
  .changeset/dark-states-sell.md
Due: none

Removed typedoc config files
  typedoc.base.json
  typedoc.config.js
Due: none

Added missing dependency
  .yarn/install-state.gz
  packages/ledger/package.json
  packages/mcp-server/package.json
  packages/precompiles/package.json
  packages/registry/package.json
  packages/sei-global-wallet/package.json
  yarn.lock
Due: precompiles, ledger, registry, sei-global-wallet

Path conditions:
  create-sei: any of: packages/create-sei/**
  precompiles: any of: packages/precompiles/**
  ledger: any of: packages/ledger/**
  registry: any of: packages/registry/**
  sei-global-wallet: any of: packages/sei-global-wallet/**
