Repository sei-protocol/sei-js: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, proto, registry, create-sei, actions

Added changeset
  .changeset/gentle-hotels-remember.md
Due: none

Replace @sei-js/proto with @sei-js/cosmos
  package.json
  packages/cosmjs/package.json
  packages/cosmjs/src/core/signingClient/stargateClient.ts
Due: core

Added changeset
  .changeset/fresh-scissors-bake.md
Due: none

- rename account to global wallet - pull dynamic fixes
  packages/sei-account/tsconfig.json
  packages/sei-global-wallet/.eslintignore
  packages/sei-global-wallet/CHANGELOG.md
  packages/sei-global-wallet/README.md
  packages/sei-global-wallet/package.json
  packages/sei-global-wallet/src/eip6963.ts
  packages/sei-global-wallet/src/index.ts
  packages/sei-global-wallet/src/lib/EIP6963Emitter.ts
  packages/sei-global-wallet/src/lib/config.ts
  packages/sei-global-wallet/src/lib/registerSolanaStandard.ts
  packages/sei-global-wallet/src/lib/wallet.ts
  packages/sei-global-wallet/src/solana-standard.ts
  packages/sei-global-wallet/tsconfig.declaration.json
  packages/sei-global-wallet/tsconfig.json
  yarn.lock
Due: none

- changeset
  .changeset/mighty-coins-stay.md
Due: none

Rename account to global wallet (#222)
  .changeset/mighty-coins-stay.md
  packages/sei-account/tsconfig.json
  packages/sei-global-wallet/.eslintignore
  packages/sei-global-wallet/CHANGELOG.md
  packages/sei-global-wallet/README.md
  packages/sei-global-wallet/package.json
  packages/sei-global-wallet/src/eip6963.ts
  packages/sei-global-wallet/src/index.ts
  packages/sei-global-wallet/src/lib/EIP6963Emitter.ts
  packages/sei-global-wallet/src/lib/config.ts
  packages/sei-global-wallet/src/lib/registerSolanaStandard.ts
  packages/sei-global-wallet/src/lib/wallet.ts
  packages/sei-global-wallet/src/solana-standard.ts
  packages/sei-global-wallet/tsconfig.declaration.json
  packages/sei-global-wallet/tsconfig.json
  yarn.lock
Due: none

@sei-js/cosmos stargate exports (#220)
  .changeset/gentle-hotels-remember.md
  packages/cosmos/README.md
  packages/cosmos/library/encoding/amino.ts
  packages/cosmos/library/encoding/index.ts
  packages/cosmos/library/encoding/registry.ts
  packages/cosmos/library/encoding/stargate.ts
  packages/cosmos/package.json
  packages/cosmos/public/encoding/stargate.ts
  packages/cosmos/scripts/encoding/create-encoder.ts
  packages/cosmos/scripts/encoding/stargate.ts
  packages/cosmos/scripts/index.ts
Due: none

Fixed Tests and Build Issues
  .yarn/install-state.gz
  jest.config.ts
  package.json
  packages/cosmjs/jest.config.js
  packages/cosmjs/package.json
  packages/cosmos/biome.json
  packages/cosmos/library/rest/fetch.ts
  packages/cosmos/public/rest/fetch.ts
  packages/registry/jest.config.js
  yarn.lock
Due: core, registry

Added changeset, adjusted typedoc README, removed unused package, Update github workflows
  .changeset/famous-lies-juggle.md
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
  .github/workflows/deploydocs.yml
  .github/workflows/release.yml
  TYPEDOC-README.md
  package.json
  packages/cosmjs/package.json
Due: core

Updated lockfile to fix build issue
  .yarn/install-state.gz
  package.json
  packages/cosmjs/package.json
  packages/cosmos/package.json
  packages/ledger/package.json
  packages/registry/package.json
  packages/sei-global-wallet/package.json
  yarn.lock
Due: core, registry

Removed remenents of prettier
  .biomeignore
  packages/cosmjs/package.json
  packages/evm/package.json
  packages/sei-global-wallet/package.json
Due: core, react

Added install state
  .yarn/install-state.gz
  packages/cosmjs/package.json
  packages/evm/package.json
  packages/sei-global-wallet/package.json
Due: core, react

Added Create Sei Install State
  packages/create-sei/.yarn/install-state.gz
  packages/create-sei/yarn.lock
Due: create-sei

Updated coverage reports and coverage command
  package.json
  packages/ledger/coverage/clover.xml
  packages/ledger/coverage/coverage-final.json
  packages/ledger/coverage/lcov-report/base.css
  packages/ledger/coverage/lcov-report/block-navigation.js
  packages/ledger/coverage/lcov-report/favicon.png
  packages/ledger/coverage/lcov-report/index.html
  packages/ledger/coverage/lcov-report/prettify.css
  packages/ledger/coverage/lcov-report/prettify.js
  packages/ledger/coverage/lcov-report/sort-arrow-sprite.png
  packages/ledger/coverage/lcov-report/sorter.js
  packages/ledger/coverage/lcov.info
  packages/registry/coverage/clover.xml
  packages/registry/coverage/coverage-final.json
  packages/registry/coverage/lcov-report/base.css
  packages/registry/coverage/lcov-report/block-navigation.js
  packages/registry/coverage/lcov-report/chain-info/index.html
  packages/registry/coverage/lcov-report/chain-info/index.ts.html
  packages/registry/coverage/lcov-report/favicon.png
  packages/registry/coverage/lcov-report/gas/index.html
  packages/registry/coverage/lcov-report/gas/index.ts.html
  packages/registry/coverage/lcov-report/ibc/index.html
  packages/registry/coverage/lcov-report/ibc/index.ts.html
  packages/registry/coverage/lcov-report/index.html
  packages/registry/coverage/lcov-report/networks/index.html
  packages/registry/coverage/lcov-report/networks/index.ts.html
  packages/registry/coverage/lcov-report/prettify.css
  packages/registry/coverage/lcov-report/prettify.js
  packages/registry/coverage/lcov-report/sort-arrow-sprite.png
  packages/registry/coverage/lcov-report/sorter.js
  packages/registry/coverage/lcov-report/tokens/index.html
  packages/registry/coverage/lcov-report/tokens/index.ts.html
  packages/registry/coverage/lcov-report/wallets/index.html
  packages/registry/coverage/lcov-report/wallets/index.ts.html
  packages/registry/coverage/lcov.info
Due: registry

Updated codecov file for all packages
  codecov.yml
  packages/ledger/coverage/clover.xml
  packages/ledger/coverage/lcov-report/index.html
  packages/registry/coverage/clover.xml
  packages/registry/coverage/lcov-report/chain-info/index.html
  packages/registry/coverage/lcov-report/chain-info/index.ts.html
  packages/registry/coverage/lcov-report/gas/index.html
  packages/registry/coverage/lcov-report/gas/index.ts.html
  packages/registry/coverage/lcov-report/ibc/index.html
  packages/registry/coverage/lcov-report/ibc/index.ts.html
  packages/registry/coverage/lcov-report/index.html
  packages/registry/coverage/lcov-report/networks/index.html
  packages/registry/coverage/lcov-report/networks/index.ts.html
  packages/registry/coverage/lcov-report/tokens/index.html
  packages/registry/coverage/lcov-report/tokens/index.ts.html
  packages/registry/coverage/lcov-report/wallets/index.html
  packages/registry/coverage/lcov-report/wallets/index.ts.html
Due: registry

Adjusted Coverage Workflow
  .github/workflows/coverage.yml
  packages/ledger/coverage/clover.xml
  packages/ledger/coverage/lcov-report/index.html
  packages/registry/coverage/clover.xml
  packages/registry/coverage/lcov-report/chain-info/index.html
  packages/registry/coverage/lcov-report/chain-info/index.ts.html
  packages/registry/coverage/lcov-report/gas/index.html
  packages/registry/coverage/lcov-report/gas/index.ts.html
  packages/registry/coverage/lcov-report/ibc/index.html
  packages/registry/coverage/lcov-report/ibc/index.ts.html
  packages/registry/coverage/lcov-report/index.html
  packages/registry/coverage/lcov-report/networks/index.html
  packages/registry/coverage/lcov-report/networks/index.ts.html
  packages/registry/coverage/lcov-report/tokens/index.html
  packages/registry/coverage/lcov-report/tokens/index.ts.html
  packages/registry/coverage/lcov-report/wallets/index.html
  packages/registry/coverage/lcov-report/wallets/index.ts.html
Due: registry

Added registry and ledger coverage files
  packages/ledger/coverage/clover.xml
  packages/ledger/coverage/lcov-report/index.html
  packages/registry/coverage/clover.xml
  packages/registry/coverage/lcov-report/chain-info/index.html
  packages/registry/coverage/lcov-report/chain-info/index.ts.html
  packages/registry/coverage/lcov-report/gas/index.html
  packages/registry/coverage/lcov-report/gas/index.ts.html
  packages/registry/coverage/lcov-report/ibc/index.html
  packages/registry/coverage/lcov-report/ibc/index.ts.html
  packages/registry/coverage/lcov-report/index.html
  packages/registry/coverage/lcov-report/networks/index.html
  packages/registry/coverage/lcov-report/networks/index.ts.html
  packages/registry/coverage/lcov-report/tokens/index.html
  packages/registry/coverage/lcov-report/tokens/index.ts.html
  packages/registry/coverage/lcov-report/wallets/index.html
  packages/registry/coverage/lcov-report/wallets/index.ts.html
Due: registry

ESLint remove, biome ignore update
  .biomeignore
  biome.json
  packages/cosmjs/.eslintignore
  packages/cosmos/.gitignore
  packages/cosmos/.npmignore
  packages/create-sei/.yarn/install-state.gz
  packages/create-sei/package.json
  packages/evm/package.json
Due: core, react, create-sei

- changeset
  packages/sei-global-wallet/package.json
  yarn.lock
Due: none

- changeset
  .changeset/eighty-pots-sneeze.md
Due: none

- undo manual package version change
  packages/sei-global-wallet/package.json
Due: none

Fixed tsconfig causing messed up bundles
  packages/cosmos/tsconfig.json
Due: none

- update wording
  packages/sei-global-wallet/package.json
Due: none

- switch to patch
  .changeset/mighty-ideas-create.md
Due: none

Update Dynamic version (#226)
  .changeset/mighty-ideas-create.md
  packages/sei-global-wallet/package.json
  yarn.lock
Due: none

switch to a separate global wallet dynamic app
  .changeset/kind-moles-pick.md
  packages/sei-global-wallet/src/lib/config.ts
Due: none

switch to a separate global wallet dynamic app (#228)
  .changeset/kind-moles-pick.md
  packages/sei-global-wallet/src/lib/config.ts
Due: none

Remove @sei-js/proto dependencies
  packages/cosmjs/package.json
  packages/cosmjs/src/core/index.ts
  packages/cosmjs/src/core/queryClient/__tests__/queryClient.spec.ts
  packages/cosmjs/src/core/queryClient/index.ts
  packages/cosmjs/src/core/queryClient/queryClient.ts
  packages/cosmjs/src/core/signingClient/stargateClient.ts
  packages/cosmjs/src/staking/apr.ts
  yarn.lock
Due: core

Don't track coverage files
  .gitignore
  packages/ledger/coverage/clover.xml
  packages/ledger/coverage/coverage-final.json
  packages/ledger/coverage/lcov-report/base.css
  packages/ledger/coverage/lcov-report/block-navigation.js
  packages/ledger/coverage/lcov-report/favicon.png
  packages/ledger/coverage/lcov-report/index.html
  packages/ledger/coverage/lcov-report/prettify.css
  packages/ledger/coverage/lcov-report/prettify.js
  packages/ledger/coverage/lcov-report/sort-arrow-sprite.png
  packages/ledger/coverage/lcov-report/sorter.js
  packages/ledger/coverage/lcov.info
  packages/registry/coverage/clover.xml
  packages/registry/coverage/coverage-final.json
  packages/registry/coverage/lcov-report/base.css
  packages/registry/coverage/lcov-report/block-navigation.js
  packages/registry/coverage/lcov-report/chain-info/index.html
  packages/registry/coverage/lcov-report/chain-info/index.ts.html
  packages/registry/coverage/lcov-report/favicon.png
  packages/registry/coverage/lcov-report/gas/index.html
  packages/registry/coverage/lcov-report/gas/index.ts.html
  packages/registry/coverage/lcov-report/ibc/index.html
  packages/registry/coverage/lcov-report/ibc/index.ts.html
  packages/registry/coverage/lcov-report/index.html
  packages/registry/coverage/lcov-report/networks/index.html
  packages/registry/coverage/lcov-report/networks/index.ts.html
  packages/registry/coverage/lcov-report/prettify.css
  packages/registry/coverage/lcov-report/prettify.js
  packages/registry/coverage/lcov-report/sort-arrow-sprite.png
  packages/registry/coverage/lcov-report/sorter.js
  packages/registry/coverage/lcov-report/tokens/index.html
  packages/registry/coverage/lcov-report/tokens/index.ts.html
  packages/registry/coverage/lcov-report/wallets/index.html
  packages/registry/coverage/lcov-report/wallets/index.ts.html
  packages/registry/coverage/lcov.info
Due: registry

Update yarn lock
  .yarn/install-state.gz
  yarn.lock
Due: none

Removed prettier npm script
  packages/sei-global-wallet/package.json
Due: none

Build before release
  .github/workflows/release.yml
Due: none

Added changeset
  .changeset/red-rules-march.md
Due: none

Renamed confusing action name
  .github/workflows/notify.yml
Due: none

Removed all pre/post scripts to work with yarn v4
  package.json
  packages/cosmjs/package.json
  packages/evm/package.json
  packages/sei-global-wallet/package.json
Due: core, react

NPM Publish: Explicitly build before release (#231)
  .changeset/red-rules-march.md
  .github/workflows/notify.yml
  .github/workflows/release.yml
  package.json
  packages/cosmjs/package.json
  packages/evm/package.json
  packages/sei-global-wallet/package.json
Due: core, react

Path conditions:
  core: any of: packages/cosmjs/**
  react: any of: packages/evm/**
  proto: any of: packages/proto/**
  registry: any of: packages/registry/**
  create-sei: any of: packages/create-sei/**
  actions: any of: packages/actions/**
