Repository sei-protocol/sei-js: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, proto, registry

codecov.yml:

flags:
  core:
    paths:
      - packages/cosmjs/**
  react:
    paths:
      - packages/evm/**
  proto:
    paths:
      - packages/proto/**
  registry:
    paths:
      - packages/registry/**

coverage:
  status:
    project:
      core:
        target: 80%
        flags:
          - cosmjs
      react:
        target: 80%
        flags:
          - evm
      proto:
        target: 80%
        flags:
          - proto
      registry:
        target: 80%
        flags:
          - registry

changeset
  .changeset/gentle-singers-run.md
Due: none

Adding withdrawMultipleDelegationRewards to distribution precompile (#182)
  .changeset/gentle-singers-run.md
  packages/evm/README.md
  packages/evm/src/precompiles/distribution.ts
Due: react

Added changeset
  .changeset/shy-parents-fold.md
Due: none

update templates
  packages/create-sei/templates/vite-cosmos-template/src/components/Homepage/Components.module.css
  packages/create-sei/templates/vite-cosmos-template/src/components/Homepage/Examples.tsx
  packages/create-sei/templates/vite-cosmos-template/src/components/Homepage/Homepage.tsx
  packages/create-sei/templates/vite-cosmos-template/src/components/WalletConnectButton/WalletConnectButton.module.css
  packages/create-sei/templates/vite-cosmos-template/src/components/WalletConnectButton/WalletConnectButton.tsx
  packages/create-sei/templates/vite-cosmos-template/src/components/index.ts
  packages/create-sei/templates/vite-wagmi-template/src/App.css
  packages/create-sei/templates/vite-wagmi-template/src/components/Homepage/Components.module.css
  packages/create-sei/templates/vite-wagmi-template/src/components/Homepage/Examples.tsx
  packages/create-sei/templates/vite-wagmi-template/src/components/Homepage/Homepage.tsx
  packages/create-sei/templates/vite-wagmi-template/src/components/Web3Provider.tsx
  packages/create-sei/templates/vite-wagmi-template/src/constants/chain.ts
  packages/create-sei/templates/vite-wagmi-template/src/constants/index.ts
Due: none

upload changeset
  .changeset/thick-shoes-wave.md
  packages/create-sei-app/package.json
  packages/create-sei-app/src/main.ts
  packages/create-sei-app/tsconfig.json
  yarn.lock
Due: none

update template names
  packages/create-sei-app/templates/next-cosmos-template/package.json
  packages/create-sei-app/templates/next-wagmi-template/package.json
  packages/create-sei-app/templates/vite-cosmos-template/package.json
  packages/create-sei-app/templates/vite-wagmi-template/package.json
Due: none

update chain
  packages/create-sei-app/templates/next-cosmos-template/src/app/components/WalletConnectButton/WalletConnectButton.tsx
  packages/create-sei-app/templates/vite-cosmos-template/src/components/WalletConnectButton/WalletConnectButton.tsx
Due: none

update css
  packages/create-sei-app/templates/next-cosmos-template/src/app/components/Homepage/Homepage.tsx
  packages/create-sei-app/templates/next-cosmos-template/src/app/components/WalletConnectButton/WalletConnectButton.tsx
  packages/create-sei-app/templates/vite-cosmos-template/src/components/Homepage/Homepage.tsx
  packages/create-sei-app/templates/vite-cosmos-template/src/components/WalletConnectButton/WalletConnectButton.tsx
Due: none

lint fix
  packages/create-sei-app/templates/next-cosmos-template/.eslintrc.json
  packages/create-sei-app/templates/next-cosmos-template/package.json
  packages/create-sei-app/templates/next-cosmos-template/yarn.lock
  packages/create-sei-app/templates/next-wagmi-template/.eslintrc.json
  packages/create-sei-app/templates/next-wagmi-template/package.json
  packages/create-sei-app/templates/next-wagmi-template/yarn.lock
  packages/create-sei-app/templates/vite-wagmi-template/src/components/Homepage/Examples.tsx
  packages/create-sei-app/templates/vite-wagmi-template/src/components/Homepage/Homepage.tsx
Due: none

exclude templates
  package.json
Due: none

remove linting for tempalte projects
  package.json
  packages/create-sei-app/templates/next-cosmos-template/package.json
  packages/create-sei-app/templates/next-wagmi-template/package.json
  packages/create-sei-app/templates/vite-cosmos-template/package.json
  packages/create-sei-app/templates/vite-wagmi-template/package.json
Due: none

Add /base/tendermint/v1beta1 proto files
  packages/proto/scripts/codegen.js
  packages/proto/src/codegen/cosmos/authz/v1beta1/tx.ts
  packages/proto/src/codegen/cosmos/base/tendermint/v1beta1/query.lcd.ts
  packages/proto/src/codegen/cosmos/base/tendermint/v1beta1/query.rpc.Service.ts
  packages/proto/src/codegen/cosmos/base/tendermint/v1beta1/query.ts
  packages/proto/src/codegen/cosmos/bundle.ts
  packages/proto/src/codegen/cosmos/lcd.ts
  packages/proto/src/codegen/cosmos/rpc.query.ts
  packages/proto/src/codegen/cosmwasm/bundle.ts
  packages/proto/src/codegen/cosmwasm/lcd.ts
  packages/proto/src/codegen/cosmwasm/rpc.query.ts
  packages/proto/src/codegen/gogoproto/bundle.ts
  packages/proto/src/codegen/google/bundle.ts
  packages/proto/src/codegen/ibc/bundle.ts
  packages/proto/src/codegen/ibc/lcd.ts
  packages/proto/src/codegen/ibc/rpc.query.ts
  packages/proto/src/codegen/seiprotocol/bundle.ts
  packages/proto/src/codegen/seiprotocol/lcd.ts
  packages/proto/src/codegen/seiprotocol/rpc.query.ts
  packages/proto/src/codegen/tendermint/bundle.ts
Due: proto

Fixed broken build due to authz type
  packages/proto/src/codegen/cosmos/authz/v1beta1/tx.ts
Due: proto

add main
  packages/create-sei-app/package.json
Due: none

create-sei
  .changeset/thick-shoes-wave.md
  packages/create-sei/package.json
Due: none

update readmes
  .changeset/three-buttons-taste.md
  packages/create-sei/README.md
  packages/create-sei/templates/next-cosmos-template/README.md
  packages/create-sei/templates/next-wagmi-template/README.md
  packages/create-sei/templates/vite-cosmos-template/README.md
  packages/create-sei/templates/vite-wagmi-template/README.md
Due: none

Set up ethers and viem directories
  packages/evm/package.json
  packages/evm/src/chainInfo/__tests__/chainInfo.spec.ts
  packages/evm/src/chainInfo/chainInfo.ts
  packages/evm/src/chainInfo/index.ts
  packages/evm/src/ethers/addressPrecompile.ts
  packages/evm/src/ethers/index.ts
  packages/evm/src/index.ts
  packages/evm/src/oldPrecompiles/bank.ts
  packages/evm/src/oldPrecompiles/distribution.ts
  packages/evm/src/oldPrecompiles/governance.ts
  packages/evm/src/oldPrecompiles/ibc.ts
  packages/evm/src/oldPrecompiles/index.ts
  packages/evm/src/oldPrecompiles/json.ts
  packages/evm/src/oldPrecompiles/oracle.ts
  packages/evm/src/oldPrecompiles/pointer.ts
  packages/evm/src/oldPrecompiles/pointerview.ts
  packages/evm/src/oldPrecompiles/staking.ts
  packages/evm/src/oldPrecompiles/wasm.ts
  packages/evm/src/precompiles/address.ts
  packages/evm/src/precompiles/index.ts
  packages/evm/src/providers/index.ts
  packages/evm/src/providers/viem.ts
  packages/evm/src/providers/wagmi.ts
  packages/evm/src/utils/index.ts
  packages/evm/src/utils/parse.ts
  packages/evm/src/viem/addressPrecompile.ts
  packages/evm/src/viem/index.ts
  yarn.lock
Due: react

Clean up comments
  packages/evm/src/ethers/addressPrecompile.ts
  packages/evm/src/ethers/bankPrecompile.ts
  packages/evm/src/ethers/distributionPrecompile.ts
  packages/evm/src/ethers/governancePrecompile.ts
  packages/evm/src/ethers/ibcPrecompile.ts
  packages/evm/src/ethers/jsonPrecompile.ts
  packages/evm/src/ethers/oraclePrecompile.ts
  packages/evm/src/ethers/pointerPrecompile.ts
  packages/evm/src/ethers/pointerviewPrecompile.ts
  packages/evm/src/ethers/stakingPrecompile.ts
  packages/evm/src/ethers/wasmPrecompile.ts
  packages/evm/src/precompiles/address.ts
  packages/evm/src/precompiles/bank.ts
  packages/evm/src/precompiles/distribution.ts
  packages/evm/src/precompiles/governance.ts
  packages/evm/src/precompiles/ibc.ts
  packages/evm/src/precompiles/json.ts
  packages/evm/src/precompiles/oracle.ts
  packages/evm/src/precompiles/pointer.ts
  packages/evm/src/precompiles/pointerview.ts
  packages/evm/src/precompiles/staking.ts
  packages/evm/src/precompiles/wasm.ts
  packages/evm/src/viem/addressPrecompile.ts
  packages/evm/src/viem/bankPrecompile.ts
  packages/evm/src/viem/distributionPrecompile.ts
  packages/evm/src/viem/governancePrecompile.ts
  packages/evm/src/viem/ibcPrecompile.ts
  packages/evm/src/viem/jsonPrecompile.ts
  packages/evm/src/viem/oraclePrecompile.ts
  packages/evm/src/viem/pointerPrecompile.ts
  packages/evm/src/viem/pointerviewPrecompile.ts
  packages/evm/src/viem/stakingPrecompile.ts
  packages/evm/src/viem/wasmPrecompile.ts
Due: react

Add changeset
  .changeset/warm-files-obey.md
Due: none

Fix jest test failing bc no tests
  packages/evm/package.json
Due: react

update next wagmi template
  packages/create-sei/templates/next-wagmi-template/src/app/components/Homepage/App.css
  packages/create-sei/templates/next-wagmi-template/src/app/components/Homepage/Components.module.css
  packages/create-sei/templates/next-wagmi-template/src/app/components/Homepage/Examples.tsx
  packages/create-sei/templates/next-wagmi-template/src/app/components/Homepage/Homepage.tsx
  packages/create-sei/templates/next-wagmi-template/src/app/index.css
  packages/create-sei/templates/next-wagmi-template/src/app/page.module.css
  packages/create-sei/templates/next-wagmi-template/src/app/page.tsx
Due: none

update css
  packages/create-sei/templates/next-wagmi-template/public/sei-logotype.svg
  packages/create-sei/templates/next-wagmi-template/src/app/components/Homepage/Examples.tsx
  packages/create-sei/templates/next-wagmi-template/src/app/components/Homepage/Homepage.css
  packages/create-sei/templates/next-wagmi-template/src/app/components/Homepage/Homepage.tsx
  packages/create-sei/templates/next-wagmi-template/src/app/components/Web3Provider.tsx
  packages/create-sei/templates/next-wagmi-template/src/app/index.css
Due: none

vite wagmi
  packages/create-sei/templates/next-wagmi-template/src/app/components/Homepage/Homepage.tsx
  packages/create-sei/templates/next-wagmi-template/src/app/globals.css
  packages/create-sei/templates/next-wagmi-template/src/app/layout.tsx
  packages/create-sei/templates/vite-wagmi-template/public/sei-logotype.svg
  packages/create-sei/templates/vite-wagmi-template/src/App.css
  packages/create-sei/templates/vite-wagmi-template/src/App.tsx
  packages/create-sei/templates/vite-wagmi-template/src/components/Homepage/Components.module.css
  packages/create-sei/templates/vite-wagmi-template/src/components/Homepage/Examples.tsx
  packages/create-sei/templates/vite-wagmi-template/src/components/Homepage/Homepage.css
  packages/create-sei/templates/vite-wagmi-template/src/components/Homepage/Homepage.tsx
  packages/create-sei/templates/vite-wagmi-template/src/index.css
  packages/create-sei/templates/vite-wagmi-template/src/main.tsx
Due: none

update vite cosmos
  packages/create-sei/templates/next-wagmi-template/src/app/components/Homepage/Examples.tsx
  packages/create-sei/templates/next-wagmi-template/src/app/components/Homepage/Homepage.tsx
  packages/create-sei/templates/vite-cosmos-template/public/sei-logotype.svg
  packages/create-sei/templates/vite-cosmos-template/src/App.css
  packages/create-sei/templates/vite-cosmos-template/src/App.tsx
  packages/create-sei/templates/vite-cosmos-template/src/components/Homepage/Components.module.css
  packages/create-sei/templates/vite-cosmos-template/src/components/Homepage/Examples.tsx
  packages/create-sei/templates/vite-cosmos-template/src/components/Homepage/Homepage.css
  packages/create-sei/templates/vite-cosmos-template/src/components/Homepage/Homepage.tsx
  packages/create-sei/templates/vite-cosmos-template/src/components/WalletConnectButton/WalletConnectButton.module.css
  packages/create-sei/templates/vite-cosmos-template/src/components/WalletConnectButton/WalletConnectButton.tsx
  packages/create-sei/templates/vite-cosmos-template/src/index.css
  packages/create-sei/templates/vite-cosmos-template/src/main.tsx
  packages/create-sei/templates/vite-wagmi-template/src/App.tsx
Due: none

update next cosmos
  packages/create-sei/templates/next-cosmos-template/public/sei-logotype.svg
  packages/create-sei/templates/next-cosmos-template/src/app/components/Homepage/Components.module.css
  packages/create-sei/templates/next-cosmos-template/src/app/components/Homepage/Examples.tsx
  packages/create-sei/templates/next-cosmos-template/src/app/components/Homepage/Homepage.css
  packages/create-sei/templates/next-cosmos-template/src/app/components/Homepage/Homepage.tsx
  packages/create-sei/templates/next-cosmos-template/src/app/components/WalletConnectButton/WalletConnectButton.module.css
  packages/create-sei/templates/next-cosmos-template/src/app/components/WalletConnectButton/WalletConnectButton.tsx
  packages/create-sei/templates/next-cosmos-template/src/app/globals.css
  packages/create-sei/templates/next-cosmos-template/src/app/index.css
  packages/create-sei/templates/next-cosmos-template/src/app/layout.tsx
  packages/create-sei/templates/next-cosmos-template/src/app/page.module.css
  packages/create-sei/templates/next-cosmos-template/src/app/page.tsx
  packages/create-sei/templates/vite-cosmos-template/src/components/Homepage/Homepage.tsx
Due: none

Remove ethers type for now
  packages/evm/src/ethers/addressPrecompile.ts
  packages/evm/src/ethers/bankPrecompile.ts
  packages/evm/src/ethers/distributionPrecompile.ts
  packages/evm/src/ethers/governancePrecompile.ts
  packages/evm/src/ethers/ibcPrecompile.ts
  packages/evm/src/ethers/jsonPrecompile.ts
  packages/evm/src/ethers/oraclePrecompile.ts
  packages/evm/src/ethers/pointerPrecompile.ts
  packages/evm/src/ethers/pointerviewPrecompile.ts
  packages/evm/src/ethers/stakingPrecompile.ts
  packages/evm/src/ethers/wasmPrecompile.ts
Due: react

Made pagination optional for requests and pagination in authz module
  packages/proto/proto/cosmos/authz/v1beta1/query.proto
Due: proto

Remove optionality on the pagination, redo codegen
  packages/proto/proto/cosmos/authz/v1beta1/query.proto
  packages/proto/src/codegen/cosmos/authz/v1beta1/query.ts
Due: proto

comments docs
  packages/create-sei/CHANGELOG.md
  packages/create-sei/package.json
  packages/create-sei/src/main.ts
  packages/create-sei/templates/next-cosmos-template/README.md
  packages/create-sei/templates/next-cosmos-template/package.json
  packages/create-sei/templates/next-cosmos-template/src/app/components/Homepage/Homepage.tsx
  packages/create-sei/templates/next-cosmos-template/yarn.lock
  packages/create-sei/templates/next-wagmi-template/README.md
  packages/create-sei/templates/next-wagmi-template/package.json
  packages/create-sei/templates/next-wagmi-template/src/app/components/Homepage/Examples.tsx
  packages/create-sei/templates/next-wagmi-template/src/app/components/Homepage/Homepage.tsx
  packages/create-sei/templates/next-wagmi-template/yarn.lock
  packages/create-sei/templates/vite-cosmos-template/README.md
  packages/create-sei/templates/vite-wagmi-template/README.md
Due: none

comments
  .changeset/three-buttons-taste.md
  README.md
  packages/create-sei/templates/next-cosmos-template/src/app/components/Homepage/Examples.tsx
  packages/create-sei/templates/next-cosmos-template/src/app/components/Homepage/Homepage.tsx
  packages/create-sei/templates/next-wagmi-template/README.md
  packages/create-sei/templates/next-wagmi-template/src/app/components/Homepage/Examples.tsx
  packages/create-sei/templates/next-wagmi-template/src/app/components/Web3Provider.tsx
  packages/create-sei/templates/next-wagmi-template/src/app/constants/chain.ts
  packages/create-sei/templates/next-wagmi-template/yarn.lock
  packages/create-sei/templates/vite-cosmos-template/src/components/Homepage/Examples.tsx
  packages/create-sei/templates/vite-cosmos-template/src/components/Homepage/Homepage.tsx
  packages/create-sei/templates/vite-wagmi-template/README.md
  packages/create-sei/templates/vite-wagmi-template/src/components/Homepage/Examples.tsx
  packages/create-sei/templates/vite-wagmi-template/src/components/Homepage/Homepage.tsx
Due: none
