Repository sei-protocol/sei-js: changes, and which Codecov flags are due for each by the changed paths.
All: create-sei, precompiles, ledger, registry, sei-global-wallet

Refine public EVM parity matrix
  docs/evm-parity/matrix.mdx
Due: none

Add and extend unit tests across SDK packages
  .github/ISSUE_TEMPLATE/evm_compatibility.md
  .gitignore
  docs/docs.json
  docs/evm-parity/matrix.mdx
  packages/create-sei/src/templates.test.ts
  packages/ledger/src/cosmos/__tests__/seiLedgerOfflineAminoSigner.spec.ts
  packages/precompiles/src/precompiles/__tests__/abis.spec.ts
  packages/precompiles/src/precompiles/__tests__/addresses.spec.ts
  packages/registry/src/gas/__tests__/index.spec.ts
  packages/registry/src/ibc/__tests__/index.spec.ts
  packages/registry/src/networks/__tests__/index.spec.ts
  packages/registry/src/tokens/__tests__/index.spec.ts
  packages/sei-global-wallet/src/lib/__tests__/config.spec.ts
Due: create-sei, precompiles, ledger, registry, sei-global-wallet

security(deps): pin @asyncapi packages to non-compromised versions
  package.json
  pnpm-lock.yaml
Due: none

security(deps): add changeset + workspace changelog for asyncapi pin
  .changeset/security-pin-asyncapi.md
  CHANGELOG.md
  package.json
Due: none

security(deps): pin @asyncapi packages to non-compromised versions (#316)
  .changeset/security-pin-asyncapi.md
  CHANGELOG.md
  package.json
  pnpm-lock.yaml
Due: none

ci: integrate UCI AI review, AI assistant, and stale check
  .github/workflows/ai-assist.yml
  .github/workflows/ai-review.yml
  .github/workflows/uci-stale-check.yml
  REVIEW.md
Due: none

ci: keep contents:read on the UCI stale job
  .github/workflows/uci-stale-check.yml
Due: none

ci: integrate UCI AI review, AI assistant, and stale check (#317)
  .github/workflows/ai-assist.yml
  .github/workflows/ai-review.yml
  .github/workflows/uci-stale-check.yml
  REVIEW.md
Due: none

ci: stop the stale sweep from closing issues, drop stale tooling configs
  .github/workflows/pr-to-slack-codex.yml
  .github/workflows/uci-stale-check.yml
  .gitignore
  .vscode/extensions.json
  .windsurf/rules/docs.md
  REVIEW.md
Due: none

ci: let a running stale sweep finish instead of cancelling it
  .github/workflows/uci-stale-check.yml
Due: none

Disable auto-closing of stale issues
  .github/workflows/uci-stale-check.yml
Due: none

ci: stop the stale sweep from closing issues, drop stale tooling configs (#318)
  .github/workflows/pr-to-slack-codex.yml
  .github/workflows/uci-stale-check.yml
  .gitignore
  .vscode/extensions.json
  .windsurf/rules/docs.md
  REVIEW.md
Due: none

fix(mcp-server): harden remote docs search
  .changeset/remove-docs-integrations.md
  packages/mcp-server/package.json
  packages/mcp-server/src/docs/server.ts
  packages/mcp-server/src/server/server.ts
  packages/mcp-server/src/tests/docs/server.test.ts
  packages/mcp-server/src/tests/server/server.test.ts
  pnpm-lock.yaml
Due: none

fix(mcp-server): preserve concurrent docs searches
  .changeset/remove-docs-integrations.md
  packages/mcp-server/src/docs/server.ts
  packages/mcp-server/src/tests/docs/server.test.ts
Due: none

fix(mcp-server): close docs sessions with server
  packages/mcp-server/src/docs/server.ts
  packages/mcp-server/src/tests/core/helpers/tool-test-helpers.ts
  packages/mcp-server/src/tests/docs/server.test.ts
Due: none

fix(registry): stop install-time submodule updates
  .changeset/clean-spiders-smile.md
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
  REVIEW.md
  packages/registry/package.json
Due: registry

fix: standardize package publishing hygiene
  .changeset/tidy-package-publishing.md
  .github/workflows/checks.yml
  package.json
  packages/create-sei/LICENSE
  packages/create-sei/package.json
  packages/create-sei/tsconfig.json
  packages/ledger/LICENSE
  packages/ledger/package.json
  packages/mcp-server/package.json
  packages/mcp-server/src/docs/server.ts
  packages/mcp-server/tsconfig.build.json
  packages/mcp-server/tsconfig.declaration.json
  packages/mcp-server/tsconfig.json
  packages/mcp-server/tsconfig.test.json
  packages/precompiles/LICENSE
  packages/precompiles/package.json
  packages/registry/LICENSE
  packages/registry/package.json
  packages/sei-global-wallet/LICENSE
  packages/sei-global-wallet/package.json
  packages/sei-global-wallet/scripts/finalize-package.mjs
  packages/sei-global-wallet/src/eip6963.ts
  packages/sei-global-wallet/src/index.ts
  packages/sei-global-wallet/src/lib/EIP6963Emitter.ts
  packages/sei-global-wallet/src/lib/registerSolanaStandard.ts
  packages/sei-global-wallet/src/lib/wallet.ts
  packages/sei-global-wallet/src/solana.ts
  pnpm-lock.yaml
Due: create-sei, precompiles, ledger, registry, sei-global-wallet

fix: preserve global wallet ISC license
  packages/sei-global-wallet/LICENSE
  packages/sei-global-wallet/README.md
  packages/sei-global-wallet/package.json
Due: sei-global-wallet

fix(mcp-server): retry expired docs sessions
  .changeset/remove-docs-integrations.md
  packages/mcp-server/src/docs/server.ts
  packages/mcp-server/src/tests/docs/server.test.ts
Due: none

fix: address follow-up package review
  .github/workflows/checks.yml
  package.json
  packages/mcp-server/tsconfig.test.json
  pnpm-lock.yaml
Due: none

fix(registry): stop install-time submodule updates (#320)
  .changeset/clean-spiders-smile.md
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
  REVIEW.md
  packages/registry/package.json
Due: registry

fix(precompiles): export solo precompile from ethers entrypoint
  .changeset/export-solo-precompile-ethers.md
  packages/precompiles/src/ethers/__tests__/ethersPrecompiles.spec.ts
  packages/precompiles/src/ethers/index.ts
  packages/precompiles/src/ethers/soloPrecompile.ts
Due: precompiles

test(precompiles): guard barrel parity across entrypoints
  packages/precompiles/src/__tests__/barrelParity.spec.ts
Due: precompiles

feat(precompiles)!: remove IBC and Oracle precompiles
  .changeset/remove-ibc-oracle-precompiles.md
  packages/precompiles/src/ethers/__tests__/ethersPrecompiles.spec.ts
  packages/precompiles/src/ethers/ibcPrecompile.ts
  packages/precompiles/src/ethers/index.ts
  packages/precompiles/src/ethers/oraclePrecompile.ts
  packages/precompiles/src/precompiles/ibc.ts
  packages/precompiles/src/precompiles/index.ts
  packages/precompiles/src/precompiles/oracle.ts
  packages/precompiles/src/viem/__tests__/viemPrecompiles.spec.ts
  packages/precompiles/src/viem/ibcPrecompile.ts
  packages/precompiles/src/viem/index.ts
  packages/precompiles/src/viem/oraclePrecompile.ts
Due: precompiles

test(precompiles): compare factory names, not just factory count
  .changeset/export-solo-precompile-ethers.md
  packages/precompiles/src/__tests__/barrelParity.spec.ts
Due: precompiles

docs(changeset): drop inlining as a migration path for IBC/Oracle
  .changeset/remove-ibc-oracle-precompiles.md
Due: none

test(precompiles): keep factory and ABI name patterns symmetric
  packages/precompiles/src/__tests__/barrelParity.spec.ts
Due: precompiles

fix: standardize package publishing hygiene (PLT-847) (#321)
  .changeset/tidy-package-publishing.md
  .github/workflows/checks.yml
  .github/workflows/release.yml
  package.json
  packages/create-sei/LICENSE
  packages/create-sei/package.json
  packages/create-sei/tsconfig.json
  packages/ledger/LICENSE
  packages/ledger/package.json
  packages/mcp-server/package.json
  packages/mcp-server/tsconfig.build.json
  packages/mcp-server/tsconfig.declaration.json
  packages/mcp-server/tsconfig.json
  packages/mcp-server/tsconfig.test.json
  packages/precompiles/LICENSE
  packages/precompiles/package.json
  packages/registry/LICENSE
  packages/registry/package.json
  packages/sei-global-wallet/LICENSE
  packages/sei-global-wallet/README.md
  packages/sei-global-wallet/package.json
  packages/sei-global-wallet/scripts/finalize-package.mjs
  packages/sei-global-wallet/src/eip6963.ts
  packages/sei-global-wallet/src/index.ts
  packages/sei-global-wallet/src/lib/EIP6963Emitter.ts
  packages/sei-global-wallet/src/lib/registerSolanaStandard.ts
  packages/sei-global-wallet/src/lib/wallet.ts
  packages/sei-global-wallet/src/solana.ts
  pnpm-lock.yaml
Due: create-sei, precompiles, ledger, registry, sei-global-wallet

chore: remove @sei-js/ledger package (PLT-834)
  .changeset/tidy-package-publishing.md
  README.md
  REVIEW.md
  codecov.yml
  packages/ledger/.npmignore
  packages/ledger/CHANGELOG.md
  packages/ledger/LICENSE
  packages/ledger/README.md
  packages/ledger/jest.config.js
  packages/ledger/package.json
  packages/ledger/src/cosmos/__tests__/seiLedgerOfflineAminoSigner.spec.ts
  packages/ledger/src/cosmos/__tests__/utils.spec.ts
  packages/ledger/src/cosmos/index.ts
  packages/ledger/src/cosmos/seiLedgerOfflineAminoSigner.ts
  packages/ledger/src/cosmos/utils.ts
  packages/ledger/src/index.ts
  packages/ledger/tsconfig.declaration.json
  packages/ledger/tsconfig.json
  pnpm-lock.yaml
Due: ledger

docs: correct package count after ledger removal (PLT-834)
  REVIEW.md
Due: none

chore: remove @sei-js/ledger package (#325)
  .changeset/tidy-package-publishing.md
  README.md
  REVIEW.md
  codecov.yml
  packages/ledger/.npmignore
  packages/ledger/CHANGELOG.md
  packages/ledger/LICENSE
  packages/ledger/README.md
  packages/ledger/jest.config.js
  packages/ledger/package.json
  packages/ledger/src/cosmos/__tests__/seiLedgerOfflineAminoSigner.spec.ts
  packages/ledger/src/cosmos/__tests__/utils.spec.ts
  packages/ledger/src/cosmos/index.ts
  packages/ledger/src/cosmos/seiLedgerOfflineAminoSigner.ts
  packages/ledger/src/cosmos/utils.ts
  packages/ledger/src/index.ts
  packages/ledger/tsconfig.declaration.json
  packages/ledger/tsconfig.json
  pnpm-lock.yaml
Due: ledger

docs(changeset): bump IBC/Oracle removal to major
  .changeset/remove-ibc-oracle-precompiles.md
Due: none

fix(precompiles): export solo precompile from ethers entrypoint (#323)
  .changeset/export-solo-precompile-ethers.md
  packages/precompiles/src/__tests__/barrelParity.spec.ts
  packages/precompiles/src/ethers/__tests__/ethersPrecompiles.spec.ts
  packages/precompiles/src/ethers/index.ts
  packages/precompiles/src/ethers/soloPrecompile.ts
Due: precompiles

feat(precompiles)!: remove IBC and Oracle precompiles (#326)
  .changeset/remove-ibc-oracle-precompiles.md
  packages/precompiles/src/ethers/__tests__/ethersPrecompiles.spec.ts
  packages/precompiles/src/ethers/ibcPrecompile.ts
  packages/precompiles/src/ethers/index.ts
  packages/precompiles/src/ethers/oraclePrecompile.ts
  packages/precompiles/src/precompiles/ibc.ts
  packages/precompiles/src/precompiles/index.ts
  packages/precompiles/src/precompiles/oracle.ts
  packages/precompiles/src/viem/__tests__/viemPrecompiles.spec.ts
  packages/precompiles/src/viem/ibcPrecompile.ts
  packages/precompiles/src/viem/index.ts
  packages/precompiles/src/viem/oraclePrecompile.ts
Due: precompiles

Path conditions:
  create-sei: any of: packages/create-sei/**
  precompiles: any of: packages/precompiles/**
  ledger: any of: packages/ledger/**
  registry: any of: packages/registry/**
  sei-global-wallet: any of: packages/sei-global-wallet/**
