Repository sei-protocol/sei-js: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, proto, registry

update rpc url
  packages/evm/src/providers/viem.ts
Due: react

update changeset
  .changeset/hip-lizards-laugh.md
  .changeset/thick-drinks-wave.md
Due: none

hardcode precompile addresses in readme
  packages/evm/README.md
Due: react

Add atlantic-2 chain info (#161)
  .changeset/hip-lizards-laugh.md
  packages/evm/README.md
  packages/evm/src/chainInfo/chainInfo.ts
  packages/evm/src/precompiles/address.ts
  packages/evm/src/precompiles/bank.ts
  packages/evm/src/precompiles/distribution.ts
  packages/evm/src/precompiles/governance.ts
  packages/evm/src/precompiles/ibc.ts
  packages/evm/src/precompiles/json.ts
  packages/evm/src/precompiles/staking.ts
  packages/evm/src/precompiles/wasm.ts
  packages/evm/src/providers/viem.ts
Due: react

Add changeset
  .changeset/brave-jobs-join.md
  packages/evm/src/providers/viem.ts
Due: react

Fix name of native currency in viem chain config (#162)
  .changeset/brave-jobs-join.md
  packages/evm/src/providers/viem.ts
Due: react

Rename viem chain
  packages/evm/src/providers/viem.ts
Due: react

Add notify workflow
  .github/workflows/notify.yml
  package.json
Due: none

Added Eth and EVM proto files to @sei-js
  .changeset/silly-singers-grab.md
  packages/proto/proto/eth/tx.proto
  packages/proto/proto/evm/config.proto
  packages/proto/proto/evm/enums.proto
  packages/proto/proto/evm/genesis.proto
  packages/proto/proto/evm/gov.proto
  packages/proto/proto/evm/params.proto
  packages/proto/proto/evm/query.proto
  packages/proto/proto/evm/receipt.proto
  packages/proto/proto/evm/tx.proto
  packages/proto/proto/evm/types.proto
  packages/proto/src/codegen/cosmos/bundle.ts
  packages/proto/src/codegen/cosmwasm/bundle.ts
  packages/proto/src/codegen/eth/tx.ts
  packages/proto/src/codegen/evm/config.ts
  packages/proto/src/codegen/evm/enums.ts
  packages/proto/src/codegen/evm/genesis.ts
  packages/proto/src/codegen/evm/gov.ts
  packages/proto/src/codegen/evm/params.ts
  packages/proto/src/codegen/evm/query.lcd.ts
  packages/proto/src/codegen/evm/query.rpc.Query.ts
  packages/proto/src/codegen/evm/query.ts
  packages/proto/src/codegen/evm/receipt.ts
  packages/proto/src/codegen/evm/tx.amino.ts
  packages/proto/src/codegen/evm/tx.registry.ts
  packages/proto/src/codegen/evm/tx.rpc.msg.ts
  packages/proto/src/codegen/evm/tx.ts
  packages/proto/src/codegen/evm/types.ts
  packages/proto/src/codegen/gogoproto/bundle.ts
  packages/proto/src/codegen/google/bundle.ts
  packages/proto/src/codegen/ibc/bundle.ts
  packages/proto/src/codegen/seiprotocol/bundle.ts
  packages/proto/src/codegen/seiprotocol/client.ts
  packages/proto/src/codegen/seiprotocol/lcd.ts
  packages/proto/src/codegen/seiprotocol/rpc.query.ts
  packages/proto/src/codegen/seiprotocol/rpc.tx.ts
  packages/proto/src/codegen/tendermint/bundle.ts
Due: proto

Rename viem chain (#164)
  packages/evm/src/providers/viem.ts
Due: react

- ibc precompile with default timeout height and timestamp
  packages/evm/README.md
  packages/evm/src/precompiles/ibc.ts
Due: react

Added Eth and EVM proto files to @sei-js (#166)
  .changeset/silly-singers-grab.md
  packages/proto/proto/eth/tx.proto
  packages/proto/proto/evm/config.proto
  packages/proto/proto/evm/enums.proto
  packages/proto/proto/evm/genesis.proto
  packages/proto/proto/evm/gov.proto
  packages/proto/proto/evm/params.proto
  packages/proto/proto/evm/query.proto
  packages/proto/proto/evm/receipt.proto
  packages/proto/proto/evm/tx.proto
  packages/proto/proto/evm/types.proto
  packages/proto/src/codegen/cosmos/bundle.ts
  packages/proto/src/codegen/cosmwasm/bundle.ts
  packages/proto/src/codegen/eth/tx.ts
  packages/proto/src/codegen/evm/config.ts
  packages/proto/src/codegen/evm/enums.ts
  packages/proto/src/codegen/evm/genesis.ts
  packages/proto/src/codegen/evm/gov.ts
  packages/proto/src/codegen/evm/params.ts
  packages/proto/src/codegen/evm/query.lcd.ts
  packages/proto/src/codegen/evm/query.rpc.Query.ts
  packages/proto/src/codegen/evm/query.ts
  packages/proto/src/codegen/evm/receipt.ts
  packages/proto/src/codegen/evm/tx.amino.ts
  packages/proto/src/codegen/evm/tx.registry.ts
  packages/proto/src/codegen/evm/tx.rpc.msg.ts
  packages/proto/src/codegen/evm/tx.ts
  packages/proto/src/codegen/evm/types.ts
  packages/proto/src/codegen/gogoproto/bundle.ts
  packages/proto/src/codegen/google/bundle.ts
  packages/proto/src/codegen/ibc/bundle.ts
  packages/proto/src/codegen/seiprotocol/bundle.ts
  packages/proto/src/codegen/seiprotocol/client.ts
  packages/proto/src/codegen/seiprotocol/lcd.ts
  packages/proto/src/codegen/seiprotocol/rpc.query.ts
  packages/proto/src/codegen/seiprotocol/rpc.tx.ts
  packages/proto/src/codegen/tendermint/bundle.ts
Due: proto

generate changeset
  .changeset/proud-gorillas-call.md
Due: none

update to patch
  .changeset/proud-gorillas-call.md
Due: none

IBC precompile with default timeout height and timestamp (#167)
  .changeset/proud-gorillas-call.md
  packages/evm/README.md
  packages/evm/src/precompiles/ibc.ts
Due: react

Add missing export
  .changeset/new-rockets-listen.md
  packages/evm/src/precompiles/index.ts
  packages/evm/src/providers/viem.ts
Due: react

Add missing export (#169)
  .changeset/new-rockets-listen.md
  packages/evm/src/precompiles/index.ts
  packages/evm/src/providers/viem.ts
Due: react

Replaced wagmi import with @wagmi/core to avoid react dependency on node scripts
  package.json
  packages/evm/package.json
  packages/evm/src/providers/wagmi.ts
  yarn.lock
Due: react

Replaced wagmi import with @wagmi/core to avoid react dependency on node scripts (#170)
  package.json
  packages/evm/package.json
  packages/evm/src/providers/wagmi.ts
  yarn.lock
Due: react

Add notify workflow (#165)
  .github/workflows/notify.yml
  package.json
Due: none

Added new ABI's for wasm & bank, added oracle, pointer, and pointerview contracts
  packages/evm/src/precompiles/bank.ts
  packages/evm/src/precompiles/oracle.ts
  packages/evm/src/precompiles/pointer.ts
  packages/evm/src/precompiles/pointerview.ts
  packages/evm/src/precompiles/wasm.ts
Due: react

Added feegrant proto
  packages/proto/scripts/codegen.js
  packages/proto/src/codegen/cosmos/bundle.ts
  packages/proto/src/codegen/cosmos/client.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/feegrant.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/genesis.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/query.lcd.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/query.rpc.Query.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/query.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/tx.amino.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/tx.registry.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/tx.rpc.msg.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/tx.ts
  packages/proto/src/codegen/cosmos/lcd.ts
  packages/proto/src/codegen/cosmos/rpc.query.ts
  packages/proto/src/codegen/cosmos/rpc.tx.ts
  packages/proto/src/codegen/cosmwasm/bundle.ts
  packages/proto/src/codegen/cosmwasm/lcd.ts
  packages/proto/src/codegen/cosmwasm/rpc.query.ts
  packages/proto/src/codegen/cosmwasm/rpc.tx.ts
  packages/proto/src/codegen/gogoproto/bundle.ts
  packages/proto/src/codegen/google/bundle.ts
  packages/proto/src/codegen/ibc/bundle.ts
  packages/proto/src/codegen/ibc/lcd.ts
  packages/proto/src/codegen/ibc/rpc.query.ts
  packages/proto/src/codegen/ibc/rpc.tx.ts
  packages/proto/src/codegen/seiprotocol/bundle.ts
  packages/proto/src/codegen/seiprotocol/lcd.ts
  packages/proto/src/codegen/seiprotocol/rpc.query.ts
  packages/proto/src/codegen/seiprotocol/rpc.tx.ts
  packages/proto/src/codegen/tendermint/bundle.ts
Due: proto

Added changeset
  .changeset/sharp-geckos-dress.md
Due: none

Precompile additions and feegrant protos (#171)
  .changeset/sharp-geckos-dress.md
  packages/evm/src/precompiles/bank.ts
  packages/evm/src/precompiles/oracle.ts
  packages/evm/src/precompiles/pointer.ts
  packages/evm/src/precompiles/pointerview.ts
  packages/evm/src/precompiles/wasm.ts
  packages/proto/scripts/codegen.js
  packages/proto/src/codegen/cosmos/bundle.ts
  packages/proto/src/codegen/cosmos/client.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/feegrant.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/genesis.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/query.lcd.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/query.rpc.Query.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/query.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/tx.amino.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/tx.registry.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/tx.rpc.msg.ts
  packages/proto/src/codegen/cosmos/feegrant/v1beta1/tx.ts
  packages/proto/src/codegen/cosmos/lcd.ts
  packages/proto/src/codegen/cosmos/rpc.query.ts
  packages/proto/src/codegen/cosmos/rpc.tx.ts
  packages/proto/src/codegen/cosmwasm/bundle.ts
  packages/proto/src/codegen/cosmwasm/lcd.ts
  packages/proto/src/codegen/cosmwasm/rpc.query.ts
  packages/proto/src/codegen/cosmwasm/rpc.tx.ts
  packages/proto/src/codegen/gogoproto/bundle.ts
  packages/proto/src/codegen/google/bundle.ts
  packages/proto/src/codegen/ibc/bundle.ts
  packages/proto/src/codegen/ibc/lcd.ts
  packages/proto/src/codegen/ibc/rpc.query.ts
  packages/proto/src/codegen/ibc/rpc.tx.ts
  packages/proto/src/codegen/seiprotocol/bundle.ts
  packages/proto/src/codegen/seiprotocol/lcd.ts
  packages/proto/src/codegen/seiprotocol/rpc.query.ts
  packages/proto/src/codegen/seiprotocol/rpc.tx.ts
  packages/proto/src/codegen/tendermint/bundle.ts
Due: react, proto

Added changeset
  .changeset/cyan-pants-warn.md
Due: none

memo support
  packages/evm/README.md
  packages/evm/src/precompiles/ibc.ts
Due: react

change set
  .changeset/soft-eels-poke.md
Due: none

Adding memo support for IBC precompile (#176)
  .changeset/soft-eels-poke.md
  packages/evm/README.md
  packages/evm/src/precompiles/ibc.ts
Due: react

Add pacific-1 evm chain config
  packages/evm/src/chainInfo/__tests__/chainInfo.spec.ts
  packages/evm/src/chainInfo/chainInfo.ts
  packages/evm/src/providers/viem.ts
  packages/evm/src/providers/wagmi.ts
Due: react

Remove precompile addresses from ethers contract helper and merge Abi types
  packages/evm/src/precompiles/address.ts
  packages/evm/src/precompiles/bank.ts
  packages/evm/src/precompiles/distribution.ts
  packages/evm/src/precompiles/governance.ts
  packages/evm/src/precompiles/ibc.ts
  packages/evm/src/precompiles/json.ts
  packages/evm/src/precompiles/oracle.ts
  packages/evm/src/precompiles/pointer.ts
  packages/evm/src/precompiles/pointerview.ts
  packages/evm/src/precompiles/staking.ts
  packages/evm/src/precompiles/wasm.ts
Due: react

Add changeset
  .changeset/odd-games-fail.md
Due: none

Add pacific-1 evm chain config (#178)
  .changeset/odd-games-fail.md
  packages/evm/src/chainInfo/__tests__/chainInfo.spec.ts
  packages/evm/src/chainInfo/chainInfo.ts
  packages/evm/src/precompiles/address.ts
  packages/evm/src/precompiles/bank.ts
  packages/evm/src/precompiles/distribution.ts
  packages/evm/src/precompiles/governance.ts
  packages/evm/src/precompiles/ibc.ts
  packages/evm/src/precompiles/json.ts
  packages/evm/src/precompiles/oracle.ts
  packages/evm/src/precompiles/pointer.ts
  packages/evm/src/precompiles/pointerview.ts
  packages/evm/src/precompiles/staking.ts
  packages/evm/src/precompiles/wasm.ts
  packages/evm/src/providers/viem.ts
  packages/evm/src/providers/wagmi.ts
Due: react

Create separate ABI for ethers and viem
  packages/evm/src/precompiles/address.ts
  packages/evm/src/precompiles/bank.ts
  packages/evm/src/precompiles/distribution.ts
  packages/evm/src/precompiles/governance.ts
  packages/evm/src/precompiles/ibc.ts
  packages/evm/src/precompiles/json.ts
  packages/evm/src/precompiles/oracle.ts
  packages/evm/src/precompiles/pointer.ts
  packages/evm/src/precompiles/pointerview.ts
  packages/evm/src/precompiles/staking.ts
  packages/evm/src/precompiles/wasm.ts
  packages/evm/src/providers/wagmi.ts
Due: react

Add changeset
  .changeset/rude-plants-enjoy.md
Due: none

Add exports
  packages/evm/src/precompiles/address.ts
  packages/evm/src/precompiles/bank.ts
  packages/evm/src/precompiles/distribution.ts
  packages/evm/src/precompiles/governance.ts
  packages/evm/src/precompiles/ibc.ts
  packages/evm/src/precompiles/index.ts
  packages/evm/src/precompiles/json.ts
  packages/evm/src/precompiles/oracle.ts
  packages/evm/src/precompiles/pointer.ts
  packages/evm/src/precompiles/pointerview.ts
  packages/evm/src/precompiles/staking.ts
  packages/evm/src/precompiles/wasm.ts
Due: react

Remove unncessary import
  packages/evm/src/precompiles/wasm.ts
Due: react

Add wallets and ABI types fixes (#180)
  .changeset/rude-plants-enjoy.md
  packages/evm/src/precompiles/address.ts
  packages/evm/src/precompiles/bank.ts
  packages/evm/src/precompiles/distribution.ts
  packages/evm/src/precompiles/governance.ts
  packages/evm/src/precompiles/ibc.ts
  packages/evm/src/precompiles/index.ts
  packages/evm/src/precompiles/json.ts
  packages/evm/src/precompiles/oracle.ts
  packages/evm/src/precompiles/pointer.ts
  packages/evm/src/precompiles/pointerview.ts
  packages/evm/src/precompiles/staking.ts
  packages/evm/src/precompiles/wasm.ts
  packages/evm/src/providers/wagmi.ts
Due: react

add withdrawMultipleDelegationRewards to distribution precompile
  packages/evm/README.md
  packages/evm/src/precompiles/distribution.ts
Due: react

Path conditions:
  core: any of: packages/cosmjs/**
  react: any of: packages/evm/**
  proto: any of: packages/proto/**
  registry: any of: packages/registry/**
