Repository sei-protocol/sei-js: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, proto, registry, create-sei, actions

Improved Exports for @sei-js/evm
  packages/evm/package.json
  packages/evm/src/index.ts
Due: react

Added changeset
  .changeset/smooth-cherries-hunt.md
Due: none

Moved dependencies back to peer dependencies, updated README.md
  packages/evm/README.md
  packages/evm/package.json
Due: react

Improved Exports for @sei-js/evm (#205)
  .changeset/smooth-cherries-hunt.md
  packages/evm/README.md
  packages/evm/package.json
  packages/evm/src/index.ts
Due: react

Update ibc.ts
  packages/evm/src/precompiles/ibc.ts
Due: react

add global wallet package
  packages/global-wallet/README.md
  packages/global-wallet/package-lock.json
  packages/global-wallet/package.json
  packages/global-wallet/src/eip6963.ts
  packages/global-wallet/src/index.ts
  packages/global-wallet/src/lib/EIP6963Emitter.ts
  packages/global-wallet/src/lib/config.ts
  packages/global-wallet/src/lib/registerSolanaStandard.ts
  packages/global-wallet/src/lib/wallet.ts
  packages/global-wallet/src/solana-standard.ts
  packages/global-wallet/tsconfig.json
Due: none

- update readme - update package.json info
  packages/global-wallet/.eslintignore
  packages/global-wallet/README.md
  packages/global-wallet/package.json
  yarn.lock
Due: none

- remove Sei from wallet name
  packages/global-wallet/src/lib/config.ts
Due: none

- add change set
  .changeset/gentle-rats-shake.md
Due: none

- update wording
  packages/global-wallet/src/lib/config.ts
Due: none

Fixed build issues, Updated README
  packages/global-wallet/README.md
  packages/global-wallet/package-lock.json
  packages/global-wallet/package.json
  yarn.lock
Due: none

- config updates for live env
  packages/global-wallet/src/lib/config.ts
Due: none

Dynamic Global wallet support for Sei (#208)
  .changeset/gentle-rats-shake.md
  packages/global-wallet/.eslintignore
  packages/global-wallet/README.md
  packages/global-wallet/package.json
  packages/global-wallet/src/eip6963.ts
  packages/global-wallet/src/index.ts
  packages/global-wallet/src/lib/EIP6963Emitter.ts
  packages/global-wallet/src/lib/config.ts
  packages/global-wallet/src/lib/registerSolanaStandard.ts
  packages/global-wallet/src/lib/wallet.ts
  packages/global-wallet/src/solana-standard.ts
  packages/global-wallet/tsconfig.json
  yarn.lock
Due: none

- rename global wallet to sei account
  packages/sei-account/.eslintignore
  packages/sei-account/CHANGELOG.md
  packages/sei-account/README.md
  packages/sei-account/package.json
  packages/sei-account/src/eip6963.ts
  packages/sei-account/src/index.ts
  packages/sei-account/src/lib/EIP6963Emitter.ts
  packages/sei-account/src/lib/config.ts
  packages/sei-account/src/lib/registerSolanaStandard.ts
  packages/sei-account/src/lib/wallet.ts
  packages/sei-account/src/solana-standard.ts
  packages/sei-account/tsconfig.json
Due: none

- change set
  .changeset/slimy-moose-flow.md
Due: none

Rename Global Wallet to Sei Account (#210)
  .changeset/slimy-moose-flow.md
  packages/sei-account/.eslintignore
  packages/sei-account/CHANGELOG.md
  packages/sei-account/README.md
  packages/sei-account/package.json
  packages/sei-account/src/eip6963.ts
  packages/sei-account/src/index.ts
  packages/sei-account/src/lib/EIP6963Emitter.ts
  packages/sei-account/src/lib/config.ts
  packages/sei-account/src/lib/registerSolanaStandard.ts
  packages/sei-account/src/lib/wallet.ts
  packages/sei-account/src/solana-standard.ts
  packages/sei-account/tsconfig.json
Due: none

- switch to SVG for sei account icon
  packages/sei-account/src/lib/config.ts
Due: none

- add changeset
  .changeset/shy-news-roll.md
Due: none

Switch to SVG for sei account icon (#212)
  .changeset/shy-news-roll.md
  packages/sei-account/src/lib/config.ts
Due: none

Update README.md
  packages/cosmjs/README.md
  packages/cosmjs/src/utils/signing.ts
Due: core

Fixed typos and made usage instructions easier
  packages/create-sei/README.md
Due: create-sei

Add exports for Encoding and Registry
  packages/cosmos/library/encoding/registry.ts
  packages/cosmos/package.json
Due: none

Added changeset
  .changeset/giant-beers-try.md
Due: none

Fixed build issue
  packages/cosmos/library/encoding/stargate.ts
Due: none

Added changeset
  .changeset/angry-experts-remember.md
Due: none

Added changeset
  .changeset/hot-deers-appear.md
Due: none

Update IBC precompile ABI 'statemutability' in ibc.ts (#207)
  .changeset/hot-deers-appear.md
  packages/evm/src/precompiles/ibc.ts
Due: react

Update README.md (#214)
  .changeset/angry-experts-remember.md
  packages/cosmjs/README.md
  packages/cosmjs/src/utils/signing.ts
Due: core

Fixed typos and made usage instructions easier (#215)
  packages/create-sei/README.md
Due: create-sei

Regenerate & add Stargate registry export
  packages/cosmos/README.md
  packages/cosmos/library/encoding/amino.ts
  packages/cosmos/library/encoding/cosmos/base/abci/v1beta1/abci.ts
  packages/cosmos/library/encoding/cosmos/params/types/types.ts
  packages/cosmos/library/encoding/cosmos/tx/v1beta1/tx.ts
  packages/cosmos/library/encoding/registry.ts
  packages/cosmos/library/encoding/stargate.ts
  packages/cosmos/library/types/cosmos/base/abci/v1beta1/abci.ts
  packages/cosmos/library/types/cosmos/params/types/types.ts
  packages/cosmos/library/types/cosmos/tx/v1beta1/tx.ts
  packages/cosmos/package.json
  packages/cosmos/protoc/grpc-gateway/cosmos/base/abci/v1beta1/abci.pb.ts
  packages/cosmos/protoc/grpc-gateway/cosmos/params/types/types.pb.ts
  packages/cosmos/protoc/grpc-gateway/cosmos/tx/v1beta1/tx.pb.ts
  packages/cosmos/protoc/ts-proto/cosmos/base/abci/v1beta1/abci.ts
  packages/cosmos/protoc/ts-proto/cosmos/params/types/types.ts
  packages/cosmos/protoc/ts-proto/cosmos/tx/v1beta1/tx.ts
  packages/cosmos/public/encoding/stargate.ts
  packages/cosmos/scripts/encoding/stargate.ts
Due: none

Add Amino Converters and Registry exports (#216)
  .changeset/giant-beers-try.md
  packages/cosmos/README.md
  packages/cosmos/library/encoding/amino.ts
  packages/cosmos/library/encoding/cosmos/base/abci/v1beta1/abci.ts
  packages/cosmos/library/encoding/cosmos/params/types/types.ts
  packages/cosmos/library/encoding/cosmos/tx/v1beta1/tx.ts
  packages/cosmos/library/encoding/registry.ts
  packages/cosmos/library/encoding/stargate.ts
  packages/cosmos/library/types/cosmos/base/abci/v1beta1/abci.ts
  packages/cosmos/library/types/cosmos/params/types/types.ts
  packages/cosmos/library/types/cosmos/tx/v1beta1/tx.ts
  packages/cosmos/protoc/grpc-gateway/cosmos/base/abci/v1beta1/abci.pb.ts
  packages/cosmos/protoc/grpc-gateway/cosmos/params/types/types.pb.ts
  packages/cosmos/protoc/grpc-gateway/cosmos/tx/v1beta1/tx.pb.ts
  packages/cosmos/protoc/ts-proto/cosmos/base/abci/v1beta1/abci.ts
  packages/cosmos/protoc/ts-proto/cosmos/params/types/types.ts
  packages/cosmos/protoc/ts-proto/cosmos/tx/v1beta1/tx.ts
  packages/cosmos/public/encoding/stargate.ts
  packages/cosmos/scripts/encoding/stargate.ts
Due: none

Added a helper function to derive an address from a given private key
  packages/cosmjs/README.md
  packages/cosmjs/src/utils/address.ts
Due: core

Added changeset
  .changeset/six-cougars-prove.md
Due: none

Improved README to show all the available exported functions and their params, descriptions, usage and return values.
  packages/ledger/README.md
Due: none

Added changeset
  .changeset/wild-turkeys-peel.md
Due: none

Switch generate and restore wallet to use an optional HD path
  packages/cosmjs/README.md
  packages/cosmjs/src/wallet/wallet.ts
Due: core

Adjsuted test cases
  packages/cosmjs/src/wallet/__tests__/wallet.spec.ts
Due: core

@sei-js/ledger: README improvement (#219)
  .changeset/wild-turkeys-peel.md
  packages/ledger/README.md
Due: none

@sei-js/cosmjs: Address & Private Key Derivation Changes (#218)
  .changeset/six-cougars-prove.md
  packages/cosmjs/README.md
  packages/cosmjs/src/utils/address.ts
  packages/cosmjs/src/wallet/__tests__/wallet.spec.ts
  packages/cosmjs/src/wallet/wallet.ts
Due: core

Refactored import/exports
  packages/cosmos/README.md
  packages/cosmos/library/encoding/amino.ts
  packages/cosmos/library/encoding/index.ts
  packages/cosmos/library/encoding/registry.ts
  packages/cosmos/library/encoding/stargate.ts
  packages/cosmos/package.json
  packages/cosmos/public/encoding/stargate.ts
  packages/cosmos/scripts/encoding/create-encoder.ts
  packages/cosmos/scripts/encoding/stargate.ts
  packages/cosmos/scripts/index.ts
Due: none

Path conditions:
  core: any of: packages/cosmjs/**
  react: any of: packages/evm/**
  proto: any of: packages/proto/**
  registry: any of: packages/registry/**
  create-sei: any of: packages/create-sei/**
  actions: any of: packages/actions/**
