Repository sei-protocol/sei-js: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, proto

Adding updated token factory proto (#130)
  packages/proto/proto/tokenfactory/query.proto
  packages/proto/src/codegen/tokenfactory/query.lcd.ts
  packages/proto/src/codegen/tokenfactory/query.rpc.Query.ts
  packages/proto/src/codegen/tokenfactory/query.ts
Due: proto

Added optional parameter to createWagmiConfig
  .nx/cache/file-map.json
  .nx/cache/jest.hash
  .nx/cache/nx_files.nxt
  .nx/cache/run.json
  packages/evm/README.md
  packages/evm/src/providers/wagmi.ts
Due: react

Removed cached nx files, fixed cli build
  .nx/cache/cloud/verify.lock
  .nx/cache/file-map.json
  .nx/cache/jest.hash
  .nx/cache/lockfile.hash
  .nx/cache/nx_files.nxt
  .nx/cache/parsed-lock-file.json
  .nx/cache/project-graph.json
  .nx/cache/run.json
  packages/cli/templates/providers/evm.tsx
  packages/cli/test-vite-cosmjs-mantine/.eslintrc.cjs
  packages/cli/test-vite-cosmjs-mantine/.gitignore
  packages/cli/test-vite-cosmjs-mantine/README.md
  packages/cli/test-vite-cosmjs-mantine/index.html
  packages/cli/test-vite-cosmjs-mantine/package.json
  packages/cli/test-vite-cosmjs-mantine/public/vite.svg
  packages/cli/test-vite-cosmjs-mantine/src/App.css
  packages/cli/test-vite-cosmjs-mantine/src/App.tsx
  packages/cli/test-vite-cosmjs-mantine/src/assets/react.svg
  packages/cli/test-vite-cosmjs-mantine/src/components/WalletConnectButton.tsx
  packages/cli/test-vite-cosmjs-mantine/src/index.css
  packages/cli/test-vite-cosmjs-mantine/src/main.tsx
  packages/cli/test-vite-cosmjs-mantine/src/providers/WalletProvider.tsx
  packages/cli/test-vite-cosmjs-mantine/src/vite-env.d.ts
  packages/cli/test-vite-cosmjs-mantine/tsconfig.json
  packages/cli/test-vite-cosmjs-mantine/tsconfig.node.json
  packages/cli/test-vite-cosmjs-mantine/vite.config.ts
  packages/cli/test-vite-cosmjs-mantine/yarn.lock
  packages/cli/test/test-vite-evm-mantine/src/hooks/useEthersSigner.tsx
  packages/evm/CHANGELOG.md
  packages/evm/package.json
Due: react

Added static versioning to cosmjs for /proto
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cosmjs/CHANGELOG.md
  packages/cosmjs/package.json
  packages/cosmjs/tsconfig.json
  packages/evm/tsconfig.json
  packages/proto/CHANGELOG.md
  packages/proto/package.json
Due: core, react, proto

Fixed cosmjs tests
  .gitignore
  packages/cosmjs/jest.config.ts
  packages/cosmjs/tsconfig.json
Due: core

Fixed codecov github action to reflect new packages
  .github/workflows/coverage.yml
Due: none

Removed testing changelog files, removed codecov from git commits
  EXAMPLES.md
  packages/cli/CHANGELOG.md
  packages/cosmjs/CHANGELOG.md
  packages/cosmjs/coverage/clover.xml
  packages/cosmjs/coverage/coverage-final.json
  packages/cosmjs/coverage/lcov-report/base.css
  packages/cosmjs/coverage/lcov-report/block-navigation.js
  packages/cosmjs/coverage/lcov-report/core/signingClient/cosmWasmClient.ts.html
  packages/cosmjs/coverage/lcov-report/core/signingClient/index.html
  packages/cosmjs/coverage/lcov-report/core/signingClient/stargateClient.ts.html
  packages/cosmjs/coverage/lcov-report/favicon.png
  packages/cosmjs/coverage/lcov-report/index.html
  packages/cosmjs/coverage/lcov-report/prettify.css
  packages/cosmjs/coverage/lcov-report/prettify.js
  packages/cosmjs/coverage/lcov-report/sort-arrow-sprite.png
  packages/cosmjs/coverage/lcov-report/sorter.js
  packages/cosmjs/coverage/lcov-report/utils/bech32.ts.html
  packages/cosmjs/coverage/lcov-report/utils/index.html
  packages/cosmjs/coverage/lcov-report/wallet/index.html
  packages/cosmjs/coverage/lcov-report/wallet/keplrVerification.ts.html
  packages/cosmjs/coverage/lcov-report/wallet/utils.ts.html
  packages/cosmjs/coverage/lcov-report/wallet/wallet.ts.html
  packages/cosmjs/coverage/lcov.info
  packages/evm/CHANGELOG.md
  packages/evm/coverage/clover.xml
  packages/evm/coverage/coverage-final.json
  packages/evm/coverage/lcov-report/base.css
  packages/evm/coverage/lcov-report/block-navigation.js
  packages/evm/coverage/lcov-report/chainInfo.ts.html
  packages/evm/coverage/lcov-report/favicon.png
  packages/evm/coverage/lcov-report/index.html
  packages/evm/coverage/lcov-report/prettify.css
  packages/evm/coverage/lcov-report/prettify.js
  packages/evm/coverage/lcov-report/sort-arrow-sprite.png
  packages/evm/coverage/lcov-report/sorter.js
  packages/evm/coverage/lcov.info
  packages/proto/CHANGELOG.md
Due: core, react, proto

Switched exports of typescript types for imports
  packages/cosmjs/package.json
  packages/cosmjs/src/core/queryClient/queryClient.ts
  packages/cosmjs/src/staking/apr.ts
  packages/cosmjs/tsconfig.json
  packages/evm/src/providers/wagmi.ts
  packages/proto/src/codegen/utf8.ts
  packages/proto/tsconfig.json
  tsconfig.base.json
  yarn.lock
Due: core, react, proto

Added NPM Ignore & Fixed proto types exports
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/cosmjs/.npmignore
  packages/cosmjs/package.json
  packages/evm/.npmignore
  packages/evm/package.json
  packages/proto/.npmignore
  packages/proto/package.json
Due: core, react, proto

ESLint, ABI, Cosmos Naming, and ethers runners
  .eslintignore
  .eslintrc.base.json
  .eslintrc.json
  .github/workflows/checks.yml
  README.md
  package.json
  packages/cli/.eslintignore
  packages/cli/eslintrc.json
  packages/cli/package.json
  packages/cosmjs/.babelrc.js
  packages/cosmjs/.eslintignore
  packages/cosmjs/eslintrc.json
  packages/cosmjs/package.json
  packages/cosmjs/src/cosmoskit/chains.ts
  packages/cosmjs/src/utils/__tests__/address.spec.ts
  packages/cosmjs/src/utils/address.ts
  packages/cosmjs/src/utils/serialize.ts
  packages/evm/.eslintignore
  packages/evm/.npmignore
  packages/evm/eslintrc.json
  packages/evm/package.json
  packages/evm/src/precompiles/address.ts
  packages/evm/src/precompiles/bank.ts
  packages/evm/src/precompiles/distribution.ts
  packages/evm/src/precompiles/governance.ts
  packages/evm/src/precompiles/json.ts
  packages/evm/src/precompiles/staking.ts
  packages/evm/src/precompiles/wasm.ts
  packages/evm/src/providers/viem.ts
  packages/evm/src/providers/wagmi.ts
  packages/evm/src/utils/parse.ts
  packages/proto/eslintrc.json
  packages/proto/package.json
  yarn.lock
Due: core, react, proto

Added changeset
  .changeset/angry-timers-juggle.md
Due: none

Removed cli package
  packages/cli/.eslintignore
  packages/cli/.gitignore
  packages/cli/CHANGELOG.md
  packages/cli/README.md
  packages/cli/eslintrc.json
  packages/cli/package.json
  packages/cli/src/main.ts
  packages/cli/src/setup/frontend.ts
  packages/cli/src/setup/rpcIntegrations.ts
  packages/cli/src/setup/stylingFrameworks.ts
  packages/cli/src/setup/uiComponentLibraries.ts
  packages/cli/src/setup/walletConnectButton.ts
  packages/cli/templates/components/cosmjs.tsx
  packages/cli/templates/components/evm.tsx
  packages/cli/templates/mantine/postcss.config.js
  packages/cli/templates/next-app-tailwind.tsx
  packages/cli/templates/next-app.tsx
  packages/cli/templates/next-main.tsx
  packages/cli/templates/providers/cosmjs.tsx
  packages/cli/templates/providers/evm.tsx
  packages/cli/templates/styles/defaults-mantine.css
  packages/cli/templates/styles/defaults-next.css
  packages/cli/templates/styles/defaults-vite-css.css
  packages/cli/templates/styles/defaults-vite.css
  packages/cli/templates/tailwind/config-nextjs.ts
  packages/cli/templates/tailwind/config-vite.ts
  packages/cli/templates/vite-app-cosmjs-css.tsx
  packages/cli/templates/vite-app-cosmjs-mantine.tsx
  packages/cli/templates/vite-app-cosmjs-tailwind.tsx
  packages/cli/templates/vite-app-evm-css.tsx
  packages/cli/templates/vite-app-evm-mantine.tsx
  packages/cli/templates/vite-app-evm-tailwind.tsx
  packages/cli/templates/vite-main-mantine.tsx
  packages/cli/templates/vite-main.tsx
  packages/cli/templates/vite/config.ts
  packages/cli/tsconfig.json
Due: none

Added peer dependencies to github actions
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
Due: none

Added workspace flag to peer dependencies installation
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
Due: none

IBC precompile draft
  packages/evm/src/precompiles/ibc.ts
  packages/evm/src/providers/viem.ts
Due: react

Fixed codecov update to new package structure
  .github/workflows/coverage.yml
Due: none

Update readme
  packages/evm/README.md
  packages/evm/src/precompiles/ibc.ts
Due: react

fix typos
  packages/evm/README.md
Due: react

Fixed docs building and deploying by installing required peer dependencies
  .github/workflows/deploydocs.yml
Due: none

Fixed docs building and deploying by installing required peer dependencies (#135)
  .github/workflows/deploydocs.yml
Due: none

Added @sei-js/proto to peer dependency
  .github/workflows/deploydocs.yml
Due: none

Added @sei-js/proto to peer dependency (#136)
  .github/workflows/deploydocs.yml
Due: none

Fix typo in exports
  packages/proto/package.json
  yarn.lock
Due: proto

Add changeset
  .changeset/olive-tools-sort.md
Due: none

Added changeset
  .changeset/brave-lies-rescue.md
Due: none

IBC precompile
  packages/evm/README.md
  packages/evm/src/precompiles/ibc.ts
  packages/evm/src/providers/viem.ts
Due: react

- extra line
  packages/evm/src/precompiles/ibc.ts
Due: react

IBC precompile (#142)
  packages/evm/README.md
  packages/evm/src/precompiles/ibc.ts
  packages/evm/src/providers/viem.ts
Due: react

Replace Babel with TSC
  .github/workflows/deploydocs.yml
  packages/cosmjs/.babelrc.js
  packages/cosmjs/.npmignore
  packages/cosmjs/package.json
  packages/cosmjs/src/index-browser.ts
  packages/cosmjs/tsconfig.declaration.json
  packages/evm/.babelrc.js
  packages/evm/.npmignore
  packages/evm/package.json
  packages/evm/tsconfig.declaration.json
  packages/proto/.babelrc.js
  packages/proto/.npmignore
  packages/proto/package.json
  packages/proto/scripts/codegen.js
  yarn.lock
Due: core, react, proto

Added changeset
  .changeset/calm-keys-hammer.md
Due: none

Replace Babel with TSC (#143)
  .changeset/calm-keys-hammer.md
  .github/workflows/deploydocs.yml
  packages/cosmjs/.babelrc.js
  packages/cosmjs/.npmignore
  packages/cosmjs/package.json
  packages/cosmjs/src/index-browser.ts
  packages/cosmjs/tsconfig.declaration.json
  packages/evm/.babelrc.js
  packages/evm/.npmignore
  packages/evm/package.json
  packages/evm/tsconfig.declaration.json
  packages/proto/.babelrc.js
  packages/proto/.npmignore
  packages/proto/package.json
  packages/proto/scripts/codegen.js
  yarn.lock
Due: core, react, proto

@sei-js/proto dependency fix
  packages/cosmjs/package.json
Due: core

Added changeset
  .changeset/nasty-dodos-perform.md
Due: none

Updated assetlist and package.json
  packages/registry/package.json
Due: none

Removed duplicate js files from failed tsc, fixed testing issue
  package.json
  packages/registry/src/chain-info/index.js
  packages/registry/src/gas/index.js
  packages/registry/src/ibc/index.js
  packages/registry/src/index.js
  packages/registry/src/networks/index.js
  packages/registry/src/tokens/index.js
Due: none

Added typedoc comments
  packages/registry/src/chain-info/index.js
  packages/registry/src/gas/index.js
  packages/registry/src/ibc/index.js
  packages/registry/src/index.js
  packages/registry/src/networks/index.js
  packages/registry/src/tokens/index.js
  packages/registry/src/tokens/index.ts
Due: none

Path conditions:
  core: any of: packages/cosmjs/**
  react: any of: packages/evm/**
  proto: any of: packages/proto/**
