Repository sei-protocol/sei-js: changes, and which Codecov flags are due for each by the changed paths.
All: create-sei, precompiles, ledger, registry, sei-global-wallet

docs(create-sei): record 0.35.4 as the Sharp advisory floor
  .changeset/fix-create-sei-next-sharp-advisories.md
  packages/create-sei/templates/next-template/README.md
  packages/create-sei/templates/next-template/next.config.mjs
Due: create-sei

fix(create-sei): clear the new Next.js and sharp advisories
  .changeset/fix-create-sei-next-sharp-advisories.md
  packages/create-sei/templates/next-template/README.md
  packages/create-sei/templates/next-template/next.config.mjs
  packages/create-sei/templates/next-template/package.json
Due: create-sei

fix: clear wallet and create-sei advisory drift (#350)
  .changeset/fix-create-sei-next-sharp-advisories.md
  .changeset/fix-global-wallet-sharp-override.md
  packages/create-sei/templates/next-template/README.md
  packages/create-sei/templates/next-template/next.config.mjs
  packages/create-sei/templates/next-template/package.json
  packages/sei-global-wallet/README.md
  scripts/check-sei-global-wallet.ts
  scripts/consumer-audit.test.ts
  scripts/consumer-audit.ts
  scripts/documented-overrides.test.ts
  scripts/documented-overrides.ts
Due: create-sei, sei-global-wallet

fix(mcp-server): isolate wallet config per runtime
  .changeset/fix-mcp-server-instance-scoped-wallet.md
  REVIEW.md
  packages/mcp-server/README.md
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/core/wallet/index.ts
  packages/mcp-server/src/core/wallet/providers/private-key.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/server/args.ts
  packages/mcp-server/src/server/server.ts
  packages/mcp-server/src/server/transport/factory.ts
  packages/mcp-server/src/server/transport/http-sse.ts
  packages/mcp-server/src/server/transport/streamable-http.ts
  packages/mcp-server/src/server/transport/types.ts
  packages/mcp-server/src/tests/core/config.test.ts
  packages/mcp-server/src/tests/core/wallet/index.test.ts
  packages/mcp-server/src/tests/core/wallet/providers/private-key.test.ts
  packages/mcp-server/src/tests/index.test.ts
  packages/mcp-server/src/tests/server/args.test.ts
  packages/mcp-server/src/tests/server/transport/factory.test.ts
  packages/mcp-server/src/tests/server/transport/wallet-isolation.test.ts
Due: none

fix(mcp-server): keep stdio signer on its snapshot after stop
  .changeset/fix-mcp-server-instance-scoped-wallet.md
  REVIEW.md
  packages/mcp-server/README.md
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/server/server.ts
  packages/mcp-server/src/server/transport/factory.ts
  packages/mcp-server/src/server/transport/stdio.ts
  packages/mcp-server/src/tests/core/config.test.ts
  packages/mcp-server/src/tests/core/wallet/index.test.ts
  packages/mcp-server/src/tests/server/server.test.ts
  packages/mcp-server/src/tests/server/transport/factory.test.ts
  packages/mcp-server/src/tests/server/transport/stdio.test.ts
  packages/mcp-server/src/tests/server/transport/wallet-isolation.test.ts
Due: none

fix(mcp-server): typecheck wallet isolation tool results
  packages/mcp-server/src/tests/server/transport/wallet-isolation.test.ts
Due: none

fix(mcp-server): fail closed on runtime wallet config
  .changeset/fix-mcp-server-instance-scoped-wallet.md
  REVIEW.md
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/core/wallet/index.ts
  packages/mcp-server/src/core/wallet/providers/private-key.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/server/server.ts
  packages/mcp-server/src/server/transport/factory.ts
  packages/mcp-server/src/server/transport/http-sse.ts
  packages/mcp-server/src/server/transport/security.ts
  packages/mcp-server/src/server/transport/stdio.ts
  packages/mcp-server/src/server/transport/streamable-http.ts
  packages/mcp-server/src/server/transport/types.ts
  packages/mcp-server/src/tests/core/config.test.ts
  packages/mcp-server/src/tests/core/wallet/index.test.ts
  packages/mcp-server/src/tests/core/wallet/providers/private-key.test.ts
  packages/mcp-server/src/tests/index.test.ts
  packages/mcp-server/src/tests/server/server.test.ts
  packages/mcp-server/src/tests/server/transport/factory.test.ts
  packages/mcp-server/src/tests/server/transport/security.test.ts
  packages/mcp-server/src/tests/server/transport/wallet-isolation.test.ts
Due: none

fix(mcp-server): tighten runtime config boundaries
  .changeset/fix-mcp-server-instance-scoped-wallet.md
  REVIEW.md
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/server/server.ts
  packages/mcp-server/src/server/transport/factory.ts
  packages/mcp-server/src/server/transport/http-sse.ts
  packages/mcp-server/src/server/transport/security.ts
  packages/mcp-server/src/server/transport/stdio.ts
  packages/mcp-server/src/server/transport/streamable-http.ts
  packages/mcp-server/src/server/transport/types.ts
  packages/mcp-server/src/tests/core/config.test.ts
  packages/mcp-server/src/tests/index.test.ts
  packages/mcp-server/src/tests/server/server.test.ts
  packages/mcp-server/src/tests/server/transport/factory.test.ts
  packages/mcp-server/src/tests/server/transport/http-sse.test.ts
  packages/mcp-server/src/tests/server/transport/security.test.ts
  packages/mcp-server/src/tests/server/transport/streamable-http.test.ts
  packages/mcp-server/src/tests/server/transport/wallet-isolation.test.ts
Due: none

fix(mcp-server): bind wallet context at tool handlers
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/server/args.ts
  packages/mcp-server/src/server/server.ts
  packages/mcp-server/src/server/transport/stdio.ts
  packages/mcp-server/src/server/transport/types.ts
  packages/mcp-server/src/tests/core/config.test.ts
  packages/mcp-server/src/tests/index.test.ts
  packages/mcp-server/src/tests/server/args.test.ts
  packages/mcp-server/src/tests/server/server.test.ts
  packages/mcp-server/src/tests/server/transport/factory.test.ts
  packages/mcp-server/src/tests/server/transport/stdio.test.ts
  packages/mcp-server/src/tests/server/transport/wallet-isolation.test.ts
Due: none

refactor(mcp-server): simplify scoped wallet policy
  .changeset/fix-mcp-server-instance-scoped-wallet.md
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/core/wallet/index.ts
  packages/mcp-server/src/server/server.ts
  packages/mcp-server/src/server/transport/http-sse.ts
  packages/mcp-server/src/server/transport/streamable-http.ts
  packages/mcp-server/src/tests/core/config.test.ts
  packages/mcp-server/src/tests/core/tools.test.ts
  packages/mcp-server/src/tests/core/wallet/index.test.ts
  packages/mcp-server/src/tests/server/transport/http-sse.test.ts
  packages/mcp-server/src/tests/server/transport/streamable-http.test.ts
  packages/mcp-server/src/tests/server/transport/wallet-isolation.test.ts
Due: none

test(mcp-server): harden wallet isolation coverage
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/core/wallet/index.ts
  packages/mcp-server/src/server/server.ts
  packages/mcp-server/src/tests/core/tools.test.ts
  packages/mcp-server/src/tests/server/transport/wallet-isolation.test.ts
Due: none

refactor(mcp-server): bind all runtime callbacks
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/core/tools.ts
  packages/mcp-server/src/core/wallet/index.ts
  packages/mcp-server/src/server/server.ts
  packages/mcp-server/src/tests/core/config.test.ts
  packages/mcp-server/src/tests/core/tools.test.ts
  packages/mcp-server/src/tests/core/wallet/index.test.ts
  packages/mcp-server/src/tests/server/server.test.ts
  packages/mcp-server/src/tests/server/transport/factory.test.ts
  packages/mcp-server/src/tests/server/transport/http-sse.test.ts
  packages/mcp-server/src/tests/server/transport/stdio.test.ts
  packages/mcp-server/src/tests/server/transport/streamable-http.test.ts
  packages/mcp-server/src/tests/server/transport/wallet-isolation.test.ts
Due: none

refactor(mcp-server): close remaining scope fallbacks
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/core/wallet/index.ts
  packages/mcp-server/src/server/server.ts
  packages/mcp-server/src/server/transport/http-sse.ts
  packages/mcp-server/src/server/transport/streamable-http.ts
  packages/mcp-server/src/tests/core/config.test.ts
  packages/mcp-server/src/tests/server/server.test.ts
Due: none

fix(mcp-server): isolate wallet config per runtime (#352)
  .changeset/fix-mcp-server-instance-scoped-wallet.md
  packages/mcp-server/README.md
  packages/mcp-server/src/core/config.ts
  packages/mcp-server/src/core/wallet/index.ts
  packages/mcp-server/src/core/wallet/providers/private-key.ts
  packages/mcp-server/src/index.ts
  packages/mcp-server/src/server/args.ts
  packages/mcp-server/src/server/server.ts
  packages/mcp-server/src/server/transport/factory.ts
  packages/mcp-server/src/server/transport/http-sse.ts
  packages/mcp-server/src/server/transport/stdio.ts
  packages/mcp-server/src/server/transport/streamable-http.ts
  packages/mcp-server/src/server/transport/types.ts
  packages/mcp-server/src/tests/core/config.test.ts
  packages/mcp-server/src/tests/core/wallet/index.test.ts
  packages/mcp-server/src/tests/core/wallet/providers/private-key.test.ts
  packages/mcp-server/src/tests/index.test.ts
  packages/mcp-server/src/tests/server/args.test.ts
  packages/mcp-server/src/tests/server/server.test.ts
  packages/mcp-server/src/tests/server/transport/factory.test.ts
  packages/mcp-server/src/tests/server/transport/http-sse.test.ts
  packages/mcp-server/src/tests/server/transport/stdio.test.ts
  packages/mcp-server/src/tests/server/transport/streamable-http.test.ts
  packages/mcp-server/src/tests/server/transport/wallet-isolation.test.ts
Due: none

feat(precompiles): stream log chunks and adapt to what the node refuses
  .changeset/precompiles-get-logs-in-range.md
  packages/precompiles/README.md
  packages/precompiles/src/viem/__tests__/logs.spec.ts
  packages/precompiles/src/viem/logs.ts
  scripts/check-precompile-exports.ts
Due: precompiles

feat(precompiles): let a log walk be aborted, and re-probe a rate limit without waiting
  packages/precompiles/src/viem/__tests__/logs.spec.ts
  packages/precompiles/src/viem/logs.ts
Due: precompiles

fix(precompiles): wait out a new spell of throttling, and pin the abort test
  packages/precompiles/README.md
  packages/precompiles/src/viem/__tests__/logs.spec.ts
  packages/precompiles/src/viem/logs.ts
Due: precompiles

feat(precompiles): read logs across a block range (#349)
  .changeset/precompiles-get-logs-in-range.md
  packages/precompiles/README.md
  packages/precompiles/src/index.ts
  packages/precompiles/src/viem/__tests__/logs.spec.ts
  packages/precompiles/src/viem/index.ts
  packages/precompiles/src/viem/logs.ts
  scripts/check-precompile-exports.ts
Due: precompiles

ci: move onto the seidroid review workflow, retire ai-review
  .github/workflows/ai-review.yml
  .github/workflows/seidroid.yml
Due: none

fix(sei-global-wallet): raise the axios override to 1.20.0
  .changeset/fix-global-wallet-axios-override.md
  bun.lock
  package.json
  packages/sei-global-wallet/README.md
  scripts/check-sei-global-wallet.ts
Due: sei-global-wallet

docs(sei-global-wallet): list the axios advisory IDs in the changeset
  .changeset/fix-global-wallet-axios-override.md
Due: none

fix(sei-global-wallet): raise the axios override to 1.20.0 (#354)
  .changeset/fix-global-wallet-axios-override.md
  bun.lock
  package.json
  packages/sei-global-wallet/README.md
  scripts/check-sei-global-wallet.ts
Due: sei-global-wallet

Path conditions:
  create-sei: any of: packages/create-sei/**
  precompiles: any of: packages/precompiles/**
  ledger: any of: packages/ledger/**
  registry: any of: packages/registry/**
  sei-global-wallet: any of: packages/sei-global-wallet/**
